
            <form name="basicForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label for="Region:_">Region</label>
                            <div class="form-group">
                                <select name="Region" ng-model="selected_region" class="form-control"
                                        ng-disabled="status"
                                        ng-options="option as option.Name for option in region_code_options">
                                    <option value="">[Select Region]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="Province:_">Province</label>
                            <div class="form-group">
                                <select name="Province" ng-model="selected_province" class="form-control"
                                        ng-disabled="selected_region == null || status"
                                        ng-options="option as option.Name for option in prov_code_options">
                                    <option value="">[Select Province]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="Municipality:_">Municipality</label>
                            <div class="form-group">
                                <div class="form-group">
                                    <select name="Municipality" ng-model="selected_city" class="form-control" ng-change="search()"
                                            ng-disabled="selected_province == null || status"
                                            ng-options="option as option.Name for option in city_code_options">
                                        <option value="">[Select Municipality]</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Talakayan Year</label>
                            <div class="form-group">
                                <select name="talakayan_yr" ng-model="selected_talakayan_year" class="form-control" ng-required="true"
                                        ng-change="clear()"
                                        ng-disabled="status"
                                        ng-options="option as option.Name for option in talakayan_year_options">
                                    <option value="">[Select Year]</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <label>Current NCDDP Cycle</label>
                            <select name="cycle_id" ng-model="selected_cycle_id" class="form-control"
                                    ng-required="true"
                                    ng-options="option as option.Name for option in cycle_id_options">
                                <option value="">[Select Cycle]</option>
                            </select>
                        </div>*@
                    </div>
                </div>
                <div class="row">
                    <div flex="100" layout="row" style="margin-left:20px" layout-margin layout-md="column">
                        <a class="btn btn-primary" ng-click="search(); show_div=true" ng-disabled="!basicForm.$valid">
                            <i class="fa fa-filter fa-lg"></i>&nbsp;&nbsp; Filter
                        </a>
                        <a class="btn btn-warning" ng-click="clear()">
                            <i class="fa fa-recycle fa-lg"></i>&nbsp;&nbsp; Clear
                        </a>
                        <a class="btn btn-warning" ng-click="printContent()" ng-disabled="!basicForm.$valid">
                            <i class="fa fa-print fa-lg"></i>&nbsp;&nbsp; Print
                        </a>
                        <a class="btn btn-success" ng-click="exportToXLS()" ng-disabled="!basicForm.$valid">
                            <i class="fa fa-print fa-lg"></i>&nbsp;&nbsp; Export
                        </a>
                    </div>
                </div>



                @*<div class="row">
                    <div class="col-md-12">

                        <div class="col-md-6">
                            <md-button class="md-raised" ng-click="search(); show_div=true" ng-disabled="!basicForm.$valid">
                                <i class="fa fa-filter"></i>  Filter
                            </md-button>
                            <md-button class="md-warn md-raised" ng-click="clear()">
                                <i class="fa fa-recycle"></i>  Clear
                            </md-button>
                            <md-button class="md-primary md-raised" ng-click="printContent()" ng-disabled="!basicForm.$valid">
                                <i class="fa fa-print"></i>  Print
                            </md-button>
                            <md-button class="md-raised md-warn" ng-click="exportToXLS()" ng-disabled="!basicForm.$valid">
                                <i class="fa fa-file-excel-o"></i>   Export
                            </md-button>
                        </div>
                    </div>
                </div>*@
            </form>

