<md-tabs md-dynamic-height md-border-bottom>

    <!--1st Tab-->
    <md-tab label="2009">
        <div class="panel panel-body">
            <div class="row" style="padding:40px">
                <table class="table table-striped table-compact table-bordered" ng-repeat="item in LGPMSlist">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <tr style="background-color: #DDEFEF">
                        <td style="text-align:center">
                            <strong>Areas</strong>
                        </td>
                        <td style="text-align:center"></td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Administrative Governance</strong>
                        </td>
                        <td>
                            {{item.administrative_governance_2009}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Social Governance</strong>
                        </td>
                        <td>
                            {{item.social_governance_2009}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Economic Governance</strong>
                        </td>
                        <td>
                            {{item.economic_governance_2009}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Environmental Governance</strong>
                        </td>
                        <td>
                            {{item.environmental_governance_2009}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Valuing Fundamentals of Good Governance</strong>
                        </td>
                        <td>
                            {{item.valuing_fundamentals_of_good_gov_2009}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Overall Performance</strong>
                        </td>
                        <td>
                            {{item.overall_performance_index_2009}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </md-tab>
    <!--2nd Tab-->
    <md-tab label="2010">
        <div class="panel panel-body">
            <div class="row" style="padding:40px">
                <table class="table table-striped table-compact table-bordered" ng-repeat="item in LGPMSlist">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <tr style="background-color: #DDEFEF">
                        <td style="text-align:center">
                            <strong>Areas</strong>
                        </td>
                        <td style="text-align:center"></td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Administrative Governance</strong>
                        </td>
                        <td>
                            {{item.administrative_governance_2010}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Social Governance</strong>
                        </td>
                        <td>
                            {{item.social_governance_2010}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Economic Governance</strong>
                        </td>
                        <td>
                            {{item.economic_governance_2010}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Environmental Governance</strong>
                        </td>
                        <td>
                            {{item.environmental_governance_2010}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Valuing Fundamentals of Good Governance</strong>
                        </td>
                        <td>
                            {{item.valuing_fundamentals_of_good_gov_2010}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Overall Performance</strong>
                        </td>
                        <td>
                            {{item.overall_performance_index_2010}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </md-tab>
    <!--3rd Tab-->
    <md-tab label="2011">
        <div class="panel panel-body">
            <div class="row" style="padding:40px">
                <table class="table table-striped table-compact table-bordered" ng-repeat="item in LGPMSlist">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <tr style="background-color: #DDEFEF">
                        <td style="text-align:center">
                            <strong>Areas</strong>
                        </td>
                        <td style="text-align:center"></td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Administrative Governance</strong>
                        </td>
                        <td>
                            {{item.administrative_governance_2011}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Social Governance</strong>
                        </td>
                        <td>
                            {{item.social_governance_2011}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Economic Governance</strong>
                        </td>
                        <td>
                            {{item.economic_governance_2011}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Environmental Governance</strong>
                        </td>
                        <td>
                            {{item.environmental_governance_2011}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Valuing Fundamentals of Good Governance</strong>
                        </td>
                        <td>
                            {{item.valuing_fundamentals_of_good_gov_2011}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Overall Performance</strong>
                        </td>
                        <td>
                            {{item.overall_performance_index_2011}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </md-tab>
    <!--4th Tab-->
    <md-tab label="2012">
        <div class="panel panel-body">
            <div class="row" style="padding:40px">
                <table class="table table-striped table-compact table-bordered" ng-repeat="item in LGPMSlist">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <tr style="background-color: #DDEFEF">
                        <td style="text-align:center">
                            <strong>Areas</strong>
                        </td>
                        <td style="text-align:center"></td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Administrative Governance</strong>
                        </td>
                        <td>
                            {{item.administrative_governance_2012}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Social Governance</strong>
                        </td>
                        <td>
                            {{item.social_governance_2012}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Economic Governance</strong>
                        </td>
                        <td>
                            {{item.economic_governance_2012}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Environmental Governance</strong>
                        </td>
                        <td>
                            {{item.environmental_governance_2012}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Valuing Fundamentals of Good Governance</strong>
                        </td>
                        <td>
                            {{item.valuing_fundamentals_of_good_gov_2012}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Overall Performance</strong>
                        </td>
                        <td>
                            {{item.overall_performance_index_2012}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </md-tab>

</md-tabs>