



<div class="col-md-3">
    @Html.Label("Employment Status: ")
    <select class="form-control" data-bind="options: lib_employment_statuses, value: employment_status_id,
    optionsText: 'name',
    optionsValue: 'employment_status_id',optionsCaption: '[Select Status]'"></select>
</div>