

<div class="col-md-3">
    @Html.Label("Fund Source: ")
    <select class="form-control" data-bind="options: lib_fund_sources, value: fund_source_id,
    optionsText: 'name',
    optionsValue: 'fund_source_id',optionsCaption: '[Select Fund Source]'"></select>
</div>