



<div class="col-md-3">
    @Html.Label("Hiring Status: ")
    <select class="form-control" data-bind="options: lib_hiring_statuses, value: hiring_status_id,
    optionsText: 'name',
    optionsValue: 'hiring_status_id',optionsCaption: '[Select Status]'"></select>
</div>