
<div class="col-md-3">
    @Html.Label("Office Level: ")
    <select class="form-control" data-bind="options: lib_office_levels, value: office_level_id,
    optionsText: 'name',
    optionsValue: 'office_level_id',optionsCaption: '[Select Office Level]'"></select>
</div>