

<div class="col-md-3">
    @Html.Label("DBM Position Name: ")
    <select class="form-control" data-bind="options: lib_position_names, value: position_name_id,
    optionsText: 'name',
    optionsValue: 'position_name_id',optionsCaption: '[Select Position]'"></select>
</div>