
<div class="col-md-3">
    @Html.Label("Region: ")
    <select class="form-control" data-bind="options: library_regions, value: region_code,
    optionsText: 'region_name',
    optionsValue: 'region_code',optionsCaption: '[Select Region]'"></select>
</div>
