

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo</title>

    <style>
                .form-group .help-block {
                    display: none;
                }

                .form-group.has-error .help-block {
                    display: block;
                }

                .dialogdemoBasicUsage #popupContainer {
                    position: relative;
                }

                .dialogdemoBasicUsage .footer {
                    width: 100%;
                    text-align: center;
                    margin-left: 20px;
                }

                    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
                        font-size: 0.8em;
                        margin-top: 50px;
                    }

                .dialogdemoBasicUsage button {
                    width: 200px;
                }

                .dialogdemoBasicUsage div#status {
                    color: #c60008;
                }


                /*
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        */
    </style>
</head>




<body layout="column" class="relative" layout-fill role="main">
    <div ng-controller="AppCtrl" style="padding: 40px;" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="MyApp">


        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Intake GRS Record</div>



        </md-toolbar>


        <md-content flex="" layout-padding="">
            <form name="myForm" ng-cloak>

                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h4>General Information</h4>

                    </div>




                    @Html.Partial("~/Views/Shared/_rpmb_filter_group.cshtml")


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label for="Region:_">Barangay Assembly Purpose</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="barangay_assembly_purpose_id" ng-model="data.barangay_assembly_purpose_id" id="brgy_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in barangay_assembly_purpose_id_options">
                                            <option value="">[Select Barangay Assembly Purpose]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label for="Region:_">Fund Source</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="fund_source_id" ng-model="data.fund_source_id" id="brgy_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in fund_source_id_options">
                                            <option value="">[Select Barangay Assembly Purpose]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label for="Region:_">KC Mode</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="enrollment_id" ng-model="data.enrollment_id" id="brgy_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in enrollment_id_options">
                                            <option value="">[Select Barangay Assembly Purpose]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     

                </div>



                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Barangay/Community Assembly Attendance Sheet</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">


                                    <div class="panel panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">Attendees</div>
                                                <div class="col-md-2">Male</div>
                                                <div class="col-md-2">Female</div>
                                                <div class="col-md-2">Total</div>
                                                <div class="col-md-2">Participation Rate</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">No of. person</div>
                                                <div class="col-md-2"><input class="form-control" ng-model="data.no_atn_male" type="number"placeholder="Male Attendees"/></div>
                                                <div class="col-md-2"><input class="form-control" ng-model="data.no_atn_female" type="number" placeholder="Female Attendees"/></div>
                                                <div class="col-md-2"><input data-bind="value: total_male_female" class="form-control" disabled /> </div>
                                                <div class="col-md-2"><input class="form-control" disabled /></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">No of. IP</div>
                                                <div class="col-md-2"><input class="form-control" data-bind="value: no_ip_male, whole: no_ip_male" /></div>
                                                <div class="col-md-2"><input class="form-control" data-bind="value: no_ip_female, whole: no_ip_female" /></div>
                                                <div class="col-md-2"><input data-bind="value: total_ip_male_female" class="form-control" disabled /> </div>
                                                <div class="col-md-2"><input class="form-control" /></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">No of. 60 years +</div>
                                                <div class="col-md-2"><input class="form-control" data-bind="value: no_old_male, whole: no_old_male" /></div>
                                                <div class="col-md-2"><input class="form-control" data-bind="value: no_old_female, whole: no_old_female" /></div>
                                                <div class="col-md-2"><input data-bind="value: total_old_male_female" class="form-control" disabled /> </div>
                                                <div class="col-md-2"><input class="form-control" /></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">No of. B/LGU</div>
                                                <div class="col-md-2"><input class="form-control" data-bind="value: no_lgu_male, whole: no_lgu_male" /></div>
                                                <div class="col-md-2"><input class="form-control" data-bind="value: no_lgu_female, whole: no_lgu_female" /></div>
                                                <div class="col-md-2"><input class="form-control" /></div>
                                                <div class="col-md-2"><input class="form-control" /></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h4>Details</h4>

                    </div>



                    <div class="form-group">
                        <label for="highlights" class="control-label col-md-2"> Highlights </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.highlights" id="highlights" class="form-control" />
                            <div id="validation_for_highlights"></div>
                        </div>
                    </div>


                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <label for="no_families" class="control-label col-md-2"> no_families </label>
                        <div class="col-md-10">
                            <input name="no_families" required type="number" ng-model="data.no_families" id="no_families" class="form-control" />
                            <div id="validation_for_no_families"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_household" class="control-label col-md-2"> no_household </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_household" id="no_household" class="form-control" />
                            <div id="validation_for_no_household"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_atn_male" class="control-label col-md-2"> no_atn_male </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_atn_male" id="no_atn_male" class="form-control" />
                            <div id="validation_for_no_atn_male"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_atn_female" class="control-label col-md-2"> no_atn_female </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_atn_female" id="no_atn_female" class="form-control" />
                            <div id="validation_for_no_atn_female"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_ip_male" class="control-label col-md-2"> no_ip_male </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_ip_male" id="no_ip_male" class="form-control" />
                            <div id="validation_for_no_ip_male"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_ip_female" class="control-label col-md-2"> no_ip_female </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_ip_female" id="no_ip_female" class="form-control" />
                            <div id="validation_for_no_ip_female"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_old_male" class="control-label col-md-2"> no_old_male </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_old_male" id="no_old_male" class="form-control" />
                            <div id="validation_for_no_old_male"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_old_female" class="control-label col-md-2"> no_old_female </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_old_female" id="no_old_female" class="form-control" />
                            <div id="validation_for_no_old_female"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_pantawid_household" class="control-label col-md-2"> no_pantawid_household </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_pantawid_household" id="no_pantawid_household" class="form-control" />
                            <div id="validation_for_no_pantawid_household"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_pantawid_family" class="control-label col-md-2"> no_pantawid_family </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_pantawid_family" id="no_pantawid_family" class="form-control" />
                            <div id="validation_for_no_pantawid_family"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_slp_household" class="control-label col-md-2"> no_slp_household </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_slp_household" id="no_slp_household" class="form-control" />
                            <div id="validation_for_no_slp_household"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_slp_family" class="control-label col-md-2"> no_slp_family </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_slp_family" id="no_slp_family" class="form-control" />
                            <div id="validation_for_no_slp_family"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_ip_household" class="control-label col-md-2"> no_ip_household </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_ip_household" id="no_ip_household" class="form-control" />
                            <div id="validation_for_no_ip_household"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_ip_family" class="control-label col-md-2"> no_ip_family </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_ip_family" id="no_ip_family" class="form-control" />
                            <div id="validation_for_no_ip_family"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="total_household_in_barangay" class="control-label col-md-2"> total_household_in_barangay </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.total_household_in_barangay" id="total_household_in_barangay" class="form-control" />
                            <div id="validation_for_total_household_in_barangay"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="total_families_in_barangay" class="control-label col-md-2"> total_families_in_barangay </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.total_families_in_barangay" id="total_families_in_barangay" class="form-control" />
                            <div id="validation_for_total_families_in_barangay"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_lgu_male" class="control-label col-md-2"> no_lgu_male </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_lgu_male" id="no_lgu_male" class="form-control" />
                            <div id="validation_for_no_lgu_male"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="no_lgu_female" class="control-label col-md-2"> no_lgu_female </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.no_lgu_female" id="no_lgu_female" class="form-control" />
                            <div id="validation_for_no_lgu_female"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="created_by" class="control-label col-md-2"> created_by </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.created_by" id="created_by" class="form-control" />
                            <div id="validation_for_created_by"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="created_date" class="control-label col-md-2"> created_date </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.created_date" id="created_date" class="form-control" />
                            <div id="validation_for_created_date"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="last_modified_by" class="control-label col-md-2"> last_modified_by </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.last_modified_by" id="last_modified_by" class="form-control" />
                            <div id="validation_for_last_modified_by"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="last_modified_date" class="control-label col-md-2"> last_modified_date </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.last_modified_date" id="last_modified_date" class="form-control" />
                            <div id="validation_for_last_modified_date"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="is_deleted" class="control-label col-md-2"> is_deleted </label>
                        <div class="col-md-10">
                            <input type="checkbox" ng-model="data.is_deleted" id="is_deleted" class="form-control" />
                            <div id="validation_for_is_deleted"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="deleted_by" class="control-label col-md-2"> deleted_by </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.deleted_by" id="deleted_by" class="form-control" />
                            <div id="validation_for_deleted_by"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="deleted_date" class="control-label col-md-2"> deleted_date </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.deleted_date" id="deleted_date" class="form-control" />
                            <div id="validation_for_deleted_date"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="push_status_id" class="control-label col-md-2"> lib_push_status </label>
                        <div class="col-md-10">
                            <select ng-model="data.push_status_id" id="push_status_id" class="form-control"
                                    ng-options="option.Id as option.Name for option in push_status_id_options">
                                <option value="">-- choose lib_push_status --</option>
                            </select>
                            <div id="validation_for_push_status_id"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="push_date" class="control-label col-md-2"> push_date </label>
                        <div class="col-md-10">
                            <input type="text" ng-model="data.push_date" id="push_date" class="form-control" />
                            <div id="validation_for_push_date"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="approval_id" class="control-label col-md-2"> lib_approval </label>
                        <div class="col-md-10">
                            <select ng-model="data.approval_id" id="approval_id" class="form-control"
                                    ng-options="option.Id as option.Name for option in approval_id_options">
                                <option value="">-- choose lib_approval --</option>
                            </select>
                            <div id="validation_for_approval_id"></div>
                        </div>
                    </div>


                </div>
            </form>
        </md-content>

        @*<md-whiteframe class="md-whiteframe-6dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center">
                <span>.md-whiteframe-6dp</span>
            </md-whiteframe>*@

        <md-content>
            @*<md-button class="md-fab md-mini" aria-label="Save">
                    <md-icon md-svg-src="img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;" ng-click="save()"></md-icon>
                    <md-tooltip>
                        Save Record!
                    </md-tooltip>
                </md-button>*@

            <md-button class="md-primary md-raised" ng-click="save()" ng-disabled="myForm.$invalid">
                Save
            </md-button>

        </md-content>








    </div>


</body>



@section Scripts {



    <script>

        angular.module('MyApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])

            .controller('AppCtrl', function ($scope,$mdDialog, $http) {


                $scope.showConfirm = function(ev) {
                    // Appending dialog to document.body to cover sidenav in docs app
                    var confirm = $mdDialog.confirm()
                          .title('Would you like to save this data?')
                          .textContent('If you opt to save this data, the record will be updated/created.')
                          .ariaLabel('Lucky day')
                          .targetEvent(ev)
                          .ok('Save')
                          .cancel('Not Yet');
                    $mdDialog.show(confirm).then(function() {
                        $scope.loading = true;

                        $scope.save();
                        $scope.loading = false;

                    }, function() {
                        $scope.status = 'You decided to save alter.';
                    });
                };



                $scope.data;


                $http.get('/api/offline/v1/BA/get?id=' + @ViewBag.id)
          .then(function (response) {


              $scope.loading = true;

              $scope.data = response.data;

              $scope.dt_date_intake = new Date(response.data.date_intake);
              $scope.dt_resolution_date = new Date(response.data.resolution_date);

              $http.get('/api/lib_region')
         .then(function (response) { $scope.region_code_options = response.data; });

              $http.get('/Api/lib_fund_source/')
      .then(function (response) { $scope.fund_source_id_options = response.data; });

              $http.get('/api/lib_enrollment')
      .then(function (response) { $scope.enrollment_id_options = response.data; });
         
              $http.get('/Api/lib_barangay_assembly_purpose/')
        .then(function (response) { $scope.barangay_assembly_purpose_id_options = response.data; });



              $scope.loading = false;

              $scope.edit = function () {
                  this.editMode = !this.editMode;
              };


              $scope.cancel = function () {

                  $http.get('/api/offline/v1/BA/get?id=' + @ViewBag.id)
            .then(function (response) {

                //            this.editMode = false;

                $scope.data = response.data;

                //   $scope.dt_intake_date = new Date(response.data.intake_date);
                //   $scope.dt_resolution_date = new Date(response.data.resolution_date);
            });
              }




              $scope.save = function () {
                  $scope.$broadcast('show-errors-check-validity');
                  $scope.loading = true;
                  //       alert(JSON.stringify($scope.data));

                  //'/api/v1/grievances/save'


                  $.post('/api/offline/v1/BA/save', $scope.data).success(function (data) {
                      $scope.loading = false;

                      window.location.href = data.url;

                  }).error(function (data) {

                      alert(JSON.stringify(data));


                      $scope.error = "An Error has occured while Saving! " + data.statusText;
                      $scope.loading = false;
                  });
              };
          });




                $scope.$watch('data.region_code', function (newValue, oldValue) {



                    var record = $scope;

                    if (newValue == null) {
                        record.prov_code = null;
                        record.city_code = null;
                        record.brgy_code = null;


                        record.prov_code_options = [];
                        record.city_code_options = [];
                        record.brgy_code_options = [];
                    }
                    else {

                        $http({
                            method: 'GET',
                            url: '/api/lib_province?id=' + newValue,

                        }).success(function (data, status, headers, config) {

                            $scope.prov_code_options = data;
                        }).error(function (data, status, headers, config) {

                            $scope.message = 'Unexpected Error';
                        });
                    }

                });

                $scope.$watch('data.prov_code', function (newValue, oldValue) {

                    var record = $scope;

                    if (newValue == null) {

                        record.brgy_code = null;
                        record.city_code = null;
                        record.city_code_options = [];
                        record.brgy_code_options = [];
                    }

                    else {
                        $http({
                            method: 'GET',
                            url: '/api/lib_city?id=' + newValue,

                        }).success(function (data, status, headers, config) {

                            $scope.city_code_options = data;
                        }).error(function (data, status, headers, config) {

                            $scope.message = 'Unexpected Error';
                        });
                    }

                });

                $scope.$watch('data.city_code', function (newValue, oldValue) {

                    var record = $scope;

                    if (newValue == null) {

                        record.brgy_code = null;

                        record.brgy_code_options = [];
                    }

                    else {
                        $http({
                            method: 'GET',
                            url: '/api/lib_brgy?id=' + newValue,

                        }).success(function (data, status, headers, config) {

                            $scope.brgy_code_options = data;
                        }).error(function (data, status, headers, config) {

                            $scope.message = 'Unexpected Error';
                        });
                    }

                });




            })

        .directive('showErrors', function ($timeout, showErrorsConfig) {
            var getShowSuccess, linkFn;
            getShowSuccess = function (options) {
                var showSuccess;
                showSuccess = showErrorsConfig.showSuccess;
                if (options && options.showSuccess != null) {
                    showSuccess = options.showSuccess;
                }
                return showSuccess;
            };
            linkFn = function (scope, el, attrs, formCtrl) {
                var blurred, inputEl, inputName, inputNgEl, options, showSuccess, toggleClasses;
                blurred = false;
                options = scope.$eval(attrs.showErrors);
                showSuccess = getShowSuccess(options);
                inputEl = el[0].querySelector('[name]');
                inputNgEl = angular.element(inputEl);
                inputName = inputNgEl.attr('name');
                if (!inputName) {
                    throw 'show-errors element has no child input elements with a \'name\' attribute';
                }
                inputNgEl.bind('blur', function () {
                    blurred = true;
                    return toggleClasses(formCtrl[inputName].$invalid);
                });
                scope.$watch(function () {
                    return formCtrl[inputName] && formCtrl[inputName].$invalid;
                }, function (invalid) {
                    if (!blurred) {
                        return;
                    }
                    return toggleClasses(invalid);
                });
                scope.$on('show-errors-check-validity', function () {
                    return toggleClasses(formCtrl[inputName].$invalid);
                });
                scope.$on('show-errors-reset', function () {
                    return $timeout(function () {
                        el.removeClass('has-error');
                        el.removeClass('has-success');
                        return blurred = false;
                    }, 0, false);
                });
                return toggleClasses = function (invalid) {
                    el.toggleClass('has-error', invalid);
                    if (showSuccess) {
                        return el.toggleClass('has-success', !invalid);
                    }
                };
            };
            return {
                restrict: 'A',
                require: '^form',
                compile: function (elem, attrs) {
                    if (!elem.hasClass('form-group')) {
                        throw 'show-errors element does not have the \'form-group\' class';
                    }
                    return linkFn;
                }
            };
        }
      )

        .provider('showErrorsConfig', function () {
            var _showSuccess;
            _showSuccess = false;
            this.showSuccess = function (showSuccess) {
                return _showSuccess = showSuccess;
            };
            this.$get = function () {
                return { showSuccess: _showSuccess };
            };
        });



        /**
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        **/

    </script>

}

