
@{Layout = null; }

@*11-02-16*@
<md-container layout="row">
    <div flex="100" layout="row" layout-margin layout-sm="column">
        <div flex="25" flex-sm="100">
            <label>As of</label>
            <md-datepicker name="As of field" ng-model="dt_history" md-placeholder="Enter date" ng-change="data.history = dt_history.toISOString()" ng-required="true" md-min-date="minDate" md-max-date="today"></md-datepicker>
        </div>
    </div>
</md-container>


<md-container layout="row">

    <div flex="100" layout="row" layout-margin layout-sm="column">

        <div flex="25" flex-sm="100">
            <label for="Region:_">Region</label>
            <select name="Region" ng-model="data.region_code" id="region_code" class="form-control"
                    required
                    ng-disabled="status"
                    ng-options="option.Id as option.Name for option in region_code_options">
                <option value="">[Select Region]</option>
            </select>
        </div>

        <div flex="25" flex-sm="100">
            <label for="Province:_">Province </label>
            <select name="Province" ng-model="data.prov_code" id="prov_code" class="form-control"
                    ng-disabled="data.region_code == null || status"
                    ng-required="true"
                    ng-options="option.Id as option.Name for option in prov_code_options">
                <option value="">[Select Province]</option>
            </select>
        </div>

        <div flex="25" flex-sm="100">
            <label for="Municipality:_">Municipality </label>
            <select name="City" ng-model="data.city_code" id="city_code" class="form-control"
                    ng-required="true"
                    ng-disabled="data.prov_code == null || status"
                    ng-options="option.Id as option.Name for option in city_code_options">
                <option value="">[Select Municipality]</option>
            </select>
        </div>

    </div>

</md-container>

<md-container layout="row">

    <div flex="100" layout="row" layout-margin layout-sm="column">

        <div flex="25" flex-sm="100">
            <label for="FundSource:_">Project</label>
            <select name="Project" ng-model="data.fund_source_id" id="fund_source_id" class="form-control"
                    ng-required="true"
                    ng-disabled="status"
                    ng-options="option.Id as option.Name for option in fund_source_id_options">
                <option value="">[Select Project]</option>
            </select>
        </div>

        <div flex="25" flex-sm="100">
            <label for="Province:_">Cycle </label>
            <select name="Cycle" ng-model="data.cycle_id" id="Cycle" class="form-control"
                    ng-disabled="status"
                    required
                    ng-options="option.Id as option.Name for option in cycle_id_options">
                <option value="">[Select Cycle]</option>
            </select>
        </div>

        <div flex="25" flex-sm="100">
            <label for="Municipality:_">KC Mode </label>
            <select name="KC Mode" ng-model="data.enrollment_id" id="KC Mode" class="form-control"
                    ng-disabled="status"
                    ng-required="true"
                    ng-options="option.Id as option.Name for option in enrollment_id_options">
                <option value="">[Select KC Mode]</option>
            </select>
        </div>

    </div>

</md-container>


<md-container layout="row">
    <div flex="100" layout="row" layout-margin layout-sm="column">
        <div flex="25" flex-sm="100">
            <label>Incentives (Tier-2)?</label>
        </div>
        <div flex="25" flex-sm="100">
            <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_incentive" id="is_incentive" name="is_incentive">
                {{ data.is_incentive == true ? "Yes" : "" }}
            </md-checkbox>
        </div>
    </div>
</md-container>

<md-container layout="row">
    <div flex="100" layout="row" layout-margin layout-sm="column">
        <div flex="25" flex-sm="100">
            <label>From Savings?</label>
        </div>
        <div flex="25" flex-sm="100">
            <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_savings" id="is_savings" name="is_savings">
                {{ data.is_savings == true ? "Yes" : "" }}
            </md-checkbox>
        </div>
    </div>
</md-container>

<md-container layout="row">
    <div flex="100" layout="row" layout-margin layout-sm="column">
        <div flex="25" flex-sm="100">
            <label>LGU-led?</label>
        </div>
        <div flex="25" flex-sm="100">
            <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_lgu_led" id="is_lgu_led" name="is_lgu_led">
                {{ data.is_lgu_led == true ? "Yes" : "" }}
            </md-checkbox>
        </div>
    </div>
</md-container>


<md-container>

    <div class="layout-row" layout-margin flex>
        <div flex="25" >
            TYPE
        </div>
        <div flex="25" >
            PLANNED
        </div>
        <div flex="25" >
            ACTUAL
        </div>
        <div flex="25" >
            BALANCE
        </div>
    </div>

    <div class="layout-row" layout-margin flex>
        <div flex="25" >
            CASH
        </div>
        <div flex="25" >
            <input type="number" name="Cash (Planned)" min="0" ng-model="data.planned_cash" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
        </div>
        <div flex="25" >
            <input type="number" name="Cash (Actual)" min="0" ng-model="data.actual_cash" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
        </div>
        <div flex="25" >
            {{data.planned_cash - data.actual_cash}}
        </div>
    </div>


    <div class="layout-row" layout-margin flex>
        <div flex="25" >
            IN KIND
        </div>
        <div flex="25" >
            <input type="number" min="0" name="In-kind (Planned)" ng-model="data.planned_inkind" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
        </div>
        <div flex="25" >
            <input type="number" min="0" name="In-kind (Actual)" ng-model="data.actual_inkind" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
        </div>
        <div flex="25" >
            {{data.planned_inkind - data.actual_inkind}}
        </div>
    </div>

    <div class="layout-row" layout-margin flex>
        <div flex="25">
           TOTAL
        </div>
        <div flex="25">
          {{data.planned_inkind +data.planned_cash}}
        </div>
        <div flex="25">
            {{data.actual_cash +data.actual_inkind}}
        </div>
        <div flex="25">
            {{(data.planned_inkind + data.planned_cash) - (data.actual_cash + data.actual_inkind)}}
        </div>
    </div>

</md-container>
