

<div flex="100" class="md-whiteframe-1dp">



    <div class="panel panel-info">

        <div class="panel-heading">
            <h4>Sectors Represented</h4>
            <p>Tick box on the corresponding Sector represented</p>
        </div>


        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_academe" aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Academe
            </div>
        </div>

        <md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_business " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Business
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_pwd " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Differently Abled
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_farmer " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Farmer
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_fisherfolks " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Fisherfolks
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_government " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Government
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_ip " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                IP
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_ngo " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                NGO
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_po " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                PO
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_religios " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Religious
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_senior" aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Senior
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_women " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Women
            </div>
        </div><md-divider></md-divider>
        <div layout="row" layout-margin flex="100">
            <div flex>
                <md-checkbox ng-model="data.is_sector_youth " aria-label="Checkbox 1"  class="md-primary">
                </md-checkbox>
            </div>
            <div flex>
                Youth
            </div>
        </div>

    </div>


</div>

