
<div class="col-md-3">
    @Html.Label("Training Category: ")
    <select id="FiltTrainingCategory" class="form-control" data-bind="
    options: lib_training_category,
    value: training_category_id,
    optionsText: 'name',
    optionsValue: 'training_category_id',
    optionsCaption:'' "></select>
</div>

