
<md-content>
    <h4 style="color:dodgerblue">Access to Services and Governance</h4>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-8">
                <label style="padding-right:25px">A.&emsp;There is an adequate number of health facilities in our barangay.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_1" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_1 != null" ng-click="data.access_1=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">B.&emsp;The number of educational facilities in our barangay is not enough.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_2" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_2 != null" ng-click="data.access_2=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">B.&emsp;There is adequate number of educational facilities.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_3" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_3 != null" ng-click="data.access_3=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">C.&emsp;Our barangay has adequate an number of roads accessed by public vehicles (e.g. transportation of public goods).</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_4" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_4 != null" ng-click="data.access_4=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">C.&emsp;There is adequate number of roads accessed by public vehicles (e.g. transportation of public goods).</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_5" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_5 != null" ng-click="data.access_5=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">D.&emsp;Potable water is not available to the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_6" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_6 != null" ng-click="data.access_6=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">D.&emsp;Potable water is accessible to the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_7" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_7 != null" ng-click="data.access_7=null"></i>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">E.&emsp;There is peace and order in the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_8" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_8 != null" ng-click="data.access_8=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">F.&emsp;It is easy to go to a health facility.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_9" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_9 != null" ng-click="data.access_9=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">F.&emsp;School-aged children in our household are able to go to school.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_10" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_10 != null" ng-click="data.access_10=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">G.&emsp;Children in our household were able to go to school in less time.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_11" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_11 != null" ng-click="data.access_11=null"></i>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-8">
               <span ng-hide="data.year != 2015"><label style="padding-right:25px">H.&emsp;Our household is able to purchase basic necessities in the market/nearby store.</label></span>
               <span ng-hide="data.year != 2016"><label style="padding-right:25px">G.&emsp;Our household is able to purchase basic necessities in the market/nearby store.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_12" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_12 != null" ng-click="data.access_12=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">H.&emsp;I don’t feel secure from crimes in the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_13" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_13 != null" ng-click="data.access_13=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">I.&emsp;I feel secure in the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_14" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_14 != null" ng-click="data.access_14=null"></i>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-8">
                <span ng-hide="data.year != 2015"><label style="padding-right:25px">J.&emsp;Our household has access to potable water.</label></span>
                <span ng-hide="data.year != 2016"><label style="padding-right:25px">I.&emsp;Our household has access to potable water.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_15" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_15 != null" ng-click="data.access_15=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">J.&emsp;If I or any of my household is sick, we can easily go to a health center.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.access_16" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.access_16 != null" ng-click="data.access_16=null"></i>
            </div>
        </div> <br />
    </div>
</md-content>