


<md-content>
    <h4 style="color:dodgerblue">Participation and Empowerment of the Poor and Marginalized</h4>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <div class="panel panel-body">
        <div class="row" ng-hide="data.year != 2016">
            <div class="col-md-8">
                <label style="padding-right:25px">A.&emsp;Women are excluded from the implementation of programs/projects in the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_1" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_1 != null" ng-click="data.participation_1=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">A.&emsp;Women are engaged in the implementation of programs/projects in the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_2" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_2 != null" ng-click="data.participation_2=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.is_ip != 1">
            <br />
            <div class="col-md-8">
                <label style="padding-right:25px">B.&emsp;(FOR IP MEMBERS ONLY) IPs are engaged in the implementation of programs/projects in the community.</label>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_3" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_3 != null" ng-click="data.participation_3=null"></i>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">B.&emsp;The poorest are represented in the barangay assembly.</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">C.&emsp;The poorest are represented in the barangay assembly.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_4" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_4 != null" ng-click="data.participation_4=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">C.&emsp;Members of the community are not given various skills training (e.g. livelihood, financial literacy, etc.).</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">D.&emsp;Members of the community are not given various skills training (e.g. livelihood, financial literacy, etc.).</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_5" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_5 != null" ng-click="data.participation_5=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">C.&emsp;Members of the community are provided with various skills training (e.g. livelihood, financial literacy among others).</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">D.&emsp;Members of the community are provided with various skills training (e.g. livelihood, financial literacy among others).</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_6" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_6 != null" ng-click="data.participation_6=null"></i>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">D.&emsp;I am able to participate in the implementation of programs/ projects in the community.</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">E.&emsp;I am able to participate in the implementation of programs/ projects in the community.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_7" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_7 != null" ng-click="data.participation_7=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">E.&emsp;I am shy when participating in community development activities.</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">F.&emsp;I am shy when participating in community development activities.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_8" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_8 != null" ng-click="data.participation_8=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">E.&emsp;I am not shy when participating in community development activities.</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">F.&emsp;I am not shy when participating in community development activities.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_9" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_9 != null" ng-click="data.participation_9=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2016">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">F.&emsp;I attend trainings/activities (e.g. livelihood, financial literacy, etc.) provided to the community.</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">G.&emsp;I attend trainings/activities (e.g. livelihood, financial literacy, etc.) provided to the community.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_10" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_10 != null" ng-click="data.participation_10=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.year != 2015">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">F.&emsp;I have benefitted from the trainings/activities provided to the community.</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">G.&emsp;I have benefitted from the trainings/activities provided to the community.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group required ng-model="data.participation_11" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_11 != null" ng-click="data.participation_11=null"></i>
            </div>
        </div>
        <div class="row" ng-hide="data.participation_10 != 3 && data.participation_10 !=4 && data.participation_11 != 3 && data.participation_11 !=4">
            <br />
            <div class="col-md-8">
                <span ng-show="data.is_ip != 1"><label style="padding-right:25px">G.&emsp;(If answer to item above is 3 or 4 only) My skills have improved because of these trainings.</label></span>
                <span ng-show="data.is_ip == 1"><label style="padding-right:25px">H.&emsp;(If answer to item above is 3 or 4 only) My skills have improved because of these trainings.</label></span>
            </div>
            <div class="col-md-3">
                <md-radio-group ng-model="data.participation_12" layout="row">
                    <md-radio-button data-ng-value="1" class="md-primary">1</md-radio-button>
                    <md-radio-button data-ng-value="2" class="md-primary">2</md-radio-button>
                    <md-radio-button data-ng-value="3" class="md-primary">3</md-radio-button>
                    <md-radio-button data-ng-value="4" class="md-primary">4</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-1">
                <i class="fa fa-undo" aria-hidden="true" ng-show="data.participation_12 != null" ng-click="data.participation_12=null"></i>
            </div>
        </div> <br />
    </div>
</md-content>