









 <div class="panel panel-success">

            <div class="panel-heading">
                <h4>Criteria Setting Workshop</h4>
             
<p>Please make sure that the encoded criteria rate is equal to <strong>100</strong></p>


            </div>
 
    <md-container layout-padding>
        <form name="criteriaForm" layout="row" layout-margin flex="100">

            <table class="table zui-table zui-table-horizontal zui-table-highlight">
                <tr>
                    <td></td>
                    <td>
                        Rate
                    </td>
                    <td>
                        Criteria
                    </td>
                </tr>

                <tbody ng-repeat="prob in list_criterias">
                    <tr>
                        <td>
                            <a class="btn btn-danger" flex="1" ng-click="removeCriteria(prob, $index)"><i class="fa fa-remove"></i></a>
                        </td>
                        <td>{{prob.rate}}</td>
                        <td>{{prob.criteria}}</td>


                    </tr>

                </tbody>
                <tr>


                    <td>
                        <a class="btn btn-success" flex="1" ng-click="addCriteria()" ng-disabled="!criteriaForm.$valid"><i class="fa fa-check"></i></a>
                    </td>
                    <td><input type="number" class="form-control" placeholder="Rate" ng-model="criteria_model.rate" required name="Rate" /></td>
                    <td><input type="text" class="form-control" placeholder="Criteria" ng-model="criteria_model.criteria" required name="Criteria" /></td>


                </tr>

            </table>

           

        </form>
</md-container>

    
    <md-list-item layout-margin>




        <md-button class="md-primary md-raised" ng-show="criteriaForm.$valid" ng-click="addCriteria()">
   
            Add Criteria
        </md-button>


        <ul>
            <li ng-repeat="(key, errors) in criteriaForm.$error track by $index">
                <strong>{{ key }}</strong> errors
                <ul>
                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                </ul>
            </li>
        </ul>

          
      

    </md-list-item>
 

</div>



