
@{Layout = null; }



<div class="panel panel-info">

    <div class="panel-heading">
        <h4>Training Participants</h4>
        <p> Place a check on the left most corner to indicate that the person is a participant of the selected training</p>

    </div>

</div>


@*<div ng-show="isAddingPax">Wait a moment.....saving participant in database.</div> ---- replaced with block screen message*@

<div ng-show="isAddingPax">

    <md-progress-linear flex="" md-mode="indeterminate" value="33"></md-progress-linear>
</div>


<div class="panel panel-success">
    <div class="row">
        <div class="col-md-12" style="margin:15px">
            <h4>For faster search of participant/s, input name of person and/or Barangay name.</h4>
            <p><i>Note: List below only reflect the list in Person Profile Module, if name of participant doesn't appear here, double check if the person has record encoded in Person Profile Module.</i></p>
            <br />
            <div class="col-md-3">
                <input class="form-control" placeholder="Search by name" ng-model="filter.name" ng-changed="search()" />
            </div>
            <div class="col-md-3">
                <select name="brgy_code" ng-model="filter.brgy_code" id="brgy_code" class="form-control"
                        ng-options="option.Id as option.Name for option in brgy_code_options">
                    <option value="">[Search by Barangay]</option>
                </select>
            </div>
            <div class="col-md-3">
                <select ng-model="filter.is_trained" ng-options="obj.value as obj.text for obj in [{'value':true,'text':'Show participants already added in this training'},{'value':false,'text':'Show participants not yet added in this training'}]" class="form-control">
                    <option value=''>[Select Option]</option>
                </select>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12" style="margin:15px">
            <div class="col-md-6">
                <a class="btn btn-primary" ng-click="search()">
                    <i class="fa fa-filter fa-lg"></i> Search
                </a>
                <a class="btn btn-warning" ng-click="clear_search()">
                    <i class="fa fa-recycle fa-lg"></i>  Clear search
                </a>
            </div>
        </div>
    </div>

</div>


<div class="panel panel-success">

    <md-content>
        <md-container layout="row">
            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">
                    <h4>Page {{page + 1}} of {{pagesCount}} || {{totalCount}} Records</h4>
                    <div flex="20" flex-sm="100" class="label label-info">Count of Participants added on this training: {{totalCountParticipants}}</div>
                    <br /><br />
                    <div flex="50">
                        <select name="quarter" ng-model="pageSize" ng-options="obj.value as obj.text for obj in [{'value':5,'text':'5'},{'value':10,'text':'10'},{'value':20,'text':'20'}]" ng-selected="pageSize" class="form-control" ng-change="search()">
                            <option value="">[Records to Show]</option>
                        </select>
                    </div>
                </div>
                <div flex="50" flex-sm="100" layout-align="end start">
                    <demo-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)" layout-align="end start">
                    </demo-pager>
                </div>
            </div>
        </md-container>

        <div ng-show="isSearching">
            <md-progress-linear flex="" md-mode="indeterminate" value="33"></md-progress-linear>
        </div>
    </md-content>

    <md-table-container>
        <table class="table zui-table zui-table-horizontal zui-table-highlight" ng-show="!isSearching">
            <thead>
                <tr>
                    <th>
                        <div flex-xs="" flex="50">
                            <small>Check if Participant</small>
                        </div>
                    </th>
                    <th>
                        Barangay
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Middle Name
                    </th>
                    <th>
                        Birthdate
                    </th>
                    <th>
                        Sex
                    </th>

                    <th>
                        Contact No
                    </th>
                    <th>

                    </th>
                </tr>



            </thead>
            <tbody>
                <tr ng-repeat="item in members">
                    <td>
                        <md-checkbox ng-model="item.is_participant" ng-click="ConfirmParticipation(item)" aria-label="false">

                        </md-checkbox>

                    </td>
                    <td>
                        {{item.lib_brgy_brgy_name}}
                    </td>
                    <td>
                        {{ item.last_name }}
                    </td>
                    <td>
                        {{ item.first_name }}
                    </td>
                    <td>
                        {{ item.middle_name }}
                    </td>
                    <td>
                        {{ item.birthdate | date:'MM/dd/yyyy'}}
                    </td>
                    <td>
                        {{ item.sex == true? "Male" : "Female" }}
                    </td>

                    <td>
                        {{ item.contact_no }}
                    </td>

                    <td>
                        <a class="btn btn-info btn-sm" style="margin-right:5px" href="/Entry/Profiles?id={{item.person_profile_id}}"><i class="fa fa-edit"></i></a>



                    </td>


                </tr>
            </tbody>

        </table>

    </md-table-container>


</div>