 



<div class="col-md-3">
    @Html.Label("Committee: ")
    <select class="form-control" data-bind="
    options: lib_volunteer_committees,
    value: volunteer_committee_id,
    optionsText: 'name',
    optionsValue: 'volunteer_committee_id',
    optionsCaption:'[Select Committee]' "></select>
</div>

