
<div class="col-md-3">
    @Html.Label("Trained: ")
    <select id="FiltSex" class="form-control" data-bind="
    options: lib_trained,
    value: trained_id,
    optionsCaption:'[Select]' "></select>
</div>