
<div class="col-md-3">
    @Html.Label("Membership: ")
    <select id="FiltMembershp" class="form-control" data-bind="
    options: lib_volunteer_committee_positions,
    value: volunteer_committee_position_id,
    optionsText: 'name',
    optionsValue: 'volunteer_committee_position_id',
    optionsCaption:'[Select Committee Position]' "></select>
</div>

