
<div class="col-md-3">
    @Html.Label("Sex: ")
    <select id="FiltSex" class="form-control" data-bind="
    options: lib_sex,
    value: sex_id,
    optionsCaption:'[Select Sex]' "></select>
</div>