@{Layout = null;}

<md-container layout="row">

    <div flex="100" layout="row" layout-margin layout-sm="column">

        <div flex="50" flex-sm="100">

            <h3>Page {{page + 1}} of {{pagesCount}} || {{totalCount}} Records</h3>
        </div>

        <div flex="50" flex-sm="100" layout-align="end start">
            <demo-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)" layout-align="end start">


            </demo-pager>
        </div>


    </div>




    @*<div flex="100" layout-align="end end" layout-margin>


            <div flex="25">
                <select name="quarter" ng-model="pageSize" ng-options="obj.value as obj.text for obj in [{'value':5,'text':'5'},{'value':10,'text':'10'},{'value':20,'text':'20'}]" ng-selected="pageSize" class="form-control" ng-change="search()"></select>
            </div>


            <div layout-align="start start" flex="50">
                <div class="label label-info">Items to Sync: {{itemsToSync}}</div>
            </div>

        </div>*@
</md-container>

<md-container layout="row">


    <div flex="100" layout-align="end end" layout-margin>


        <div flex="25">
            <select name="quarter" ng-model="pageSize" ng-options="obj.value as obj.text for obj in [{'value':5,'text':'5'},{'value':10,'text':'10'},{'value':20,'text':'20'}]" ng-selected="pageSize" class="form-control" ng-change="search()">
                <option value="">[Records to Show]</option>

            </select>
            
        </div>


        <div layout-align="start start" flex="50">
            <div class="label label-info">Items to sync: {{TotalSync}}</div>
            
            <div class="label label-warning" ng-show="TotalForDeletion > 0">Items for Deletion: {{TotalForDeletion}}</div>
            <div class="label label-danger" ng-show="TotalUnAuthorized > 0">Items Unauthorized: {{TotalUnAuthorized}}</div>
            

        </div>

    </div>

</md-container>
<div ng-show="isSearching">

    <md-progress-linear flex="" md-mode="indeterminate" value="33"></md-progress-linear>
</div>