
@{Layout = null; }


<div class="panel panel-info">

    <div class="panel panel-heading">
        <h4>Basic Details</h4>
    </div>

    <md-container layout="row">



        <div flex="100" layout="row" layout-margin layout-sm="column">



            <div flex="25" flex-sm="100">

                <label for="Region:_">Region</label>



                <select name="Region" ng-model="data.region_code" id="region_code" class="form-control"
                        required
                        ng-disabled="status"
                        ng-options="option.Id as option.Name for option in region_code_options">
                    <option value="">[Select Region]</option>
                </select>





            </div>


            <div flex="25" flex-sm="100">
                <label for="Province:_">Province </label>

                <select name="Province" ng-model="data.prov_code" id="prov_code" class="form-control"
                        ng-disabled="data.region_code == null || status"
                        ng-required="true"
                        ng-options="option.Id as option.Name for option in prov_code_options">
                    <option value="">[Select Province]</option>
                </select>

            </div>

            <div flex="25" flex-sm="100">
                <label for="Municipality:_">Municipality </label>


                <select name="City" ng-model="data.city_code" id="city_code" class="form-control"
                        ng-required="true"
                        ng-disabled="data.prov_code == null || status"
                        ng-options="option.Id as option.Name for option in city_code_options">


                    <option value="">[Select Municipality]</option>
                </select>


            </div>






        </div>



    </md-container>



    <md-container layout="row">


        <div flex="100" layout="row" layout-margin layout-sm="column">



            <div flex="25" flex-sm="100">

                <label for="FundSource:_">Project</label>



                <select name="Project" ng-model="data.fund_source_id" id="fund_source_id" class="form-control"
                        ng-required="true"
                        ng-disabled="status"
                        ng-options="option.Id as option.Name for option in fund_source_id_options">
                    <option value="">[Select Project]</option>
                </select>



            </div>


            <div flex="25" flex-sm="100">
                <label for="Province:_">Cycle </label>
                @*----------------- v3.1 temporarily allowed editing of cycle (OLD) ------------------------*@
                @*<select name="Cycle" ng-model="data.cycle_id" id="Cycle" class="form-control"
                        ng-disabled="status"
                        required
                        ng-options="option.Id as option.Name for option in cycle_id_options">
                    <option value="">[Select Cycle]</option>
                </select>*@

                @*----------------- v3.1 temporarily allowed editing of cycle (NEW) ------------------------*@
                <select name="Cycle" ng-model="data.cycle_id" id="Cycle" class="form-control"
                        ng-disabled="data.cycle_id != 54 && status"
                        required
                        ng-options="option.Id as option.Name for option in cycle_id_options">
                    <option value="">[Select Cycle]</option>
                </select>


            </div>

            <div flex="25" flex-sm="100">
                <label for="Municipality:_">KC Mode </label>

                <select name="KC Mode" ng-model="data.enrollment_id" id="KC Mode" class="form-control"
                        ng-disabled="status"
                        ng-required="true"
                        ng-options="option.Id as option.Name for option in enrollment_id_options">
                    <option value="">[Select KC Mode]</option>
                </select>



            </div>

        </div>

    </md-container>


    <md-container layout="row">
        <div flex="100" layout="row" layout-margin layout-sm="column">
            <div flex="20" flex-sm="100">
                <label>Incentives (Tier-2)?</label>
            </div>
            <div flex="25" flex-sm="100">
                <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_incentive" id="is_incentive"  name="is_incentive">
                    {{ data.is_incentive == true ? "Yes" : "" }}
                </md-checkbox>
            </div>
        </div>
    </md-container>

    <md-container layout="row">
        <div flex="100" layout="row" layout-margin layout-sm="column">
            <div flex="20" flex-sm="100">
                <label>From Savings?</label>
            </div>
            <div flex="25" flex-sm="100">
                <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_savings" id="is_savings"  name="is_savings">
                    {{ data.is_savings == true ? "Yes" : "" }}
                </md-checkbox>
            </div>
        </div>
    </md-container>

    <md-container layout="row">
        <div flex="100" layout="row" layout-margin layout-sm="column">
            <div flex="20" flex-sm="100">
                <label>LGU-led?</label>
            </div>
            <div flex="25" flex-sm="100">
                <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_lgu_led" id="is_lgu_led"  name="is_lgu_led">
                    {{ data.is_lgu_led == true ? "Yes" : "" }}
                </md-checkbox>
            </div>
        </div>
    </md-container>



    <md-container layout="row">


        <div flex="100" layout="row" layout-margin layout-sm="column">



            <div flex="50" flex-sm="100">

                <label for="FundSource:_">Municipal and LGU MOA Signed</label>


                <md-datepicker ng-required="true"
                               name="Date Municipal and LGU MOA Signed" ng-model="dt_moa_signed_date" md-placeholder="Enter date"
                               ng-change="data.moa_signed_date = dt_moa_signed_date.toISOString()" required
                               md-min-date="minDate" md-max-date="today"></md-datepicker>




            </div>



        </div>

    </md-container>

</div>


@*public double planned_cash { get; set; }
    public double planned_inkind { get; set; }
    public double actual_cash { get; set; }
    public double actual_inkind { get; set; }*@