<style>
    .zui-table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
    }

        .zui-table thead th {
            background-color: #DDEFEF;
            border: solid 1px #DDEEEE;
            color: #336B6B;
            padding: 10px;
            text-align: left;
            text-shadow: 1px 1px 1px #fff;
        }

        .zui-table tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }

    .zui-table-highlight tbody tr:hover {
        background-color: lightgray;
    }

    .zui-table-horizontal tbody td {
        border-left: none;
        border-right: none;
    }
</style>


<div class="panel panel-body" ng-show="!isSearching">
    <table class="table zui-table zui-table-horizontal zui-table-highlight" id="MunicipalFinancialRecords">
        <thead class="thead-inverse">
            <tr>
                @*Removing this for DeskApp X*@
                <th style="text-align:center; vertical-align:middle">
                    {{data.check_all == true ? "Un-select All" : "Select All"}}
                    <br /><br />
                    <md-checkbox ng-model="data.check_all" style="vertical-align:middle" aria-label="Checkbox 1" ng-change="checkAll()"></md-checkbox>
                </th>
                <th style="vertical-align:middle">
                    Actions
                </th>
                <th style="vertical-align:middle">
                    Talakayan Year
                </th>
                <th style="vertical-align:middle">
                    Region
                </th>
                <th style="vertical-align:middle">
                    Province
                </th>
                <th style="vertical-align:middle">
                    Municipality
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in Items">
                @*Removing this for DeskApp X*@
                <td style="text-align:center; vertical-align:middle">
                    <md-checkbox ng-model="item.is_item_selected" ng-change="itemSelectedforSync(item)" aria-label="false"></md-checkbox> {{item.is_item_selected == true ? "Selected" : ""}}
                </td>
                <td style="vertical-align:middle">
                    <a ng-href="/MunicipalFinancialProfile/FinancialProfile?id={{item.muni_financial_profile_id}}" title='Edit Record' class="btn btn-info"><i class="fa fa-edit"></i></a>
                    @*Removing this for DeskApp X*@
                    <a ng-click="delete(item)" title='Delete Record' class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
                <td style="vertical-align:middle">
                    {{item.talakayan_yr_id == 1 ? "2015" : ""}}
                    {{item.talakayan_yr_id == 2 ? "2016" : ""}}
                    {{item.talakayan_yr_id == 3 ? "2017" : ""}}
                    {{item.talakayan_yr_id == 4 ? "2018" : ""}}
                    {{item.talakayan_yr_id == 5 ? "2019" : ""}}
                </td>
                <td style="vertical-align:middle">
                    {{item.lib_region_region_name}}
                </td>
                <td style="vertical-align:middle">
                    {{item.lib_province_prov_name}}
                </td>
                <td style="vertical-align:middle">
                    {{item.lib_city_city_name}}
                </td>
            </tr>
        </tbody>

    </table>
</div>