<style>
    .form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
</style>


<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>Municipal Basic Financial Information</h4>
    </div>
    <div class="panel-body">
        <form name="basicForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label for="Region:_">Region</label>
                        <div class="form-group">
                            <select name="Region" ng-model="data.region_code" class="form-control" ng-required="true"
                                    ng-disabled="status"
                                    ng-options="option.Id as option.Name for option in region_code_options">
                                <option value="">[Select Region]</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="Province:_">Province</label>
                        <div class="form-group">
                            <select name="Province" ng-model="data.prov_code" class="form-control" ng-required="true"
                                    ng-disabled="data.region_code == null || status"
                                    ng-options="option.Id as option.Name for option in prov_code_options">
                                <option value="">[Select Province]</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="Municipality:_">Municipality</label>
                        <div class="form-group">
                            <div class="form-group">
                                <select name="Municipality" ng-model="data.city_code" class="form-control" ng-required="true"
                                        ng-disabled="data.prov_code == null || status"
                                        ng-options="option.Id as option.Name for option in city_code_options">
                                    <option value="">[Select Municipality]</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*--------- v3.0 update: removed as required by Eval team 09-08-2017*@
            @*<div class="row">
                        <div class="col-md-3" show-errors='{showSuccess: true}' ng-hide="data.talakayan_yr_id == 0">
                            <label>Talakayan Day (Start)</label><br />
                            <md-datepicker name="talakayan_date_start" ng-model="dt_talakayan_date_start" md-placeholder="Enter date" ng-change="data.talakayan_date_start = dt_talakayan_date_start.toISOString()" ng-required="true" md-min-date="minStartDate" md-max-date="maxStartDate"
                                           ng-disabled="data.talakayan_yr_id == 3 || data.talakayan_yr_id == 4 || data.talakayan_yr_id == 5"></md-datepicker>
                        </div>
                        <div class="col-md-3" show-errors='{showSuccess: true}' ng-hide="data.talakayan_yr_id == 0">
                            <label>Talakayan Day (End)</label><br />
                            <md-datepicker name="talakayan_date_end" ng-model="dt_talakayan_date_end" md-placeholder="Enter date" ng-change="data.talakayan_date_end = dt_talakayan_date_end.toISOString()" ng-required="true" md-min-date="minEndDate" md-max-date="maxEndDate"
                                           ng-disabled="data.talakayan_yr_id == 3 || data.talakayan_yr_id == 4 || data.talakayan_yr_id == 5"></md-datepicker>
                        </div>
                        <div class="col-md-3">
                            <label>Current NCDDP Cycle</label>
                            <select name="cycle_id" ng-model="data.cycle_id" id="cycle_code" class="form-control"
                                    ng-required="true"
                                    ng-options="option.Id as option.Name for option in cycle_id_options">
                                <option value="">[Select Cycle]</option>
                            </select>
                        </div>
                    </div>
                </div>*@

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label>Talakayan Year</label>
                        <select name="talakayan_yr" ng-model="data.talakayan_yr_id" class="form-control" ng-required="true"
                                ng-change="watchTalakayanYear()"
                                ng-options="option.Id as option.Name for option in talakayan_year_options">
                            <option value="">[Select Year]</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>2015 Population</label>
                        <input autocomplete="on" type="number" name="population_2015" ng-model="data.population_2015" id="population" class="form-control" ng-pattern="wholeNumberOnly" min="0" ng-required="true" placeholder="(Please enter 2015 population to proceed)" />
                        <span style="font-size:small; color:red" ng-show="basicForm.population_2015.$error.pattern"><i>Not a valid input!</i></span>
                    </div>
                </div>
            </div>
            <br />

            @*<div class="row">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <a class="btn btn-success" ng-disabled="(data.population_2015 == 0 || data.population_2015 == null) && !basicForm.$valid" ng-click="populate(); show_tabs=true">
                            Proceed &nbsp;&nbsp; <i class="fa fa-check"></i>
                        </a>
                    </div>

                </div>
            </div>*@

        </form>
        <br />
    </div>
</div>
