<div class="panel panel-body">
    <div class="row" style="padding:20px">
        <md-content>
            <h4 style="color:dodgerblue">Revenue Sources</h4>
            <h5 style="color:dodgerblue">Instruction: Put the corresponding amount on the column where the data are obtained (either MLGU or KC-NCDDP). This is to track the source of data</h5>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>

            <table class="table table-striped table-compact table-bordered">
                <tr style="background-color: #DDEFEF">
                    <td></td>
                    <td style="text-align:center">
                        <strong>MLGU</strong>
                    </td>
                    <td style="text-align:center">
                        <strong>KC-NCDDP</strong>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>IRA Share</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_rev_ira_share" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_rev_ira_share_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Locally-sourced Revenues</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_rev_locally_sourced" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_rev_locally_sourced_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Other revenues (include sources)</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_rev_other_revenues_total" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_rev_other_revenues_total_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Total LGU Income</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_rev_total_lgu_income" value="{{data.mlgu2018_rev_ira_share + data.mlgu2018_rev_locally_sourced + data.mlgu2018_rev_other_revenues_total}}" ng-disabled="true"/>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_rev_total_lgu_income_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Total LGU Income per Capita*</strong>
                        <br />
                        <p style="font-size:smaller"><i>Total LGU Income per Capita = Total LGU Income / 2015 population</i></p>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_rev_total_lgu_income_per_capita" value="{{(data.mlgu2018_rev_ira_share + data.mlgu2018_rev_locally_sourced + data.mlgu2018_rev_other_revenues_total) / data.population_2015}}" ng-disabled="true" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_rev_total_lgu_income_per_capita_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Development Fund*</strong>
                        <br />
                        <p style="font-size:smaller"><i>Development Fund = IRA Share * 0.2</i></p>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_rev_devt_fund" value="{{data.mlgu2018_rev_ira_share * 0.2}}" ng-disabled="true" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_rev_devt_fund_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Development Fund per Capita*</strong>
                        <br />
                        <p style="font-size:smaller"><i>Development Fund per Capita = Development Fund / 2015 population</i></p>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_rev_devt_fund_per_capita" value="{{(data.mlgu2018_rev_ira_share * 0.2) / data.population_2015}}" ng-disabled="true" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_rev_devt_fund_per_capita_source" />
                    </td>
                </tr>
            </table>
        </md-content>
    </div>
    <div class="row" style="padding:20px">
        <md-content>
            <h4 style="color:dodgerblue">Sectoral Expenditure</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>

            <table class="table table-striped table-compact table-bordered">
                <tr style="background-color: #DDEFEF">
                    <td></td>
                    <td style="text-align:center">
                        <strong>MLGU</strong>
                    </td>
                    <td style="text-align:center">
                        <strong>KC-NCDDP</strong>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>General public services</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_gen_public" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_gen_public_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Education, culture, sports, and manpower development</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_educ" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_educ_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Health Services</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_health" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_health_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Labor and employment</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_labor" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_labor_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Housing and community development</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_housing" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_housing_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Social welfare services</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_social_welfare" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_social_welfare_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Economic services</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_economic" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_economic_source" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        <strong>Other purposes</strong>
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-pattern="numbersOnly" min="0" ng-model="data.mlgu2018_ex_other_purposes" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="data.mlgu2018_ex_other_purposes_source" />
                    </td>
                </tr>
            </table>
        </md-content>
    </div>
    @*<div class="row" style="padding:20px">
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>Local Governance Performance Mangement System (LGPMS)</strong>
            </div>
        </div>
        <md-content>
            <p style="text-align:center"><i>No data available</i></p>
        </md-content>
    </div>*@
    <div class="row" style="padding:20px">
        <md-content>
            <h4 style="color:dodgerblue">Other Indicator</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <br />
            <div class="col-md-12">
                <div class="col-md-5">
                    <strong>SGLG Awardee?</strong>
                </div>
                <div class="col-md-3">
                    <md-radio-group ng-model="data.is_sglg_awardee2018" layout="row">
                        <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                        <md-radio-button data-ng-value="false" class="md-primary">No</md-radio-button>
                    </md-radio-group>
                    <md-checkbox class="md-primary" ng-model="data.is_sglg_awardee2018" aria-label="Checkbox 1">
                        {{ data.is_sglg_awardee2018 == true ? "Yes" : "" }}
                    </md-checkbox>
                </div>
            </div>
        </md-content>
    </div>
</div>