
<div class="col-md-3">
    @Html.Label("Purpose: ")
    <select id="FiltPurpose" class="form-control" data-bind="
    options: lib_barangay_assembly_purposes,
    value: barangay_assembly_purpose_id,
    optionsText: 'name',
    optionsCaption:'',
    optionsValue: 'barangay_assembly_purpose_id'"></select>
</div>

