<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo</title>

    <style>
        .form-group .help-block {
            display: none;
        }

        .form-group.has-error .help-block {
            display: block;
        }

        .dialogdemoBasicUsage #popupContainer {
            position: relative;
        }

        .dialogdemoBasicUsage .footer {
            width: 100%;
            text-align: center;
            margin-left: 20px;
        }

        .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
                font-size: 0.8em;
                margin-top: 50px;
        }            

        .dialogdemoBasicUsage button {
            width: 200px;
        }

        .dialogdemoBasicUsage div#status {
            color: #c60008;
        }


        /*
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        */
    </style>
</head>



<div ng-cloak ng-controller="AppCtrl" ng-app="MyApp">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Municipal Consolidated LCC</div>
    </md-toolbar>

    <md-content>
        <form name="myForm">
            <md-tabs md-dynamic-height md-border-bottom>

                <md-tab label="Details">
                    <md-content class="md-padding">
                            @Html.Partial("~/Views/Entry/MLCC/_details.cshtml")
                    </md-content>
                </md-tab>

                <md-tab label="PLGU">
                    <md-content class="md-padding">
                        <div class="layout-row" layout-margin flex>
                            <div flex>Category</div>
                            <div flex>Planned</div>
                            <div flex>Actual</div>
                            <div flex>Balance</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>CBIS</div>
                            <div flex><input type="number" min="0" name="PLGU: CBIS (Planned)" ng-model="data.cbis_plgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="PLGU: CBIS (Actual)" ng-model="data.cbis_plgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.cbis_plgu_planned - data.cbis_plgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>M&E</div>
                            <div flex><input type="number" min="0" name="PLGU: M&E (Planned)" ng-model="data.me_plgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="PLGU: M&E (Actual)" ng-model="data.me_plgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.me_plgu_planned - data.me_plgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>SPI</div>
                            <div flex><input type="number" min="0" name="PLGU: SPI (Planned)" ng-model="data.spi_plgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="PLGU: SPI (Actual)" ng-model="data.spi_plgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.spi_plgu_planned - data.spi_plgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>Total</div>
                            <div flex> {{data.cbis_plgu_planned + data.me_plgu_planned + data.spi_plgu_planned}}</div>
                            <div flex>{{data.cbis_plgu_actual + data.me_plgu_actual + data.spi_plgu_actual}}</div>
                            <div flex>{{(data.cbis_plgu_planned + data.me_plgu_planned + data.spi_plgu_planned) - (data.cbis_plgu_actual + data.me_plgu_actual + data.spi_plgu_actual)}}</div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="MLGU">
                    <md-content class="md-padding">
                        <div class="layout-row" layout-margin flex>
                            <div flex>Category</div>
                            <div flex>Planned</div>
                            <div flex>Actual</div>
                            <div flex>Balance</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>CBIS</div>
                            <div flex><input type="number" min="0" name="MLGU: CBIS (Planned)" ng-model="data.cbis_mlgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="MLGU: CBIS (Actual)" ng-model="data.cbis_mlgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.cbis_mlgu_planned - data.cbis_mlgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>M&E</div>
                            <div flex><input type="number" min="0" name="MLGU: M&E (Planned)" ng-model="data.me_mlgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="MLGU: M&E (Actual)" ng-model="data.me_mlgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.me_mlgu_planned - data.me_mlgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>SPI</div>
                            <div flex><input type="number" min="0" name="MLGU: SPI (Planned)" ng-model="data.spi_mlgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="MLGU: SPI (Actual)" ng-model="data.spi_mlgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.spi_mlgu_planned - data.spi_mlgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>Total</div>
                            <div flex> {{data.cbis_mlgu_planned + data.me_mlgu_planned + data.spi_mlgu_planned}}</div>
                            <div flex>{{data.cbis_mlgu_actual + data.me_mlgu_actual + data.spi_mlgu_actual}}</div>
                            <div flex>{{(data.cbis_mlgu_planned + data.me_mlgu_planned + data.spi_mlgu_planned) - (data.cbis_mlgu_actual + data.me_mlgu_actual + data.spi_mlgu_actual)}}</div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="BLGU">
                    <md-content class="md-padding">
                        <div class="layout-row" layout-margin flex>
                            <div flex>Category</div>
                            <div flex>Planned</div>
                            <div flex>Actual</div>
                            <div flex>Balance</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>CBIS</div>
                            <div flex><input type="number" min="0" name="BLGU: CBIS (Planned)" ng-model="data.cbis_blgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="BLGU: CBIS (Actual)" ng-model="data.cbis_blgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.cbis_blgu_planned - data.cbis_blgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>M&E</div>
                            <div flex><input type="number" min="0" name="BLGU: M&E (Planned)" ng-model="data.me_blgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="BLGU: M&E (Actual)" ng-model="data.me_blgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.me_blgu_planned - data.me_blgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>SPI</div>
                            <div flex><input type="number" min="0" name="BLGU: SPI (Planned)" ng-model="data.spi_blgu_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="BLGU: SPI (Actual)" ng-model="data.spi_blgu_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.spi_blgu_planned - data.spi_blgu_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>Total</div>
                            <div flex> {{data.cbis_blgu_planned + data.me_blgu_planned + data.spi_blgu_planned}}</div>
                            <div flex>{{data.cbis_blgu_actual + data.me_blgu_actual + data.spi_blgu_actual}}</div>
                            <div flex>{{(data.cbis_blgu_planned + data.me_blgu_planned + data.spi_blgu_planned) - (data.cbis_blgu_actual + data.me_blgu_actual + data.spi_blgu_actual)}}</div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Others">
                    <md-content class="md-padding">
                        <div class="layout-row" layout-margin flex>
                            <div flex>Category</div>
                            <div flex>Planned</div>
                            <div flex>Actual</div>
                            <div flex>Balance</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>CBIS</div>
                            <div flex><input type="number" min="0" name="Others: CBIS (Planned)" ng-model="data.cbis_others_planned" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" name="Others: CBIS (Actual)" ng-model="data.cbis_others_actual" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.cbis_others_planned - data.cbis_others_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>M&E</div>
                            <div flex><input type="number" min="0" ng-model="data.me_others_planned" class="form-control" name="Others: M&E (Planned)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" ng-model="data.me_others_actual" class="form-control" name="Others: M&E (Actual)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.me_others_planned - data.me_others_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>SPI</div>
                            <div flex><input type="number" min="0" ng-model="data.spi_others_planned" class="form-control" name="Others: SPI (Planned)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex><input type="number" min="0" ng-model="data.spi_others_actual" class="form-control" name="Others: SPI (Actual)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></div>
                            <div flex>{{data.spi_others_planned - data.spi_others_actual}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>Total</div>
                            <div flex> {{data.cbis_others_planned + data.me_others_planned + data.spi_others_planned}}</div>
                            <div flex>{{data.cbis_others_actual + data.me_others_actual + data.spi_others_actual}}</div>
                            <div flex>{{(data.cbis_others_planned + data.me_others_planned + data.spi_others_planned) - (data.cbis_others_actual + data.me_others_actual + data.spi_others_actual)}}</div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Total">
                    <md-content class="md-padding">
                        <div class="layout-row" layout-margin flex>
                            <div flex>Category</div>
                            <div flex>Planned</div>
                            <div flex>Actual</div>
                            <div flex>Balance</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>CBIS</div>
                            <div flex>{{data.cbis_others_planned + data.cbis_plgu_planned + data.cbis_mlgu_planned + data.cbis_blgu_planned}}</div>
                            <div flex>{{data.cbis_others_actual + data.cbis_plgu_actual + data.cbis_mlgu_actual + data.cbis_blgu_actual}}</div>
                            <div flex>{{(data.cbis_others_planned + data.cbis_plgu_planned + data.cbis_mlgu_planned + data.cbis_blgu_planned) - (data.cbis_others_actual + data.cbis_plgu_actual + data.cbis_mlgu_actual + data.cbis_blgu_actual)}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>M&E</div>
                            <div flex>{{data.me_others_planned + data.me_plgu_planned + data.me_mlgu_planned + data.me_blgu_planned}}</div>
                            <div flex>{{data.me_others_actual + data.me_plgu_actual + data.me_mlgu_actual + data.me_blgu_actual}}</div>
                            <div flex>{{(data.me_others_planned + data.me_plgu_planned + data.me_mlgu_planned + data.me_blgu_planned) - (data.me_others_actual + data.me_plgu_actual + data.me_mlgu_actual + data.me_blgu_actual)}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>SPI</div>
                            <div flex>{{data.spi_others_planned + data.spi_plgu_planned + data.spi_mlgu_planned + data.spi_blgu_planned}}</div>
                            <div flex>{{data.spi_others_actual + data.spi_plgu_actual + data.spi_mlgu_actual + data.spi_blgu_actual}}</div>
                            <div flex>{{(data.spi_others_planned + data.spi_plgu_planned + data.spi_mlgu_planned + data.spi_blgu_planned) - (data.spi_others_actual + data.spi_plgu_actual + data.spi_mlgu_actual + data.spi_blgu_actual)}}</div>
                        </div>
                        <br />
                        <div class="layout-row" layout-margin flex>
                            <div flex>Total</div>
                            <div flex>{{data.cbis_others_planned + data.cbis_plgu_planned + data.cbis_mlgu_planned + data.cbis_blgu_planned +data.me_others_planned + data.me_plgu_planned + data.me_mlgu_planned + data.me_blgu_planned+data.spi_others_planned + data.spi_plgu_planned + data.spi_mlgu_planned + data.spi_blgu_planned}}</div>
                            <div flex>{{data.cbis_others_actual + data.cbis_plgu_actual + data.cbis_mlgu_actual + data.cbis_blgu_actual +data.me_others_actual + data.me_plgu_actual + data.me_mlgu_actual + data.me_blgu_actual+data.spi_others_actual + data.spi_plgu_actual + data.spi_mlgu_actual + data.spi_blgu_actual}}</div>
                            <div flex>{{(data.cbis_others_planned + data.cbis_plgu_planned + data.cbis_mlgu_planned + data.cbis_blgu_planned +data.me_others_planned + data.me_plgu_planned + data.me_mlgu_planned + data.me_blgu_planned+data.spi_others_planned + data.spi_plgu_planned + data.spi_mlgu_planned + data.spi_blgu_planned)-(data.cbis_others_actual + data.cbis_plgu_actual + data.cbis_mlgu_actual + data.cbis_blgu_actual +data.me_others_actual + data.me_plgu_actual + data.me_mlgu_actual + data.me_blgu_actual+data.spi_others_actual + data.spi_plgu_actual + data.spi_mlgu_actual + data.spi_blgu_actual)}}</div>
                        </div>
                    </md-content>
                </md-tab>

                @Html.Partial("~/Views/Entry/Common/_attachment.cshtml")

            </md-tabs>
        </form>  
    </md-content>   

    <md-content>
        <ul>
            <li ng-repeat="(key, errors) in myForm.$error track by $index">
                <strong>{{ key }}</strong> errors
                <ul>
                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                </ul>
            </li>
        </ul>
        <md-container layout="row">
            <div flex="100" layout="row" layout-margin layout-sm="column">
                <md-button class="md-primary md-raised" ng-click="save()" ng-disabled="!myForm.$valid">
                    Save Record
                </md-button>
                <md-button class="md-warn md-raised" href="/View/MLCC">
                    Cancel
                </md-button>
            </div>
        </md-container>
    </md-content>

</div>




@section Scripts
{
    <script>

        angular.module('MyApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])

            .controller('AppCtrl', function ($scope, $mdDialog, $http, $mdToast) {




                $scope.data;


                $http.get('/api/offline/v1/mlcc/get?id=@ViewBag.id')
          .then(function (response) {


              $scope.loading = true;

              $scope.data = response.data;


              $scope.dt_date_intake = new Date(response.data.date_intake);
              $scope.dt_resolution_date = new Date(response.data.resolution_date);

              //11-02-16
              $scope.dt_history = response.data.history == undefined ? null : new Date(response.data.history);
              $scope.minDate = new Date("01/01/1970");
              $scope.today = new Date();


              $scope.data.region_code = $scope.data.region_code == 0 ? "" : $scope.data.region_code;
              $scope.data.prov_code = $scope.data.prov_code == 0 ? "" : $scope.data.prov_code;
              $scope.data.city_code = $scope.data.city_code == 0 ? "" : $scope.data.city_code;



              $scope.data.fund_source_id = $scope.data.fund_source_id == 0 ? "" : $scope.data.fund_source_id;

              $scope.data.cycle_id = $scope.data.cycle_id == 0 ? "" : $scope.data.cycle_id;

              $scope.data.enrollment_id = $scope.data.enrollment_id == 0 ? "" : $scope.data.enrollment_id;

              $scope.data.history = $scope.data.history == 0 ? "" : $scope.data.history;

              $scope.status = false;
              $scope.check_status = function () {

                  $http.get('/api/exists/mlcc?id=@ViewBag.id')
                      .then(function (result) {


                          if (result.data == true) {
                              $scope.status = true;
                          } else {
                              $scope.status = false;

                          }
                      });

              }

              $scope.check_status();




              $http.get('/api/online/lib_region')
         .then(function (response) { $scope.region_code_options = response.data; });

              $http.get('/Api/lib_fund_source/')
      .then(function (response) { $scope.fund_source_id_options = response.data; });

              $http.get('/api/lib_enrollment')
      .then(function (response) { $scope.enrollment_id_options = response.data; });


              $scope.loading = false;

              $scope.edit = function () {
                  this.editMode = !this.editMode;
              };


              $scope.cancel = function () {

                  $http.get('/api/v1/municipal_profile/get?id=@ViewBag.id')
            .then(function (response) {

                //            this.editMode = false;

                $scope.data = response.data;

                $scope.dt_intake_date = new Date(response.data.intake_date);
                $scope.dt_resolution_date = new Date(response.data.resolution_date);
            });
              }



             //ATTACHMENTS

              $http.get('/api/attachment_list?id=68')
              .then(function (response) {
                  $scope.attachment_list = response.data;
              });

              $scope.attached_documents = [];
              $scope.attachment = {};
              $scope.attachment.mov_list_id = null;

              $scope.uploadAttachment = function () {

                  if ($scope.attached_documents.filter(function (e) { return e.mov_list_id == $scope.attachment.mov_list_id; }).length > 0) {
                      alert("Only single attachment is allowed for Municipal Consolidated Status of Local Counterpart Contribution.");
                      $scope.attachment = {};
                  }

                  else {

                      var fileUpload = $("#files").get(0);
                      var files = fileUpload.files;
                      var data = new FormData();
                      for (var i = 0; i < files.length ; i++) {
                          data.append(files[i].name, files[i]);
                      }

                      $.ajax({
                          type: "POST",
                          url: "/Mov/UploadFilesAjax?id="
                              + '@ViewBag.id'
                              + "&mov_list_id=" + $scope.attachment.mov_list_id
                              + "&region_code=" + $scope.data.region_code
                              + "&prov_code=" + $scope.data.prov_code
                              + "&city_code=" + $scope.data.city_code
                              + "&brgy_code=" + $scope.data.brgy_code
                              + "&fund_source_id=" + $scope.data.fund_source_id
                              + "&cycle_id="
                              + "&enrollment_id=",
                          contentType: false,
                          processData: false,
                          data: data,
                          success: function (message) {
                              var base = window.location.origin;

                              message.url = base + "/MOVs/" + message.attached_document_id + ".pdf";
                              $scope.attached_documents.push(message);
                              $scope.attachment = {};
                          },
                          error: function (message) {
                              alert(JSON.stringify(message.responseText));
                          }
                      });
                  }

              } //end of uploadAttachment function


              $.post('/api/mov/get/uploaded?id=' + '@ViewBag.id')
                 .success(function (value) {
                     $scope.attached_documents = value;
                     angular.forEach($scope.attached_documents, function (item) {
                         var base = window.location.origin;
                         item.url = base + "/MOVs/" + item.attached_document_id + ".pdf";
                     })
                 });

              $scope.deleteMov = function (removeitem) {
                  var ask = confirm("Are you sure you want to Delete this?");
                  if (ask == true) {
                      $.post('/api/delete/attached_document?id=' + removeitem.attached_document_id).success(function (value) {
                          $scope.loading = false;
                          //$scope.check_button_is_disabled = false;
                          var index = $scope.attached_documents.indexOf(removeitem);
                          $scope.attached_documents.splice(index, 1);
                          alert("Attachment removed!")

                      }).error(function (data) {
                          alert(JSON.stringify(data));
                          $scope.error = "An Error has occured while Deleting! " + data.statusText;
                          $scope.loading = false;
                      });
                  }
              }
              //END ATTACHMENTS

              $scope.save = function () {
                  $scope.$broadcast('show-errors-check-validity');
                  $scope.loading = true;
                  //       alert(JSON.stringify($scope.data));

                  //'/api/v1/grievances/save'


                  $.post('/api/offline/v1/mlcc/save', $scope.data).success(function (data) {
                      $scope.loading = false;

                      $mdToast.show(
                                      $mdToast.simple()
                                      .textContent('Record saved!')
                                      .position("top right")
                                      .hideDelay(5000)
                                  );

                      $scope.check_status();

                  }).error(function (data) {

                      alert(JSON.stringify(data));


                      $scope.error = "An Error has occured while Saving! " + data.statusText;
                      $scope.loading = false;
                  });
              };
          });



                $scope.$watch('data.region_code', function (newValue, oldValue) {



                    var record = $scope;

                    if (newValue == null) {
                        record.prov_code = null;
                        record.city_code = null;
                        record.brgy_code = null;


                        record.prov_code_options = [];
                        record.city_code_options = [];
                        record.brgy_code_options = [];
                    }
                    else {

                        $http({
                            method: 'GET',
                            url: '/api/online/lib_province?id=' + newValue,

                        }).success(function (data, status, headers, config) {

                            $scope.prov_code_options = data;
                        }).error(function (data, status, headers, config) {

                            $scope.message = 'Unexpected Error';
                        });
                    }

                });

                $scope.$watch('data.prov_code', function (newValue, oldValue) {

                    var record = $scope;

                    if (newValue == null) {

                        record.brgy_code = null;
                        record.city_code = null;
                        record.city_code_options = [];
                        record.brgy_code_options = [];
                    }

                    else {
                        $http({
                            method: 'GET',
                            url: '/api/online/lib_city?id=' + newValue,

                        }).success(function (data, status, headers, config) {

                            $scope.city_code_options = data;
                        }).error(function (data, status, headers, config) {

                            $scope.message = 'Unexpected Error';
                        });
                    }

                });

                $scope.$watch('data.city_code', function (newValue, oldValue) {

                    var record = $scope;

                    if (newValue == null) {

                        record.brgy_code = null;

                        record.brgy_code_options = [];
                    }

                    else {
                        $http({
                            method: 'GET',
                            url: '/api/online/lib_brgy?id=' + newValue,

                        }).success(function (data, status, headers, config) {

                            $scope.brgy_code_options = data;
                        }).error(function (data, status, headers, config) {

                            $scope.message = 'Unexpected Error';
                        });
                    }

                });



                $scope.$watch('data.fund_source_id',
                    function (newValue, oldValue) {

                        var record = $scope;



                        if (newValue == null) {

                            record.cycle_id = null;

                            record.cycle_id_options = [];
                        } else {
                            $http({
                                method: 'GET',
                                url: '/api/lib_cycle?id=' + newValue,

                            })
                                .success(function (data, status, headers, config) {

                                    $scope.cycle_id_options = data;
                                })
                                .error(function (data, status, headers, config) {

                                    $scope.message = 'Unexpected Error';
                                });
                        }

                    });


            })

        .directive('showErrors', function ($timeout, showErrorsConfig) {
            var getShowSuccess, linkFn;
            getShowSuccess = function (options) {
                var showSuccess;
                showSuccess = showErrorsConfig.showSuccess;
                if (options && options.showSuccess != null) {
                    showSuccess = options.showSuccess;
                }
                return showSuccess;
            };
            linkFn = function (scope, el, attrs, formCtrl) {
                var blurred, inputEl, inputName, inputNgEl, options, showSuccess, toggleClasses;
                blurred = false;
                options = scope.$eval(attrs.showErrors);
                showSuccess = getShowSuccess(options);
                inputEl = el[0].querySelector('[name]');
                inputNgEl = angular.element(inputEl);
                inputName = inputNgEl.attr('name');
                if (!inputName) {
                    throw 'show-errors element has no child input elements with a \'name\' attribute';
                }
                inputNgEl.bind('blur', function () {
                    blurred = true;
                    return toggleClasses(formCtrl[inputName].$invalid);
                });
                scope.$watch(function () {
                    return formCtrl[inputName] && formCtrl[inputName].$invalid;
                }, function (invalid) {
                    if (!blurred) {
                        return;
                    }
                    return toggleClasses(invalid);
                });
                scope.$on('show-errors-check-validity', function () {
                    return toggleClasses(formCtrl[inputName].$invalid);
                });
                scope.$on('show-errors-reset', function () {
                    return $timeout(function () {
                        el.removeClass('has-error');
                        el.removeClass('has-success');
                        return blurred = false;
                    }, 0, false);
                });
                return toggleClasses = function (invalid) {
                    el.toggleClass('has-error', invalid);
                    if (showSuccess) {
                        return el.toggleClass('has-success', !invalid);
                    }
                };
            };
            return {
                restrict: 'A',
                require: '^form',
                compile: function (elem, attrs) {
                    if (!elem.hasClass('form-group')) {
                        throw 'show-errors element does not have the \'form-group\' class';
                    }
                    return linkFn;
                }
            };
        }
      )

        .provider('showErrorsConfig', function () {
            var _showSuccess;
            _showSuccess = false;
            this.showSuccess = function (showSuccess) {
                return _showSuccess = showSuccess;
            };
            this.$get = function () {
                return { showSuccess: _showSuccess };
            };
        });



        /**
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        **/

    </script>
}




