
@{Layout = null; }

<md-container layout="row">

    <div flex="100" layout="row" layout-margin layout-sm="column">

        <div flex="25" flex-sm="100">
            <label for="Region:_">Purpose</label> 
                <select name="Purpose" ng-model="data.barangay_assembly_purpose_id" id="brgy_code" class="form-control"
                        ng-required="true"
                              ng-disabled="status"
                        ng-options="option.Id as option.Name for option in barangay_assembly_purpose_id_options">
                    <option value="">[Select Barangay Assembly Purpose]</option>
                </select>  
        </div>


        <div flex="25" flex-sm="100">
            <label for="Province:_">Date Start </label>


            <md-datepicker name="Date Start" ng-model="dt_start_date" md-placeholder="Enter date" ng-change="data.date_start = dt_start_date.toISOString()" required md-min-date="min_start_date" md-max-date="today"></md-datepicker>



        </div>

        <div flex="25" flex-sm="100">
            <label for="Municipality:_">Date End </label>

            <md-datepicker name="Date End" ng-model="dt_end_date" md-placeholder="Enter date" ng-change="data.date_end = dt_end_date.toISOString()" required md-min-date="dt_start_date" md-max-date="today"></md-datepicker>



        </div>
       
        <div flex="25" flex-sm="100">

            <label for="Region:_">Venue</label>


            <div class="form-group">
                <input class="form-control" name="venue" ng-model="data.venue" required />


            </div>


        </div>

    </div>

</md-container>

