

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo</title>

    <style>
        .form-group .help-block {
            display: none;
        }

        .form-group.has-error .help-block {
            display: block;
        }

        .dialogdemoBasicUsage #popupContainer {
            position: relative;
        }

        .dialogdemoBasicUsage .footer {
            width: 100%;
            text-align: center;
            margin-left: 20px;
        }

            .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
                font-size: 0.8em;
                margin-top: 50px;
            }

        .dialogdemoBasicUsage button {
            width: 200px;
        }

        .dialogdemoBasicUsage div#status {
            color: #c60008;
        }


        /*
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        */


    </style>
</head>




<body layout="column" class="relative" layout-fill role="main">
    <div ng-controller="AppCtrl" style="padding: 40px;" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="MyApp">


        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Intake Training Record</div>



        </md-toolbar>


        <md-content flex="" layout-padding="">
            <form name="myForm" ng-cloak>

                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h4>General Information</h4>

                    </div>



                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-6">
                                    <label for="Title:_">Title: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <input type="text" class="form-control" ng-model="data.training_title" required name="training_title" />
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <label for="LGU Level:_">Training/Activity Level: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="lgu_level_id" ng-model="data.lgu_level_id" id="region_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in lgu_level_id_options">
                                            <option value="">[Select Community Level]</option>
                                        </select>
                                    </div>


                                </div>

                                <div class="col-md-3">
                                    <label for="Training Category:_">Training Category: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="training_category_id" ng-model="data.training_category_id" id="region_code" class="form-control"
                                                ng-required="true"
                                                ng-disabled="data.lgu_level_id ==''"
                                                ng-options="option.Id as option.Name for option in training_category_id_options">
                                            <option value="">[Select Community Level]</option>
                                        </select>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-3">

                                    <label for="Region:_">Region</label>


                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="region_code" ng-model="data.region_code" id="region_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in region_code_options">
                                            <option value="">[Select Region]</option>
                                        </select>
                                    </div>




                                </div>


                                <div class="col-md-3">
                                    <label for="Province:_">Province: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="prov_code" ng-model="data.prov_code" id="prov_code" class="form-control"
                                                ng-disabled="data.region_code == null"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in prov_code_options">
                                            <option value="">[Select Province]</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="Municipality:_">Municipality: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <div class="form-group" show-errors='{showSuccess: true}'>
                                            <select name="city_cide" ng-model="data.city_code" id="city_code" class="form-control"
                                                    ng-required="true"
                                                    ng-disabled="data.prov_code == null"
                                                    ng-options="option.Id as option.Name for option in city_code_options">


                                                <option value="">[Select Municipality]</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" ng-show="data.lgu_level_id == 1">
                                    <label for="Barangay:_">Barangay: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="brgy_code" ng-model="data.brgy_code" id="brgy_code" class="form-control"
                                                ng-required="data.lgu_level_id ==1"
                                                ng-disabled="data.city_code == null"
                                                ng-options="option.Id as option.Name for option in brgy_code_options">
                                            <option value="">[Select Barangay]</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>






          
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-3">

                                    <label for="Region:_">Fund Source</label>

                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="fund_source_id" ng-model="data.fund_source_id" id="brgy_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in fund_source_id_options">
                                            <option value="">[Select Fund Source]</option>
                                        </select>
                                    </div>




                                </div>


                                <div class="col-md-3">
                                    <label for="Province:_">Cycle: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="cycle_id" ng-model="data.cycle_id" id="brgy_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in cycle_id_options">
                                            <option value="">[Select Cycle]</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="Municipality:_">KC Mode: </label>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <select name="enrollment_id" ng-model="data.enrollment_id" id="brgy_code" class="form-control"
                                                ng-required="true"
                                                ng-options="option.Id as option.Name for option in enrollment_id_options">
                                            <option value="">[Select KC Mode]</option>
                                        </select>
                                    </div>
                                </div>

                          
                            </div>
                        </div>
                    </div>



                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-3">

                                    <label for="Region:_">Reported By</label>


                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <input class="form-control" name="reported_by" ng-model="data.reported_by" required />
                                    </div>


                                </div>


                                <div class="col-md-3">

                                    <label for="Region:_">Venue</label>


                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <input class="form-control" name="venue" ng-model="data.venue" required />

                                       
                                    </div>


                                </div>

                                <div class="col-md-3">
                                    <label for="Region:_">Start Date</label>

                                    <div class="form-group" show-errors='{showSuccess: true}'>

                                        <md-datepicker name="start_date" ng-model="dt_start_date" md-placeholder="Enter date" ng-change="data.start_date = dt_start_date.toISOString()" required md-max-date="today"></md-datepicker>


                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="Region:_">End Date</label>

                                    <div class="form-group" show-errors='{showSuccess: true}'>

                                        <md-datepicker name="end_date" ng-model="dt_end_date" md-placeholder="Enter date" ng-change="data.end_date = dt_end_date.toISOString()" required md-min-date="maxDate" md-max-date="today"></md-datepicker>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>












            </form>
        </md-content>

        @*<md-whiteframe class="md-whiteframe-6dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center">
                <span>.md-whiteframe-6dp</span>
            </md-whiteframe>*@

        <md-content>
            @*<md-button class="md-fab md-mini" aria-label="Save">
                    <md-icon md-svg-src="img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;" ng-click="save()"></md-icon>
                    <md-tooltip>
                        Save Record!
                    </md-tooltip>
                </md-button>*@
            <md-button class="md-primary md-raised" ng-click="save()" ng-disabled="!myForm.$valid">
                Save Record
            </md-button>

            <md-button class="md-primary md-raised" ng-click="listParticipants()" ng-disabled="!myForm.$valid">
                Enlist Participants
            </md-button>

            <md-button class="md-primary md-raised" ng-click="listPSA()" ng-disabled="!myForm.$valid">
                Show PSA
            </md-button>
        </md-content>


        <md-content ng-show="showPSA">

            @Html.Partial("~/Views/Trainings/_psa_problem.cshtml")

        </md-content>
        <md-content ng-show="showParticipants">




            @Html.Partial("~/Views/Shared/_pagination.cshtml")



            @Html.Partial("~/Views/Trainings/_training_participant.cshtml")

        </md-content>

    </div>


</body>



@section Scripts {
 
   
    <script src="~/scripts/directives/paging.js"></script>
    <script src="~/scripts/directives/show-errors.js"></script>
    @*<script src="~/scripts/app/Training/training_create.js"></script>*@

}

