<div class="col-md-3">
    @Html.Label("SPI Nature Work: ")
    <select id="FiltCycle" class="form-control" data-bind="
    options: lib_spi_nature_work, 
    value: spi_nature_work_id, 
    optionsText: 'name', 
    optionsValue: 'spi_nature_work_id', optionsCaption: '[Select Nature of Work]'"></select>
</div>