

<div flex="100" class="md-whiteframe-1dp">



    <div class="panel panel-info">

        <div class="panel-heading">
            <h4>Represented IP Groups</h4>
            <p>Tick box on the corresponding Sector represented</p>
        </div>



        <div layout="row" layout-margin flex="100">


            <br />
            <label><i>Search...</i></label>
            <input ng-model="searchGroups" class="form-control" />
        </div>




        <div layout="row" layout-margin flex="100">

            <div flex>

                <table class="table" >
                    <tr>
                        <td>
                            Group
                        </td>
                        <td>
                            Represented? <i>(This will be automatically saved upon ticking the box)</i>
                        </td>
                    </tr>

                    <tbody>
                        <tr ng-repeat="item in represented_groups | filter: searchGroups | orderBy: 'ip_group_name'">
                            <td>
                                {{item.ip_group_name}}
                            </td>

                            <td>
                                <md-checkbox ng-model="item.Selected" aria-label="Checkbox 1" ng-click="SaveCoverage(item)">

                                </md-checkbox>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>


</div>

