<div class="panel panel-body">

    <div class="col-md-12">
        <h3><strong><u>MUNICIPAL FINANCIAL DATA</u></strong></h3>
        <h5>Source: <strong>DOF-BLGF</strong></h5>
        <br />
    </div>

    <div class="row">
        @*Extra row*@
    </div>

    <div style="overflow:auto">

        <table class="table table-bordered">
            <tr style="background-color:rgb(47,117,181)">
                <td rowspan="4" style="vertical-align:middle; text-align:center">
                    <strong>Year</strong>
                </td>
                <td rowspan="4" style="vertical-align:middle; text-align:center">
                    <strong>Region</strong>
                </td>
                <td rowspan="4" style="vertical-align:middle; text-align:center">
                    <strong>Province</strong>
                </td>
                <td rowspan="4" style="vertical-align:middle; text-align:center">
                    <strong>Municipality</strong>
                </td>
                <td rowspan="4" style="vertical-align:middle; text-align:center">
                    <strong>PSGC</strong>
                </td>
                <td colspan="6" style="vertical-align:middle; text-align:center">
                    <strong>CURRENT OPERATING INCOME</strong>
                </td>
                <td rowspan="4" style="vertical-align:middle; text-align:center">
                    <strong>TOTAL LGU INCOME</strong>
                </td>
                <td colspan="8" style="vertical-align:middle; text-align:center">
                    <strong>TOTAL CURRENT OPERATING EXPENDITURES</strong>
                </td>
            </tr>

            <tr style="background-color:rgb(91,155,213)">
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Locally-sourced revenues</strong>
                </td>
                <td colspan="5" style="vertical-align:middle; text-align:center">
                    <strong>External Source</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>General Public Service</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Education, culture, sports, and manpower development</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Health Services</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Labor and employment</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Housing and community development</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Social welfare services</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Economic services</strong>
                </td>
                <td rowspan="3" style="vertical-align:middle; text-align:center">
                    <strong>Other purposes</strong>
                </td>
            </tr>

            <tr style="background-color:rgb(189,215,238)">
                <td rowspan="2" style="vertical-align:middle; text-align:center">
                    <strong>IRA Share</strong>
                </td>
                <td colspan="4" style="vertical-align:middle; text-align:center">
                    <strong>Other Revenues</strong>
                </td>
            </tr>
            <tr style="background-color:rgb(221,235,247)">
                <td style="vertical-align:middle; text-align:center">
                    <strong>Other Revenues Total</strong>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <strong>Other Shares from National Tax Collections</strong>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <strong>Inter-Local Transfers</strong>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <strong>Extraordinary Receipts/ Grants/ Donations/ Aids</strong>
                </td>
            </tr>

            <tr ng-repeat="itemForExport in exportList">
                <td style="text-align:center">
                    <strong>
                        {{itemForExport.year_id == 3 ? "2011" : ""}}
                        {{itemForExport.year_id == 4 ? "2012" : ""}}
                        {{itemForExport.year_id == 5 ? "2013" : ""}}
                    </strong>
                </td>
                <td style="text-align:center">
                    {{itemForExport.lib_region_region_name}}
                </td>
                <td style="text-align:center">
                    {{itemForExport.lib_province_prov_name}}
                </td>
                <td style="text-align:center">
                    {{itemForExport.lib_city_city_name}}
                </td>
                <td style="text-align:center">
                    {{itemForExport.psgc_code}}
                </td>
                <td>
                    {{itemForExport.locally_shared_revenues}}
                </td>
                <td>
                    {{itemForExport.ira_share}}
                </td>
                <td>
                    {{itemForExport.other_revenues_total}}
                </td>
                <td>
                    {{itemForExport.other_shares_natl_tax}}
                </td>
                <td>
                    {{itemForExport.inter_local_transfers}}
                </td>
                <td>
                    {{itemForExport.extraordinary_receipts}}
                </td>
                <td>
                    {{itemForExport.total_lgu_income}}
                </td>
                <td>
                    {{itemForExport.expenditures_gen_public_services}}
                </td>
                <td>
                    {{itemForExport.expenditures_educ_culture_etc}}
                </td>
                <td>
                    {{itemForExport.expenditures_health_services}}
                </td>
                <td>
                    {{itemForExport.expenditures_labor_and_employment}}
                </td>
                <td>
                    {{itemForExport.expenditures_housing_comm_devt}}
                </td>
                <td>
                    {{itemForExport.expenditures_social_welfare_services}}
                </td>
                <td>
                    {{itemForExport.expenditures_economic_services}}
                </td>
                <td>
                    {{itemForExport.expenditures_other_purposes}}
                </td>
            </tr>



        </table>

    </div>

</div>
