
@{Layout = null; }

<form name="areaForm">
    <div class="panel panel-info">
        <div class="panel panel-heading">
            <h4>Area Profile</h4>
        </div>

        <div class="panel panel-body">
            <div layout="row">
                <div flex="35">
                    <label> Is this a poblacion?</label>
                </div>
                <div flex="50" style="padding-left:25px">
                    <md-radio-group name="Is Poblacion" ng-required="" ng-model="data.is_poblacion" layout="row">
                        <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                        <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

                    </md-radio-group>

                </div>
            </div>



            <div layout="row" layout-margin>
                <div flex="35">
                    <label>If not, how many hours does it take to travel to Poblacion?</label>
                </div>
                <div flex="15">
                    <label>Hours</label>
                    <input class="form-control" ng-disabled="data.is_poblacion == true" type="number" name="Hours to Town" ng-model="data.hrs_totown" ng-required="data.is_poblacion == false" min="0" />
                </div>
                <div flex="15">
                    <label>Minutes</label>
                    <input max="59" min="0" class="form-control" ng-disabled="data.is_poblacion == true" type="number" name="Minutes to Town" ng-model="data.mins_totown" ng-required="data.is_poblacion == false" />
                </div>
                <div flex="20">
                    <label>No. of kilometers from the poblacion?</label>
                    <input class="form-control" ng-disabled="data.is_poblacion == true" type="number" name="KM to Town" ng-model="data.km_frmtown" ng-required="data.is_poblacion == false" min="0" />

                </div>
            </div>



            @*<div layout="row">
                <div flex="50">
                    <label>No. of kilometers from the poblacion?</label>
                </div>
                <div flex="50" layout="row">
                    <label>KMS</label>
                    <input class="form-control" ng-disabled="data.is_poblacion == true" type="number" name="KM to Town" ng-model="data.km_frmtown" ng-required="data.is_poblacion == false" min="0" />

                </div>
            </div>*@
            <br />

            <div layout="row"  flex="100">
                <div flex="35">
                    <label>   Geographic Characteristic of the Barangays</label>
                </div>
                <div flex="50" style="padding-left:25px">
                    <md-checkbox class="md-primary" aria-label="Checkbox 1" value="true" ng-model="data.is_upland" id="is_upland">Upland</md-checkbox>
                    <md-checkbox class="md-primary" aria-label="Checkbox 1" value="true" ng-model="data.is_hilly" id="is_hilly">Hilly</md-checkbox>
                    <md-checkbox class="md-primary" aria-label="Checkbox 1" value="true" ng-model="data.is_lowland" id="is_lowland">Lowland</md-checkbox>
                    <md-checkbox class="md-primary" aria-label="Checkbox 1" value="true" ng-model="data.is_island" id="is_island">Island</md-checkbox>
                    <md-checkbox class="md-primary" aria-label="Checkbox 1" value="true" ng-model="data.is_coastal" id="is_coastal">Coastal</md-checkbox>
                </div>
            </div>

            <br />

            <div layout="row" flex="100">
                <div flex="35">
                    <label>Is this barangay isolated from other barangays?</label>
                </div>
                <div flex="50" style="padding-left:25px">
                    <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_isolated" id="is_isolated">
                        {{ data.is_isolated == true ? "Yes" : "" }}
                    </md-checkbox>
                </div>
            </div>

            <br />

            <div layout="row" flex="100">
                <div flex="35">
                    <label>What types of road traverse through the barangay?</label>
                </div>
                <div flex="50" style="padding-left:25px">
                    <div class="row">
                        <div class="col-md-5">
                            <b>Types of Road</b>
                        </div>
                        <div class="col-md-3">
                            <span style="float:right"><b>%</b></span>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-5">
                            Dirt
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="number" name="Dirt" ng-model="data.road_type_dirt" min="0" max="100" />
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-5">
                            Gravel
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="number" name="Gravel" ng-model="data.road_type_gravel" min="0" max="100" />
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-5">
                            Asphalted
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="number" name="Asphalted" ng-model="data.road_type_asphalted" min="0" max="100" />
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-5">
                            Cemented/All Weather Road
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="number" name="Cemented/All Weather Road" ng-model="data.road_type_cemented" min="0" max="100" />
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-3">
                            <span style="float:right; font-size:medium"><b>{{data.road_type_dirt + data.road_type_gravel + data.road_type_asphalted + data.road_type_cemented}}%</b></span>                            
                        </div>
                        <div class="col-md-4">
                            <span style="color:red; font-size:small" ng-show="(data.road_type_dirt + data.road_type_gravel + data.road_type_asphalted + data.road_type_cemented) > 100"><i>⚠ Percentage total exceeds 100%, please double check</i></span>
                        </div>
                    </div>
                </div>
            </div>
         

        </div>

    </div>


</form>



    <div class="panel panel-info">
        <div class="panel panel-heading">
            <h4>Environmental Critical Areas</h4>
        </div>

        <md-container layout-padding>
            <form name="ecaForm" layout="row" layout-margin flex="100">

                <table class="table zui-table zui-table-horizontal zui-table-highlight">
                    <tr>
                        <td></td>
                        <td>
                            Type
                        </td>
                        <td>
                            Description
                        </td>
                        <td>
                            Location
                        </td>

                    </tr>

                    <tbody ng-repeat="eca in data.eca_lists">
                        <tr>
                            <td>
                                <a class="btn btn-info" style="margin-right:5px" ng-click="eca_edit_is_selected=true; editEca(eca)" ng-hide="eca_edit_is_selected"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger" style="margin-right:5px" ng-click="removeEca($index)" ng-hide="eca_edit_is_selected"><i class="fa fa-trash"></i></a>

                                <a class="btn btn-success" style="margin-right:5px" ng-click="eca_edit_is_selected=false; saveEditedEca(eca)" ng-show="eca_edit_is_selected"><i class="fa fa-check"></i></a>
                                <a class="btn btn-danger" style="margin-right:5px" ng-click="cancelEditEca(eca); eca_edit_is_selected=false" ng-show="eca_edit_is_selected"><i class="fa fa-close"></i></a>
                            </td>
                            <td>
                                <span ng-hide="eca_edit_is_selected">{{eca.lib_eca_type.Name}}</span>
                                <select name="ECA Type" ng-model="eca.lib_eca_type" class="form-control" required ng-show="eca_edit_is_selected"
                                        ng-options="option as option.Name for option in eca_type_id_options">
                                    <option value="">[Select ECA Type]</option>
                                </select>
                            </td>
                            <td>
                                <span ng-hide="eca_edit_is_selected">{{eca.description}}</span>
                                <input type="text" class="form-control" placeholder="Description" ng-model="eca.description" required name="Description" ng-show="eca_edit_is_selected"/>
                            </td>
                            <td>
                                <span ng-hide="eca_edit_is_selected">{{eca.location}}</span>
                                <input type="text" class="form-control" placeholder="Location" ng-model="eca.location" required name="Location" ng-show="eca_edit_is_selected" />
                            </td>
                        </tr>
                    </tbody>

                    @*THIS IS FOR NEW ENTRY:*@
                    <tr>
                        <td>
                            <a class="btn btn-success" ng-disabled="!ecaForm.$valid" ng-click="addEca()"><i class="fa fa-plus"></i></a>
                        </td>
                        <td>
                            <select name="ECA Type" ng-model="eca.lib_eca_type" class="form-control" required
                                    ng-options="option as option.Name for option in eca_type_id_options">
                                <option value="">[Select ECA Type]</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Description" ng-model="eca.description" required name="Description" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Location" ng-model="eca.location" required name="Location" />
                        </td>
                    </tr>

                </table>
            </form>
        </md-container>
 



    </div>
