

<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>Conflict Affected/Pantawid Pamiya and SLP Beneficiaries</h4>
    </div>

    <div layout="row" layout-margin flex="100">
        <div flex="50">
            <label>   Is the barangay affected by armed conflict?</label>
        </div>
        <div flex="50">
            <div flex="50">
                <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="data.is_armedconflict" ng-change="data.is_brgyaffected = data.is_armedconflict" id="is_isolated">
                    {{ data.is_brgyaffected == true ? "Yes" : "" }}
                </md-checkbox>
            </div>
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div flex="50">
            <label>Affected by any of the following Peace and Social Cohesion Issues?</label>
        </div>
        <div flex="50" layout="row">
            <div flex="50" layout="column">

                @*<md-checkbox ng-model="data.is_armedconflict" ng-checked="true" label="md-checkbox">{{data.is_armedconflict}}</md-checkbox>*@

                @*<md-checkbox ng-model="data.is_armedconflict" aria-label="Checkbox 1" ng-disabled="">
                        Armed Conflict: {{ data.is_armedconflict == true ? "Yes" : "No" }}
                    </md-checkbox>*@
                <md-checkbox class="md-primary" ng-model="data.is_bounddispute" aria-label="Checkbox 1">
                    Boundary and Territorial Disputes<strong>{{ data.is_bounddispute == true ? " : Yes" : "" }}</strong>
                </md-checkbox>
                <md-checkbox class="md-primary" ng-model="data.is_poldispute" aria-label="Checkbox 1">
                    Political and Extra Judicial Killing<strong>{{ data.is_poldispute == true ? " : Yes" : "" }}</strong>
                </md-checkbox>
                <md-checkbox class="md-primary" value="true" aria-label="Checkbox 1" ng-model="data.is_genderviolence" id="is_genderviolence">
                    Family and gender-based violence<strong>{{ data.is_genderviolence == true ? " : Yes" : "" }}</strong>
                </md-checkbox>
                <md-checkbox class="md-primary" value="true" aria-label="Checkbox 1" ng-model="data.is_rido_war" id="is_rido_war">
                    RIDO or Clan Wars/Tribal Wars or 'Pangayao'<strong>{{ data.is_rido_war == true ? " : Yes" : "" }}</strong>
                </md-checkbox>
                <md-checkbox class="md-primary" value="true" aria-label="Checkbox 1" ng-model="data.is_crime" id="is_crime">
                    Crime<strong>{{ data.is_crime == true ? " : Yes" : "" }}</strong>
                </md-checkbox>
            </div>
        </div>
    </div>





    <div layout="row" layout-margin flex="100" ng-show="data.is_armedconflict==true">
        <div flex="50">
            <label> Please give additional details of the armed conflict area</label>
        </div>
        <md-input-container class="md-block" flex="50">

            <textarea name="final" ng-model="data.baragay_additiondetails" md-maxlength="2000" rows="5"
                      cols="100" aria-label="Additional Details"
                      md-select-on-focus="" flex="100"></textarea>

        </md-input-container>
    </div>



    <div layout="row" layout-margin flex="100">
        <div flex="50">
            <label>No. of Pantawid Pamilya household beneficiaries in the barangay</label>
        </div>
        <div flex="50">
            <input type="number" ng-app-max="{{ data.no_households }}" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_households" ng-model="data.no_pantawid_household">
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div flex="50">
            <label>No. of Pantawid Pamilya family beneficiaries in the barangay</label>
        </div>
        <div flex="50">
            <input type="number" ng-app-max="{{ data.no_households }}" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_households" ng-model="data.no_pantawid_family">
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div flex="50">
            <label>No. of SLP household beneficiaries in the barangay</label>
        </div>
        <div flex="50">
            <input type="number" ng-app-max="{{ data.no_households }}" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_households" ng-model="data.no_slp_household">
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div flex="50">
            <label>No. of SLP family beneficiaries in the barangay</label>
        </div>
        <div flex="50">
            <input type="number" ng-app-max="{{ data.no_households }}" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_households" ng-model="data.no_slp_family">
        </div>
    </div>


</div>