<form name="popForm">

    <div class="panel panel-info">

        <div class="panel panel-heading">
            <h4>Population Profile</h4>
        </div>

        <div layout="row" layout-margin flex="100">
            <div flex="50">
                <label>Total No. of Household</label>
            </div>
            <div flex="50">
                <input  ng-app-max="{{ data.no_families }}"  type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_households" ng-model="data.no_households">
            </div>
        </div>


        <div layout="row" layout-margin flex="100">
            <div flex="50">
                <label>Total No. of Families</label>
            </div>
            <div flex="50">
                <input type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_families" ng-model="data.no_families">
            </div>
        </div>



        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label> No. of Male</label>
            </div>
            <div flex="50">

                <input type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_male" ng-model="data.no_male">

            </div>

        </div>

        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label>No. of Female</label>
            </div>
            <div flex="50">

                <input type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_female" ng-model="data.no_female">


            </div>
        </div>

        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label> No. of Male children ages 0-5 years old</label>
            </div>
            <div flex="50">

                <input type="number" min="0" ng-app-max="{{ data.no_male }}" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_male0_5" ng-model="data.no_male0_5">


            </div>
        </div>

        <div layout="row" layout-margin flex="100">
            <div flex="50">

                <label>No. of Female children ages 0-5 years old</label>
            </div>
            <div flex="50">

                <input type="number" min="0" ng-app-max="{{ data.no_female }}"required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_female0_5" ng-model="data.no_female0_5">

            </div>
        </div>

        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label>No. of Male ages 6-12 years old</label>
            </div>
            <div flex="50">

                <input type="number" min="0" ng-app-max="{{ data.no_male }}" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_male6_12" ng-model="data.no_male6_12">

            </div>
        </div>


        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label>No. of Female ages 6-12 years old</label>
            </div>
            <div flex="50">

                <input type="number" min="0" ng-app-max="{{ data.no_female }}" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_female6_12" ng-model="data.no_female6_12">

            </div>
        </div>


        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label> No. of Male ages 13-17 years old</label>
            </div>
            <div flex="50">

                <input type="number" min="0" ng-app-max="{{ data.no_male }}" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_male13_16" ng-model="data.no_male13_16">


            </div>
        </div>

        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label> No. of Female ages 13-17 years old</label>
            </div>
            <div flex="50">

                <input type="number" min="0" ng-app-max="{{ data.no_female }}" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_female13_16" ng-model="data.no_female13_16">

            </div>
        </div>


        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label>Total Male voting population</label>
            </div>
            <div flex="50">

                <input   ng-app-max="{{ data.no_male }}"  type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_voting_male" ng-model="data.no_voting_male">

            </div>
        </div>


        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label>Total Female voting population</label>
            </div>
            <div flex="50">

                <input   ng-app-max="{{ data.no_female }}"  type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_voting_female" ng-model="data.no_voting_female">

            </div>
        </div>


        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label>Total Male Labor Force</label>
            </div>
            <div flex="50">

                <input   ng-app-max="{{ data.no_male }}"  type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_labor_male" ng-model="data.no_labor_male">

            </div>
        </div>


        <div layout="row" layout-margin flex="100">

            <div flex="50">
                <label>Total Female Labor Force</label>
            </div>
            <div flex="50">

                <input   ng-app-max="{{ data.no_female }}"  type="number" min="0" required ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="no_labor_female" ng-model="data.no_labor_female">

            </div>
        </div>





    </div>

</form>

<div class="panel panel-info">

    <div class="panel panel-heading">
        <h4>Indigenous People</h4>

      
    </div>

    <div class="panel-body">
        <form name="IPGroupForm">
            
            <div class="layout-row" layout-margin flex>
                <div flex>

                </div>
                <div flex>
                    IP Group
                </div>
                <div flex>
                    Sitio
                </div>
                <div flex>
                    Total Households
                </div>
                <div flex>
                    Total Families
                </div>
                <div flex>
                    Male
                </div>
                <div flex>
                    Female
                </div>
            </div>

            <div flex="100" layout="row" layout-margin layout-sm="column" ng-repeat="grp in data.ip_group_in_areas">
                <div flex>
                    <a class="btn btn-info" style="margin-right:5px" ng-click="ipgroup_edit_is_selected=true; editIPGroup(grp)" ng-hide="ipgroup_edit_is_selected"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="removeIPGroup($index)" ng-hide="ipgroup_edit_is_selected"><i class="fa fa-trash"></i></a>

                    <a class="btn btn-success" style="margin-right:5px" ng-click="ipgroup_edit_is_selected=false; saveEditedIPGroup(grp)" ng-show="ipgroup_edit_is_selected"><i class="fa fa-check"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="cancelEditIPGroup(grp); ipgroup_edit_is_selected=false" ng-show="ipgroup_edit_is_selected"><i class="fa fa-close"></i></a>
                </div>
                <div flex>
                    <span ng-hide="ipgroup_edit_is_selected">{{grp.lib_ip_group.Name}}</span>
                    <select ng-model="grp.lib_ip_group" class="form-control" ng-show="ipgroup_edit_is_selected"
                            ng-options="option as option.Name for option in ip_group_id_options">
                        <option value="">[Select IP Group]</option>
                    </select>
                </div>
                <div flex>
                    <span ng-hide="ipgroup_edit_is_selected">{{grp.sitio}}</span>
                    <input type="text" required name="Sito" ng-model="grp.sitio" class="form-control" ng-show="ipgroup_edit_is_selected" />
                </div>
                <div flex>
                    <span ng-hide="ipgroup_edit_is_selected">{{grp.household}}</span>
                    <input ng-app-max="{{grp.family}}" type="number" required name="Total Households" ng-model="grp.household" class="form-control" ng-show="ipgroup_edit_is_selected" />
                </div>
                <div flex>
                    <span ng-hide="ipgroup_edit_is_selected">{{grp.family}}</span>
                    <input type="number" required name="Total Families" ng-model="grp.family" class="form-control" ng-show="ipgroup_edit_is_selected" />
                </div>
                <div flex>
                    <span ng-hide="ipgroup_edit_is_selected">{{grp.male}}</span>
                    <input type="number" required name="Total Households" ng-model="grp.male" class="form-control" ng-show="ipgroup_edit_is_selected" />
                </div>
                <div flex>
                    <span ng-hide="ipgroup_edit_is_selected">{{grp.female}}</span>
                    <input type="number" required name="Total Households" ng-model="grp.female" class="form-control" ng-show="ipgroup_edit_is_selected"/>
                </div>
            </div>

            @*THIS IS FOR NEW ENTRY:*@
            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex>
                    <a class="btn btn-success" ng-disabled="!IPGroupForm.$valid" ng-click="addIpGroup()"><i class="fa fa-plus"></i></a>
                </div>
                <div flex>
                    <select ng-model="grp.lib_ip_group" class="form-control"
                            ng-options="option as option.Name for option in ip_group_id_options">
                        <option value="">[Select IP Group]</option>
                    </select>
                </div>
                <div flex>
                    <input type="text" required name="Sito" ng-model="grp.sitio" class="form-control" />
                </div>
                <div flex>
                    <input ng-app-max="{{ grp.family}}" type="number" required name="Total Households" ng-model="grp.household" class="form-control" />
                </div>
                <div flex>
                    <input type="number" required name="Total Families" ng-model="grp.family" class="form-control" />
                </div>
                <div flex>
                    <input type="number" required name="Total Households" ng-model="grp.male" class="form-control" />
                </div>
                <div flex>
                    <input type="number" required name="Total Households" ng-model="grp.female" class="form-control" />
                </div>
            </div>

        </form>

    </div>


</div>

