
@{Layout = null; }


<div class="panel panel-info">

    <div class="panel panel-heading">
        <h4>Poverty Profile</h4>
    </div>

    <div class="panel panel-body">       
        @*Health:*@
        <div class="row" style="padding-left:20px; padding-right:20px"> 
            <md-content>
                <h4 style="color:dodgerblue">Health</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <table class="table table-striped table-compact table-bordered">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            <strong>Value</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>Reference</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>1. Proportion of children aged 0-5 years old who died:</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of children aged 0-5 years old who died
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="health_number_0_5_value" ng-model="data.health_number_0_5_value"/>
                        </td>
                        <td>
                            <textarea class="form-control" class="form-control" name="health_number_0_5_reference" ng-model="data.health_number_0_5_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total children aged 0-5 years old
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="children_0_5_value" ng-model="data.children_0_5_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="children_0_5_reference" ng-model="data.children_0_5_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>2. Proportion of women who died due to pregnancy related causes</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of pregnant women who died due to pregnacy-related causes
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="pregnant_died_value" ng-model="data.pregnant_died_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="pregnant_died_reference" ng-model="data.pregnant_died_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total Pregnant women
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="pregnant_total_value" ng-model="data.pregnant_total_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="pregnant_total_reference" ng-model="data.pregnant_total_reference"></textarea>
                        </td>
                    </tr>
                </table>
            </md-content>
        </div>

        @*Nutrition:*@
        <div class="row" style="padding-left:20px; padding-right:20px">
            <md-content>
                <h4 style="color:dodgerblue">Nutrition</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <table class="table table-striped table-compact table-bordered">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            <strong>Value</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>Reference</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>3. Proportion of children aged 0-5 years old who are malnourished</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of children aged 0-5 years old who are malnourished
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="malnourished_0_5value" ng-model="data.malnourished_0_5value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="malnourished_0_5reference" ng-model="data.malnourished_0_5reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total Children aged 0-5 years old
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="total_malnourished_0_5value" ng-model="data.total_malnourished_0_5value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="total_malnourished_0_5_ref" ng-model="data.total_malnourished_0_5_ref"></textarea>
                        </td>
                    </tr>
                </table>
            </md-content>
        </div>

        @*Access to Basic Amenities:*@
        <div class="row" style="padding-left:20px; padding-right:20px">
            <md-content>
                <h4 style="color:dodgerblue">Access to Basic Amenities</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <table class="table table-striped table-compact table-bordered">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            <strong>Value</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>Reference</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>4. Proportion of households with access to safe water</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households with access to safe water (within 250m)
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="safewater_value" ng-model="data.safewater_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="safewater_reference" ng-model="data.safewater_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalsafewater_value" ng-model="data.totalsafewater_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totalsafewater_reference" ng-model="data.totalsafewater_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>5. Proportion of households with access to sanitary toilet facilities</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households with access to sanitary toilet facilities
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="sanity_value" ng-model="data.sanity_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="sanity_reference" ng-model="data.sanity_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalsanity_value" ng-model="data.totalsanity_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totalsanity_reference" ng-model="data.totalsanity_reference"></textarea>
                        </td>
                    </tr>
                </table>
            </md-content>
        </div>

        @*Shelter:*@
        <div class="row" style="padding-left:20px; padding-right:20px">
            <md-content>
                <h4 style="color:dodgerblue">Shelter</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <table class="table table-striped table-compact table-bordered">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            <strong>Value</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>Reference</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>6. Proportion of households who are squatting</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households who are squatting
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="squatting_value" ng-model="data.squatting_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="squatting_reference" ng-model="data.squatting_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalsquatting_value" ng-model="data.totalsquatting_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totalsquatting_reference" ng-model="data.totalsquatting_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>7. Proportion of households with living in makeshift housing</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households living in makeshift housing
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="makeshift_value" ng-model="data.makeshift_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="makeshift_reference" ng-model="data.makeshift_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalmakeshift_value" ng-model="data.totalmakeshift_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totalmakeshift_reference" ng-model="data.totalmakeshift_reference"></textarea>
                        </td>
                    </tr>
                </table>
            </md-content>
        </div>

        @*Peace and Order:*@
        <div class="row" style="padding-left:20px; padding-right:20px">
            <md-content>
                <h4 style="color:dodgerblue">Peace and Order</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <table class="table table-striped table-compact table-bordered">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            <strong>Value</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>Reference</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>8. Proportion of households with members victimized by crimes</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households with members victimized by crimes
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="victimized_value" ng-model="data.victimized_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="victimized_reference" ng-model="data.victimized_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalvictimized_value" ng-model="data.totalvictimized_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totalvictimized_reference" ng-model="data.totalvictimized_reference"></textarea>
                        </td>
                    </tr>
                </table>
            </md-content>
        </div>

        @*Income:*@
        <div class="row" style="padding-left:20px; padding-right:20px">
            <md-content>
                <h4 style="color:dodgerblue">Income</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <table class="table table-striped table-compact table-bordered">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            <strong>Value</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>Reference</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>9. Proportion of households with income less than the poverty threshold</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households with income less than the poverty threshold
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="threshold_value" ng-model="data.threshold_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="threshold_reference" ng-model="data.threshold_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalthreshold_value" ng-model="data.totalthreshold_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totalthreshold_reference" ng-model="data.totalthreshold_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>10. Proportion of households with income less than the food threshold</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households with income less than the food threshold
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" ng-model="data.incomeless_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="incomeless_reference" ng-model="data.incomeless_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalincomeless_value" ng-model="data.totalincomeless_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totalincomeless_reference" ng-model="data.totalincomeless_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>11. Proportion of households who eat less than three(3) meals a day</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of households who eat less than three(3) meals a day
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="lessthan_3_meals_value" ng-model="data.lessthan_3_meals_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="lessthan_3_meals_reference" ng-model="data.lessthan_3_meals_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of households
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totallessthan_3_meals_value" ng-model="data.totallessthan_3_meals_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="tot_lessthan_3_meals_ref" ng-model="data.tot_lessthan_3_meals_ref"> </textarea>
                        </td>
                    </tr>
                </table>
            </md-content>
        </div>

        @*Basic Education:*@
        <div class="row" style="padding-left:20px; padding-right:20px">
            <md-content>
                <h4 style="color:dodgerblue">Basic Education</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <table class="table table-striped table-compact table-bordered">
                    <tr>
                        <td></td>
                        <td style="text-align:center">
                            <strong>Value</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>Reference</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>12. Proportion of 6-12 years old children who are not in elementary school</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of 6-12 years old children who are not in elementary school
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="children_6_12_elem_value" ng-model="data.children_6_12_elem_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="children_6_12_elem_reference" ng-model="data.children_6_12_elem_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of 6-12 years old
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totalchildren_6_12_elem_value" ng-model="data.totalchildren_6_12_elem_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totchild_6_12_elem_ref" ng-model="data.totchild_6_12_elem_ref"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>13. Proportion of 13-16 years old children who are not in secondary school</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of 13-16 years old children who are not in secondary school
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="children_13_16_secondary_value" ng-model="data.children_13_16_secondary_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="child_13_16_secondary_ref" ng-model="data.child_13_16_secondary_ref"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number of 13-16 years old
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totchild_13_16_secondary_val" ng-model="data.totchild_13_16_secondary_val" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totchild_13_16_secondary_ref" ng-model="data.totchild_13_16_secondary_ref"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle" colspan="3">
                            <strong>14. Proportion of the members of the labor force who are not working</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Number of labor force who are not working
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="laborforce_value" ng-model="data.laborforce_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="laborforce_reference" ng-model="data.laborforce_reference"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &emsp;&emsp;Total number labor force
                        </td>
                        <td>
                            <input type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" name="totallaborforce_value" ng-model="data.totallaborforce_value" />
                        </td>
                        <td>
                            <textarea class="form-control" name="totallaborforce_reference" ng-model="data.totallaborforce_reference"></textarea>
                        </td>
                    </tr>
                </table>
            </md-content>
        </div>

    </div>
    
</div>