
@{Layout = null; }




<div class="panel panel-info">


    <div class="panel panel-heading">
        <h4>Barangay Problems</h4>
        <P>What are the main problems in the barangay? Identify.</P>
    </div>

    <div layout="row" layout-margin flex="100">

        <div flex>
            <label>Problems</label>
        </div>
        <div flex>
            <label>Details</label>
        </div>
        <div flex>
            <label>Are these problems being addressed properly?</label>
        </div>
        <div flex>
            <label>Remarks</label>
        </div>

    </div>


    <div layout="row" layout-margin flex="100">

        <div flex>
            <label>Access/Mobility</label>
        </div>
        <div flex>

            <md-input-container class="md-block" flex="100">

                <textarea name="access_details" ng-model="data.access_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Access Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>


        </div>
        <div flex>

            <md-radio-group ng-model="data.access_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>



        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="access_remarks" ng-model="data.access_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Access Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>

    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Water/Sanitation</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="water_details" ng-model="data.water_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Water Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>

            <md-radio-group ng-model="data.water_address" layout="row">
            <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>

        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="water_remarks" ng-model="data.water_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Water Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Health and Nutrition</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="health_details" ng-model="data.health_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Health Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>

            <md-radio-group ng-model="data.health_address" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>



        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="health_remarks" ng-model="data.health_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Health Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Literacy/Education</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="literacy_details" ng-model="data.literacy_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Literacy Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>


            <md-radio-group ng-model="data.literacy_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>




        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="lit_remarks" ng-model="data.literacy_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Literacy Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Employment/Income Generation</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="employment_details" ng-model="data.employment_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Employment Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>



            <md-radio-group ng-model="data.employment_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>




        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="employment_remarks" ng-model="data.employment_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Employment Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Land Ownership/Asset Distribution</label>
        </div>
        <div flex>

            <md-input-container class="md-block" flex="100">

                <textarea name="land_details" ng-model="data.landownership_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Land Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>

            <md-radio-group ng-model="data.landownership_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>





        </div>
        <div flex>


            <md-input-container class="md-block" flex="100">

                <textarea name="land_remarks" ng-model="data.landownership_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Land Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>


        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Agricultural Service Facilities(i.e post-harvest)</label>
        </div>
        <div flex>

            <md-input-container class="md-block" flex="100">

                <textarea name="agri_details" ng-model="data.agriculture_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Agri Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>

            <md-radio-group ng-model="data.agriculture_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>








        </div>
        <div flex>


            <md-input-container class="md-block" flex="100">

                <textarea name="agri_remarks" ng-model="data.agriculture_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Agri Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Peace and Order</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="peace_details" ng-model="data.peace_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Peace Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>

            <md-radio-group ng-model="data.peace_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>




        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="peace_remarks" ng-model="data.peace_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Peace Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Environment</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="env_details" ng-model="data.environment_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Env Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>

            <md-radio-group ng-model="data.environment_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>




        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="env_remarks" ng-model="data.environment_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Env Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Power Supply</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="power_details" ng-model="data.powersupply_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Power Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>


            <md-radio-group ng-model="data.powersupply_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>



        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="power_remarks" ng-model="data.powersupply_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Power Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Communication</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="comm_details" ng-model="data.communication_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Comm Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>


            <md-radio-group ng-model="data.communication_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>





        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="comm_remarks" ng-model="data.communication_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Comm Remerks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-margin flex="100">
        <div flex>
            <label>Others, Specify</label>
        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="others_details" ng-model="data.others_details" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Others Details"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
        <div flex>


            <md-radio-group ng-model="data.others_addressed" layout="row">
                <md-radio-button data-ng-value="" class="md-primary">N/A</md-radio-button>
                <md-radio-button data-ng-value="true" class="md-primary">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" class="md-primary"> No </md-radio-button>

            </md-radio-group>



        </div>
        <div flex>
            <md-input-container class="md-block" flex="100">

                <textarea name="others_remarks" ng-model="data.others_remarks" md-maxlength="2000" rows="3"
                          cols="100" aria-label="Others Remarks"
                          md-select-on-focus="" flex="100"></textarea>

            </md-input-container>
        </div>
    </div>
</div>