<div class="col-md-3">
    @Html.Label("Barangay: ")
   <select id="FiltBarangay" class="form-control" data-bind="
    options: lib_brgy, 
    value: brgy_code, 
    optionsText: 'brgy_name', 
    optionsValue: 'brgy_code',
               optionsCaption: '[Select Barangay]'"></select>
         
</div>