<div class="col-md-3">
    @Html.Label("Cycle: ")
    <select id="FiltCycle" class="form-control" data-bind="
    options: lib_cycles, 
    value: cycle_id, 
    optionsText: 'name', 
    optionsValue: 'cycle_id',optionsCaption: '[Select Cycle]'"></select>
</div>
