
<div class="col-md-3">
    @Html.Label("Mode: ")
    <select id="FiltEnrollment" class="form-control" data-bind="
    options: lib_enrollments, 
    value: enrollment_id, 
    optionsText: 'name', 
    optionsValue: 'enrollment_id',optionsCaption: '[Select KC Mode]'"></select>
</div>
