<div class="col-md-3">
    @Html.Label("Municipality: ")
    <select id="FiltMunicipality" class="form-control" data-bind="
    options: lib_cities, 
    value: city_code, 
    optionsText: 'city_name', 
    optionsValue: 'city_code',
    optionsCaption: '[Select Municipality]'"></select>
   </div>