<div class="col-md-3">
    @Html.Label("Province: ")
    <select id="FiltProvince" class="form-control" data-bind="
    options: lib_provinces, 
    value: prov_code, 
    optionsText: 'prov_name', 
    optionsValue: 'prov_code',
    optionsCaption: '[Select Province]'"></select>
</div>