<style>
    .zui-table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
    }

        .zui-table thead th {
            background-color: #DDEFEF;
            border: solid 1px #DDEEEE;
            color: #336B6B;
            padding: 10px;
            /*text-align: center;*/
            text-shadow: 1px 1px 1px #fff;
        }

        .zui-table tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }

    .zui-table-highlight tbody tr:hover {
        background-color: lightgray;
    }

    .zui-table-horizontal tbody td {
        border-left: none;
        border-right: none;
    }
</style>


<div class="panel panel-success"> <!--PARENT-->
    <div class="panel panel-heading">
        <h3>Municipal Talakayan Day Evaluation Form 2015 Version</h3><br />
        <h5>We would like to solicit your feedback on the conduct of the Municipal Talakayan. Please select the item that corresponds to your answer.</h5>
    </div>

    <div class="panel panel-body">
        <!--PARENT BODY-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>I. Objectives of the Municipal Talakayan</h4>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <label>1.1  Were the objectives fully explained?</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_obj_a" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-md-8">
                        <label>1.2  To what extent were the objectives attained?</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_obj_b">
                            <md-radio-button data-ng-value="1" class="md-primary">Fully (Minor deficiencies, if any)</md-radio-button>
                            <md-radio-button data-ng-value="2">Partially (Some factors preventing full achievement)</md-radio-button>
                            <md-radio-button data-ng-value="3">Hardly at all</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div> <!--end of I. body-->
        </div> <!--end of panel-info-->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>II. Time Allotment</h4>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <label>2.1 Was time alloted to the different activities sufficient?</label>
                    </div>
                </div>  <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 1: Presentation of the Municipal Profile and Development Status of the Municipality</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_a_part1" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 2: Presentation of Summary of Needs, Interventions (including KC), and Gaps</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_a_part2" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 3: Presentation of the Municipal Development Agenda - Plans and Activities for the coming year</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_a_part3" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 4: Gallery Walk</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_a_part4" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 5: Talakayan Synthesis, Next Steps, Participants' and Evaluation of the Municipal Talakayan</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_a_part5" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label>2.2 Which part(s) would you have given more/less time?</label>
                    </div>
                </div>  <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 1: Presentation of the Municipal Profile and Development Status of the Municipality</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_b_part1" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">More</md-radio-button>
                            <md-radio-button data-ng-value="2">Less</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 2: Presentation of Summary of Needs, Interventions (including KC), and Gaps</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_b_part2" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">More</md-radio-button>
                            <md-radio-button data-ng-value="2">Less</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 3: Presentation of the Municipal Development Agenda - Plans and Activities for the coming year</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_b_part3" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">More</md-radio-button>
                            <md-radio-button data-ng-value="2">Less</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 4: Gallery Walk</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_b_part4" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">More</md-radio-button>
                            <md-radio-button data-ng-value="2">Less</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 5: Talakayan Synthesis, Next Steps, Participants' and Evaluation of the Municipal Talakayan</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_timeallotment_b_part5" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">More</md-radio-button>
                            <md-radio-button data-ng-value="2">Less</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div> <!--end of II. body-->
        </div>  <!--end of panel-info-->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>III. Parts of the Municipal Talakayan</h4>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>3.1 In your opinion, did the following parts contributed to meeting the objectives of the Municipal Talakayan?</label>
                    </div>
                </div>  <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 1: Presentation of the Municipal Profile and Development Status of the Municipality</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_partsoftalakayan_part1" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 2: Presentation of Summary of Needs, Interventions (including KC), and Gaps</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_partsoftalakayan_part2" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 3: Presentation of the Municipal Development Agenda - Plans and Activities for the coming year</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_partsoftalakayan_part3" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 4: Gallery Walk</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_partsoftalakayan_part4" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">Part 5: Talakayan Synthesis, Next Steps, Participants' and Evaluation of the Municipal Talakayan</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_partsoftalakayan_part5" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
            </div> <!--end of III. body-->
        </div>  <!--end of panel-info-->


        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>IV. Evaluation of the team that conducted the Municipal Talakayan</h4>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <label>4.1 Please evaluate the whole teams' effectiveness in the conduct of the different parts of the Municipal Talakayan</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_evaluation_a">
                            <md-radio-button data-ng-value="5" class="md-primary">Excellent</md-radio-button>
                            <md-radio-button data-ng-value="4">Very Good</md-radio-button>
                            <md-radio-button data-ng-value="3">Good</md-radio-button>
                            <md-radio-button data-ng-value="2">Poor</md-radio-button>
                            <md-radio-button data-ng-value="1">Very Poor</md-radio-button>
                        </md-radio-group>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-8">
                        <label>4.2 Any special concern regarding the team that you want to bring to our attention?</label>
                    </div>
                    <div class="col-md-4">
                        <textarea name="special_concern" class="form-control" ng-model="data.v2015_evaluation_b"></textarea>
                    </div>
                </div>
            </div> <!--end of IV. body-->
        </div>  <!--end of panel-info-->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>V. Venue and Visual Aids</h4>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>5.1 Venue is...</label>
                    </div>
                </div>  <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">A. Clean</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_venue_a" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">B. Well-ventilated</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_venue_b" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">C. Spacious</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_venue_c" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">D. Well-lighted</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_venue_d" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">E. Equipped with good sound system</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_venue_e" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-12">
                        <label>5.2 Visual Aids in the presentation are...</label>
                    </div>
                </div>  <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">A. Sufficient</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_visual_a" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">B. Easily read from where I am seated</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_visual_b" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">C. Informative</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_visual_c" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">D. Attractive</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_visual_d" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-8">
                        <label style="padding-left:25px">E. Easy to understand</label>
                    </div>
                    <div class="col-md-4">
                        <md-radio-group required ng-model="data.v2015_visual_e" layout="row">
                            <md-radio-button data-ng-value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button data-ng-value="2">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div> <br />
            </div> <!--end of V. body-->
        </div>  <!--end of panel-info-->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>VI. Level of satisfaction with the different aspects of the Municipal Talakayan</h4>
                <h5>Select the number that corresponds to the extent you have been satisfied with the following aspects of the Municipal Talakayan. Please give your remarks corresponding to aspects with which you were "Dissatisfied" and "Very Satisfied".
                    <br /><br /><strong> 4 - Very Satisfied &emsp;&emsp; 2 - Dissatisified <br /> 3 - Satisfied &emsp;&emsp;&emsp;&emsp;&nbsp; 1 - Very Dissatisfied</strong></h5>
            </div>
            <div class="panel panel-body">
                <table class="table zui-table zui-table-horizontal zui-table-highlight">
                    <colgroup>
                        <col span="1" style="width: 40%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 30%;">
                    </colgroup>
                    <thead class="thead-inverse">
                        <tr>
                            <th style="text-align:center; vertical-align:middle">
                                Aspects
                            </th>
                            <th>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Responses<br /><br />
                                &emsp;&nbsp; 4 &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; 3 &emsp;&emsp;&emsp;&emsp;&nbsp; 2 &emsp;&emsp;&emsp;&emsp;&nbsp; 1&emsp;&emsp;&nbsp;&emsp;
                            </th>
                            <th style="text-align:center; vertical-align:middle">
                                <label style="text-align:center">Remarks</label>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <label>A. Knowledge gained</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_a" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_a_remarks" class="form-control" ng-model="data.v2015_satisfaction_a_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>B. Overall Content</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_b" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_b_remarks" class="form-control" ng-model="data.v2015_satisfaction_b_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>C. Competency of the Facilitators</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_c" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_c_remarks" class="form-control" ng-model="data.v2015_satisfaction_c_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>D. Schedule of different parts of the Municipal Talakayan</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_d" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_d_remarks" class="form-control" ng-model="data.v2015_satisfaction_d_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>E. Part 1: Presentation of the Municipal Profile and Development Status of the Municipality</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_e" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_e_remarks" class="form-control" ng-model="data.v2015_satisfaction_e_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>F. Part 2: Presentation of Summary of Needs, Interventions (including KC), and Gaps</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_f" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_f_remarks" class="form-control" ng-model="data.v2015_satisfaction_f_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>G. Part 3: Presentation of the Municipal Development Agenda - Plans and Activities for the coming year</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_g" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_g_remarks" class="form-control" ng-model="data.v2015_satisfaction_g_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>H. Part 4: Gallery Walk</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_h" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_h_remarks" class="form-control" ng-model="data.v2015_satisfaction_h_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>I. Part 5: Talakayan Synthesis, Next Steps, Participants' and Evaluation of the Municipal Talakayan</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_i" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_i_remarks" class="form-control" ng-model="data.v2015_satisfaction_i_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>J. Venue</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_j" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_j_remarks" class="form-control" ng-model="data.v2015_satisfaction_j_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>K. Overall satisfaction on the Municipal Talakayan</label>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-8">
                                    <md-radio-group required ng-model="data.v2015_satisfaction_k" layout="row">
                                        <md-radio-button data-ng-value="4" class="md-primary">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="3">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="2">&emsp;&emsp;</md-radio-button>
                                        <md-radio-button data-ng-value="1">&emsp;&emsp;</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <textarea name="v2015_satisfaction_k_remarks" class="form-control" ng-model="data.v2015_satisfaction_k_remarks"></textarea>
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>

                </table>
            </div> <!--end of VI. body-->
        </div>  <!--end of panel-info-->






















    </div> <!--end of PARENT panel body-->
        </div> <!--end of PARENT panel-->
