
<div class="col-md-3">
    @Html.Label("Form: ")
    <select id="FiltGRSFormr" class="form-control" data-bind="
    options: lib_grs_forms,
    value: grs_form_id,
    optionsText: 'name',
    optionsValue: 'grs_form_id',optionsCaption: '[Select Form]'"></select>
</div>
