
<div class="col-md-3">
    @Html.Label("Complaint Subject: ")
    <select id="FiltGRSComplaintSubject" class="form-control" data-bind="
    options: lib_grs_complaint_subjects,
    value: grs_complaint_subject_id,
    optionsText: 'name',
    optionsValue: 'grs_complaint_subject_id',optionsCaption: '[Select  Subject]'"></select>
</div>
