
<div class="col-md-3">
    @Html.Label("Resolution Status: ")
    <select id="FiltGRSResolutionStatus" class="form-control" data-bind="
    options: lib_grs_resolution_statuses,
    value: grs_resolution_status_id,
    optionsText: 'name',
    optionsValue: 'grs_resolution_status_id',optionsCaption: '[Select Resolution Status]'"></select>
</div>

