
<div class="col-md-3">
    @Html.Label("Category: ")
    <select id="FiltGRSCategory" class="form-control" data-bind="
    options: lib_grs_categories,
    value: grs_category_id,
    optionsText: 'name',
    optionsValue: 'grs_category_id',optionsCaption: '[Select Category]'"></select>
</div>
