
<div class="col-md-3">
    @Html.Label("Filling Mode: ")
    <select id="FiltGRSFillingMode" class="form-control" data-bind="
    options: lib_grs_filling_modes,
    value: grs_filling_mode_id,
    optionsText: 'name',
    optionsValue: 'grs_filling_mode_id',optionsCaption: '[Select Filling Mode]'"></select>
</div>
