
<div class="col-md-3">
    @Html.Label("Complainant Position: ")
    <select id="FiltGRSComplainantPosition" class="form-control" data-bind="
    options: lib_grs_sender_designations,
    value: grs_complainant_position_id,
    optionsText: 'name',
    optionsValue: 'grs_sender_designation_id',optionsCaption: '[Select Complainant Position]'"></select>
</div>
