
<div class="col-md-3">
    @Html.Label("Nature: ")
    <select id="FiltGRSNature" class="form-control" data-bind="
    options: lib_grs_natures,
    value: grs_nature_id,
    optionsText: 'name',
    optionsValue: 'grs_nature_id',optionsCaption: '[Select Nature]'"></select>
</div>
