
<div class="col-md-3">
    @Html.Label("Installation Level: ")
    <select id="FiltGRSFormr" class="form-control" data-bind="
    options: lib_grs_installation_levels,
    value: grs_installation_level_id,
    optionsText: 'name',
    optionsValue: 'grs_installation_level_id',optionsCaption: '[Select Level]'"></select>
</div>
