
<div class="col-md-3">
    @Html.Label("Feedback: ")
    <select id="FiltGRSFeedback" class="form-control" data-bind="
    options: lib_grs_feedbacks,
    value: grs_feedback_id,
    optionsText: 'name',
    optionsValue: 'grs_feedback_id',optionsCaption: '[Select Feedback]'"></select>
</div>
