
<div class="col-md-3">
    @Html.Label("IP Group: ")
    <select id="FiltIPGroup" class="form-control" data-bind="
    options: lib_ip_groups,
    value: ip_group_id,
    optionsText: 'name',
    optionsValue: 'ip_group_id',optionsCaption: '[Select IP group]'"></select>
</div>
