<div class="panel panel-success">
    <div class="panel panel-heading">
        <h4>Damages</h4>
        <p>Information on this portion must be encoded via the mobile application.</p>
    </div>
</div>