
<div class="panel panel-info">

    <div class="panel panel-heading">
        <h4>ERS Records</h4>
        <p>Ensure that you are adding the correct information and worker</p>
        <p><strong>Ensure that worker is already included on the Person Profile Module to be included on the list of potential workers.</strong></p>



        <md-button class="md-raised" aria-label="Add New Record" ng-click="addNewErsList()" ng-show="!selected_ers_list">
            Add New Record
        </md-button>

    </div>

    <div class="panel panel-danger" ng-show="with_floating_ers" style="margin:20px">
        <div class="panel panel-heading">
            <h4><b>Floating ERS Records</b></h4>
            <i>We have detected floating ERS record/s with no matching Sub Project. Please tick the checkbox to include the selected floating ERS to this Sub Project (SubProject ID: {{data.sub_project_id}})</i>
        </div>
        <div layout="row" layout-margin flex="100">
            <div flex>
            </div>
            <div flex>
                <label>Date Reported </label>
            </div>
            <div flex>
                <label>Date Started </label>
            </div>
            <div flex>
                <label>Date Ended </label>
            </div>
            <div flex>
                <label>Mode </label>
            </div>   
            <div flex>

            </div>
            <div flex>

            </div>          
        </div>
        <div ng-repeat="floating in list_floating">
            <div layout="row" layout-margin flex="100">
                <div flex>
                    <md-checkbox ng-model="floating.match_ers" style="vertical-align:middle" aria-label="Checkbox 1" ng-change="matchFloatingERS(floating)"></md-checkbox>
                </div>
                <div flex>
                    {{floating.date_reported |  date:'MM/dd/yyyy'}}
                </div>
                <div flex>
                    {{floating.date_started |  date:'MM/dd/yyyy'}}
                </div>
                <div flex>
                    {{floating.date_ended |  date:'MM/dd/yyyy'}}
                </div>
                <div flex>
                    <select name="ERS Delivery Mode" ng-model="floating.ers_delivery_mode_id" class="form-control"
                            ng-disabled="true"
                            ng-options="option.Id as option.Name for option in ers_delivery_mode_id_options">
                        <option value="">[Select Mode]</option>
                    </select>
                </div>
                <div flex>

                </div>
                <div flex>
                    <a ng-click="show_floating_worker($event, floating)" class="btn btn-success" title='View workers added in this ERS'><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
    </div>



    @*INDEX:*@
    <md-content ng-show="!selected_ers_list" style="margin:40px">

        <div layout="row" layout-margin flex="100">


            <div flex>


            </div>

            <div flex>
                <label for="Region:_">Date Reported </label>


            </div>

            <div flex>
                <label for="Region:_">Date Started </label>


            </div>


            <div flex>
                <label for="Region:_">Date Ended </label>


            </div>
            <div flex>
                <label for="Region:_">Mode </label>


            </div>

        </div>


        <div ng-repeat="ers in list_ErsList">
            <div layout="row" layout-margin flex="100">


                <div flex>


                    <a ng-click="show_ers_worker(ers)" class="btn btn-success"><i class="fa fa-group"></i></a>

                    <a ng-click="remove_ErsList(ers.sub_project_ers_id, $index)" class="btn btn-warning"><span data-toggle='tooltip' title='Delete Record' class='glyphicon glyphicon-trash'></span></a>

                </div>

                <div flex>

                    {{ers.date_reported |  date:'MM/dd/yyyy'}}
                </div>

                <div flex>

                    {{ers.date_started |  date:'MM/dd/yyyy'}}
                </div>


                <div flex>

                    {{ers.date_ended |  date:'MM/dd/yyyy'}}
                </div>
                           

                <div flex>

                    <select name="ERS Delivery Mode" ng-model="ers.ers_delivery_mode_id" id="brgy_code" class="form-control"
                            disabled=""
                            ng-options="option.Id as option.Name for option in ers_delivery_mode_id_options">
                        <option value="">[Select Mode]</option>
                    </select>
                </div>
            </div>
        </div>



    </md-content>



    <form name="ersListForm">
        <div layout="row" layout-margin flex="100" ng-show="new_ErsList">


            <div flex>


                <a class="btn btn-success btn-sm" style="margin-right: 5px" ng-click="add_ErsList()" ng-disabled="!ersListForm.$valid"><i class="fa fa-save"></i></a>

                <a class="btn btn-warning btn-sm" style="margin-right: 5px" ng-click="reset_ErsList()"><i class="fa fa-close"></i></a>

            </div>

            <div flex>
                <md-datepicker ng-disabled="new_ErsList_record.dt_date_reported != null" md-min-date="ers_min_date" md-max-date="today" ng-required="new_ErsList" name="Reported Date" ng-model="new_ErsList_record.dt_date_reported" ng-change="new_ErsList_record.date_reported = new_ErsList_record.dt_date_reported.toISOString()"></md-datepicker>



            </div>

            <div flex>
                <md-datepicker ng-disabled="new_ErsList_record.dt_date_reported == null || new_ErsList_record.dt_date_started != null" md-min-date="ers_min_date" md-max-date="minDateErsStart" ng-required="new_ErsList" name="Date Started" ng-model="new_ErsList_record.dt_date_started" ng-change="new_ErsList_record.date_started = new_ErsList_record.dt_date_started.toISOString()"></md-datepicker>


            </div>


            <div flex>
                <md-datepicker ng-disabled="new_ErsList_record.dt_date_started == null || new_ErsList_record.dt_date_ended !=null" md-min-date="minDateErsEnd" md-max-date="minDateErsStart" ng-required="new_ErsList" name="Date Ended" ng-model="new_ErsList_record.dt_date_ended" ng-change="new_ErsList_record.date_ended = new_ErsList_record.dt_date_ended.toISOString()"></md-datepicker>


            </div>

            <div flex>

                <select name="ERS Delivery Mode" ng-model="new_ErsList_record.ers_delivery_mode_id" id="brgy_code" class="form-control"
                        ng-required="new_ErsList"
                        ng-options="option.Id as option.Name for option in ers_delivery_mode_id_options">
                    <option value="">[Select Mode]</option>
                </select>



            </div>
        </div>

    </form>




    <md-content class="md-padding" ng-show="selected_ers_list">

        @Html.Partial("~/Views/Entry/SPI/_person_ers_work.cshtml")




    </md-content>
    <md-content class="md-padding" ng-show="new_worker">

        @Html.Partial("~/Views/Entry/SPI/_potential_workers.cshtml")

    </md-content>

</div>


@*DIALOG TO SHOW WORKERS ADDED IN FLOATING ERS:*@
<script type="text/ng-template" id="floatingers.tmpl.html">
    <md-dialog aria-label="Mango (Fruit)">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Workers added in this ERS ({{floating.ers_delivery_mode_id == 1 ? "CFA" : floating.ers_delivery_mode_id == 2 ? "Pakyaw" : floating.ers_delivery_mode_id == 3 ? "Hauling" : ""}})</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancelDialog()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    @*------------------------------ CFA ------------------------------*@
                    <md-table-container ng-show="floating.ers_delivery_mode_id==1">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td rowspan="2"></td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Last Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>First Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Middle Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Birthdate</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Sex</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Current Work</b>
                                    </td>
                                    <td colspan="2" style="vertical-align:middle">
                                        <b>Rate Per</b>
                                    </td>
                                    <td colspan="2" style="vertical-align:middle">
                                        <b>No. of Working</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Total Labor</b>
                                    </td>
                                    <td colspan="2" style="vertical-align:middle">
                                        <b>Actual Payment</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle">
                                        <b>Day</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Hour</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Actual Days</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Actual Hours</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Cash</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>In-Kind</b>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in floating_workers">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{ item.last_name }}
                                    </td>
                                    <td>
                                        {{ item.first_name }}
                                    </td>
                                    <td>
                                        {{ item.middle_name }}
                                    </td>
                                    <td>
                                        {{ item.birthdate |  date:'MM/dd/yyyy' }}
                                    </td>
                                    <td>
                                        {{ item.sex == true? "Male" : "Female" }}
                                    </td>
                                    <td>
                                        {{item.ers_current_work_name}}
                                    </td>
                                    <td>
                                        {{item.rate_day | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{item.rate_hour | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{item.work_days}}
                                    </td>
                                    <td>
                                        {{item.work_hours}}
                                    </td>
                                    <td>
                                        {{(item.rate_day * item.work_days) + (item.rate_hour * item.work_hours) | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{ item.actual_cash | currency:"₱" }}
                                    </td>

                                    <td>
                                        {{ item.actual_lcc | currency:"₱" }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                    </md-table-container>

                    @*--------------------------- PAKYAW -----------------------------*@
                    <md-table-container ng-show="floating.ers_delivery_mode_id==2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td rowspan="2"></td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Last Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>First Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Middle Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Birthdate</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Sex</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Current Work</b>
                                    </td>
                                    <td colspan="2" style="vertical-align:middle">
                                        <b>Rate Per Contract Price</b>
                                    </td>
                                    <td colspan="2" rowspan="2" style="vertical-align:middle">
                                        <b>Actual Output (Percentage of Work Accomplishment)</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Total Labor</b>
                                    </td>
                                    <td colspan="2" style="vertical-align:middle">
                                        <b>Actual Payment</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle">
                                        <b>Amount</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Unit/Item</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Cash</b>
                                    </td>
                                    <td>
                                        <b>In-Kind</b>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in floating_workers">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{ item.last_name }}
                                    </td>
                                    <td>
                                        {{ item.first_name }}
                                    </td>
                                    <td>
                                        {{ item.middle_name }}
                                    </td>
                                    <td>
                                        {{ item.birthdate  |  date:'MM/dd/yyyy'}}
                                    </td>
                                    <td>
                                        {{ item.sex == true? "Male" : "Female" }}
                                    </td>
                                    <td>
                                        {{item.ers_current_work_name}}
                                    </td>
                                    <td>
                                        {{item.rate_day | currency:"₱"}}
                                    </td>
                                    <td>
                                        per worker
                                    </td>
                                    <td colspan="2">
                                        {{item.percent}}%
                                    </td>
                                    <td>
                                        {{(item.rate_day * item.percent) / 100  | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{ item.actual_cash  | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{ item.actual_lcc  | currency:"₱"}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    @*------------------------------ HAULING ------------------------------*@
                    <md-table-container ng-show="floating.ers_delivery_mode_id==3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td rowspan="2"></td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Last Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>First Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Middle Name</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Birthdate</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Sex</b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Current Work</b>
                                    </td>
                                    <td colspan="2" style="vertical-align:middle">
                                        <b>Rate Per Quantity</b>
                                    </td>
                                    <td colspan="2" rowspan="2" style="vertical-align:middle">
                                        <b>Actual Output  </b>
                                    </td>
                                    <td rowspan="2" style="vertical-align:middle">
                                        <b>Total Labor</b>
                                    </td>
                                    <td colspan="2"style="vertical-align:middle">
                                        <b>Actual Payment</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle">
                                        <b>Amount</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Unit/Item</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>Cash</b>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <b>In-Kind</b>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in floating_workers">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{ item.last_name }}
                                    </td>
                                    <td>
                                        {{ item.first_name }}
                                    </td>
                                    <td>
                                        {{ item.middle_name }}
                                    </td>
                                    <td>
                                        {{ item.birthdate |  date:'MM/dd/yyyy' }}
                                    </td>
                                    <td>
                                        {{ item.sex == true? "Male" : "Female" }}
                                    </td>
                                    <td>
                                        {{item.ers_current_work_name}}
                                    </td>
                                    <td>
                                        {{item.rate_hauling | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{item.unit_hauling}}
                                    </td>
                                    <td colspan="2">
                                        {{item.work_hauling}}
                                    </td>
                                    <td>
                                        {{(item.rate_hauling * item.work_hauling) | number:2 | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{ item.actual_cash  | currency:"₱"}}
                                    </td>
                                    <td>
                                        {{ item.actual_lcc  | currency:"₱"}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>                        
                    </md-table-container>

                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="cancelDialog()">
                    Close
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
