<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Community Association Formation Tracking</h4>

    </div>
    <div class="panel panel-body">

        <form name="onmForm">

            <div class="layout-row" layout-margin flex>
                <div flex>
                </div>
                <div flex>
                    Name of Community Association
                </div>
                <div flex>
                    Date Formed / Organized
                </div>
                <div flex>
                    Date Registered
                </div>
                <div flex>
                    Name of Accreditation Entity
                </div>
                <div flex>
                    Date Constitution and by Laws Approved
                </div>
                <div flex>
                    Date O&M policies prepared and ratified
                </div>
                <div flex>
                    Date Detailed O&M plan prepared and approved
                </div>
                <div flex>
                    Capacity Building activities conducted
                </div>
            </div>

            <div class="layout-row" layout-margin flex ng-repeat="opmain in others.community_formation_lists">
                <div flex>
                    <a class="btn btn-info" style="margin-right:5px" ng-click="opmain_edit_is_selected=true; editOpMain(opmain)" ng-hide="opmain_edit_is_selected"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="removeOpMain($index)" ng-hide="opmain_edit_is_selected"><i class="fa fa-trash"></i></a>

                    <a class="btn btn-success" style="margin-right:5px" ng-click="opmain_edit_is_selected=false; saveEditedOpMain(opmain)" ng-show="opmain_edit_is_selected"><i class="fa fa-check"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="cancelEditOpMain(opmain); opmain_edit_is_selected=false" ng-show="opmain_edit_is_selected"><i class="fa fa-close"></i></a>
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.name}}</span>
                    <input type="text" required name="Equipment Name" ng-model="opmain.name" class="form-control" ng-show="opmain_edit_is_selected"/>
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.date_formed | date:'MM/dd/yyyy'}}</span>
                    <md-datepicker name="Date " ng-model="opmain.date_formed" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control" ng-show="opmain_edit_is_selected"></md-datepicker>
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.date_registered | date:'MM/dd/yyyy'}}</span>
                    <md-datepicker name="Date " ng-model="opmain.date_registered" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control" ng-show="opmain_edit_is_selected"></md-datepicker>
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.registed_with}}</span>
                    <input type="text" name="Name of Accreditation Entity" ng-model="opmain.registed_with" class="form-control" ng-show="opmain_edit_is_selected" />
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.date_consti | date:'MM/dd/yyyy'}}</span>
                    <md-datepicker name="Date " ng-model="opmain.date_consti" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control" ng-show="opmain_edit_is_selected"></md-datepicker>
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.date_policy | date:'MM/dd/yyyy'}}</span>
                    <md-datepicker name="Date " ng-model="opmain.date_policy" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control" ng-show="opmain_edit_is_selected"></md-datepicker>
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.date_plan | date:'MM/dd/yyyy'}}</span>
                    <md-datepicker name="Date " ng-model="opmain.date_plan" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control" ng-show="opmain_edit_is_selected"></md-datepicker>
                </div>
                <div flex>
                    <span ng-hide="opmain_edit_is_selected">{{opmain.capacity}}</span>
                    <input type="text" ng-model="opmain.capacity" class="form-control" ng-show="opmain_edit_is_selected" />
                </div>
            </div>

            @*THIS IS FOR NEW ENTRY:*@
            <div class="layout-row" layout-margin flex md-padding>
                <div flex>
                    <a class="btn btn-success" ng-click="addOpMain()" ng-disabled="!onmForm.$valid"><i class="fa fa-plus"></i></a>
                </div>
                <div flex>
                    <input type="text" required name="Equipment Name" ng-model="opmain.name" class="form-control" />
                </div>
                @*OLD -- removed mindate starting version 3.2*@
                @*<div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_formed" md-placeholder="Enter date"
                                   md-min-date="minDate" md-max-date="today" class="form-control"></md-datepicker>
                </div>*@
                <div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_formed" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control"></md-datepicker>
                </div>   
                @*OLD -- removed mindate starting version 3.2*@ 
                @*<div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_registered" md-placeholder="Enter date"
                                   md-min-date="minDate" md-max-date="today" class="form-control"></md-datepicker>
                </div>*@            
                <div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_registered" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control"></md-datepicker>
                </div>
                <div flex>
                    <input type="text" name="Name of Accreditation Entity" ng-model="opmain.registed_with" class="form-control" />
                </div>
                @*OLD -- removed mindate starting version 3.2*@
                @*<div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_consti" md-placeholder="Enter date"
                                   md-min-date="minDate" md-max-date="today" class="form-control"></md-datepicker>
                </div>*@
                <div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_consti" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control"></md-datepicker>
                </div>
                @*OLD -- removed mindate starting version 3.2*@
                @*<div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_policy" md-placeholder="Enter date"
                                   md-min-date="minDate" md-max-date="today" class="form-control"></md-datepicker>
                </div>*@
                <div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_policy" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control"></md-datepicker>
                </div>
                @*OLD -- removed mindate starting version 3.2*@
                @*<div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_plan" md-placeholder="Enter date"
                                   md-min-date="minDate" md-max-date="today" class="form-control"></md-datepicker>
                </div>*@
                <div flex>
                    <md-datepicker name="Date " ng-model="opmain.date_plan" md-placeholder="Enter date"
                                   md-max-date="today" class="form-control"></md-datepicker>
                </div>
                <div flex>
                    <input type="text" ng-model="opmain.capacity" class="form-control" />
                </div>
            </div>                   

        </form>

    </div>
</div>
