<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Suspension, Resume, Variation Orders</h4>

    </div>
    <div class="panel panel-body">

        <form name="suspensionForm">
            <md-content>
                <h4 style="color:dodgerblue">Suspension Orders</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <div class="panel panel-body">
                    <div class="layout-row" layout-margin flex>
                        <div flex></div>
                        <div flex>Order No.</div>
                        <div flex>Date</div>
                    </div>
                    <div class="layout-row" layout-margin flex ng-repeat="equip in data.suspension_order_lists">
                        <div flex>
                            <a class="btn btn-danger" ng-click="removeSuspension(equip, $index)"><i class="fa fa-trash"></i></a>
                        </div>
                        <div flex>
                            {{equip.name}}
                        </div>
                        <div flex>
                            {{equip.date | date:'MM/dd/yyyy'}}
                        </div>                        
                    </div>
                    <div class="layout-row" layout-margin flex md-padding>
                        <div flex>
                            <a class="btn btn-success" ng-click="addSuspension()" ng-disabled="!suspensionForm.$valid"><i class="fa fa-plus"></i></a>
                        </div>
                        <div flex>
                            <input type="text" required name="Order No." ng-model="susp.name" class="form-control" />
                        </div>
                        <div flex>
                            <md-datepicker ng-required="true" name="Date Provided" ng-model="susp.date" md-placeholder="Enter date" md-max-date="today"></md-datepicker>
                        </div>

                    </div>
                </div>
            </md-content>
        </form>

        <form name="resumeForm">
            <md-content>
                <h4 style="color:dodgerblue">Resume Orders</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <div class="panel panel-body">
                    <div class="layout-row" layout-margin flex>
                        <div flex></div>
                        <div flex>Order No.</div>
                        <div flex>Date</div>
                    </div>
                    <div class="layout-row" layout-margin flex ng-repeat="res in data.resume_order_lists">
                        <div flex>
                            <a class="btn btn-danger" ng-click="removeResume(res, $index)"><i class="fa fa-trash"></i></a>
                        </div>
                        <div flex>
                            {{res.name}}
                        </div>
                        <div flex>
                            {{res.date | date:'MM/dd/yyyy'}}
                        </div>
                    </div>
                    <div class="layout-row" layout-margin flex md-padding>
                        <div flex>
                            <a class="btn btn-success" ng-click="addResume()" ng-disabled="!resumeForm.$valid"><i class="fa fa-plus"></i></a>
                        </div>
                        <div flex>
                            <input type="text" required name="Order No." ng-model="resume.name" class="form-control" />
                        </div>
                        <div flex>
                            <md-datepicker ng-required="true" name="Date Provided" ng-model="resume.date" md-placeholder="Enter date" md-max-date="today"></md-datepicker>
                        </div>
                    </div>
                </div>
            </md-content>            
        </form>

        <form name="variationForm">
            <md-content>
                <h4 style="color:dodgerblue">Variation Orders</h4>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <div class="panel panel-body">
                    <div class="layout-row" layout-margin flex>
                        <div flex></div>
                        <div flex>Order No.</div>
                        <div flex>Date</div>
                    </div>
                    <div class="layout-row" layout-margin flex ng-repeat="var in data.variation_order_lists">
                        <div flex>
                            <a class="btn btn-danger" ng-click="removeVariation(var, $index)"><i class="fa fa-trash"></i></a>
                        </div>
                        <div flex>
                            {{var.name}}
                        </div>
                        <div flex>
                            {{var.date | date:'MM/dd/yyyy'}}
                        </div>
                    </div>
                    <div class="layout-row" layout-margin flex md-padding>
                        <div flex>
                            <a class="btn btn-success" ng-click="addVariation()" ng-disabled="!variationForm.$valid"><i class="fa fa-plus"></i></a>
                        </div>
                        <div flex>
                            <input type="text" required name="Order No." ng-model="vari.name" class="form-control" />
                        </div>
                        <div flex>
                            <md-datepicker ng-required="true" name="Date Provided" ng-model="vari.date" md-placeholder="Enter date" md-max-date="today"></md-datepicker>
                        </div>
                    </div>
                </div>
            </md-content>
        </form>        

    </div>
</div>