<div class="panel panel-success">
    <div class="panel-heading">
        <h4>Suspension, Resume, Variation Orders</h4>

    </div>
    <div class="panel panel-body">






        <form name="suspensionForm">

            <div class="panel panel-success">
                <div class="panel panel-heading">
                    <h3>Suspension Orders </h3>
                </div>


                <div class="panel panel-body">
                    <div class="layout-row" layout-margin flex>
                        <div flex>

                        </div>
                        <div flex>
                            Order No.
                        </div>
                        <div flex>
                            Date
                        </div>

                    </div>


                    <div class="layout-row" layout-margin flex ng-repeat="equip in data.suspension_order_lists">

                        <div flex>
                            <a class="btn btn-danger" ng-click="removeSuspension($index)"><i class="fa fa-trash"></i></a>
                        </div>
                        <div flex>
                            {{equip.name}}
                        </div>

                        <div flex>
                            {{equip.date | date:'MM/dd/yyyy'}}
                        </div>

                    </div>


                    <div class="layout-row" layout-margin flex md-padding>
                        <div flex>
                            <a class="btn btn-success" ng-click="addSuspension()" ng-disabled="!suspensionForm.$valid"><i class="fa fa-plus"></i></a>
                        </div>
                        <div flex>
                            <input type="text" required name="Order No." ng-model="susp.name" class="form-control" />
                        </div>

                        <div flex>

                            <md-datepicker ng-required="true" name="Date Provided" ng-model="susp.date" md-placeholder="Enter date"
                                           md-max-date="today" class="form-control"></md-datepicker>
                        </div>

                    </div>
                </div>


            </div>


        </form>



        <form name="resumeForm">

            <div class="panel panel-success">
                <div class="panel panel-heading">
                    <h3>Resume Orders </h3>
                </div>
                <div class="panel panel-body">
                    <div class="layout-row" layout-margin flex>
                        <div flex>

                        </div>
                        <div flex>
                            Order No.
                        </div>
                        <div flex>
                            Date
                        </div>

                    </div>


                    <div class="layout-row" layout-margin flex ng-repeat="equip in data.resume_order_lists">

                        <div flex>
                            <a class="btn btn-danger" ng-click="removeResume($index)"><i class="fa fa-trash"></i></a>
                        </div>
                        <div flex>
                            {{resume.name}}
                        </div>

                        <div flex>
                            {{resume.date | date:'MM/dd/yyyy'}}
                        </div>

                    </div>


                    <div class="layout-row" layout-margin flex md-padding>
                        <div flex>
                            <a class="btn btn-success" ng-click="addResume()" ng-disabled="!resumeForm.$valid"><i class="fa fa-plus"></i></a>
                        </div>
                        <div flex>
                            <input type="text" required name="Order No." ng-model="resume.name" class="form-control" />
                        </div>

                        <div flex>

                            <md-datepicker ng-required="true" name="Date Provided" ng-model="resume.date" md-placeholder="Enter date"
                                           md-max-date="today" class="form-control"></md-datepicker>
                        </div>

                    </div>

                </div>

            </div>


        </form>

        <form name="variationForm">

            <div class="panel panel-success">
                <div class="panel panel-heading">
                    <h3>Variation Orders </h3>
                </div>
                <div class="panel panel-body">
                    <div class="layout-row" layout-margin flex>
                        <div flex>

                        </div>

                        @*<div flex>
                            Type
                        </div>*@
                        <div flex>
                            Order No.
                        </div>
                        <div flex>
                            Date
                        </div>

                    </div>


                    <div class="layout-row" layout-margin flex ng-repeat="equip in data.variation_order_lists">

                        <div flex>
                            <a class="btn btn-danger" ng-click="removeVariation($index)"><i class="fa fa-trash"></i></a>
                        </div>

                        @*<div flex>


                            {{equip.type}}

                        </div>*@


                        <div flex>
                            {{equip.name}}
                        </div>

                        <div flex>
                            {{equip.date | date:'MM/dd/yyyy'}}
                        </div>

                    </div>


                    <div class="layout-row" layout-margin flex md-padding>
                        <div flex>
                            <a class="btn btn-success" ng-click="addVariation()" ng-disabled="!variationForm.$valid"><i class="fa fa-plus"></i></a>
                        </div>

                        @*<div flex>



                            <select name="Type" ng-model="vari.type" id="prov_code" class="form-control"
                                    ng-required="true"
                                    ng-options="option for option in variation_order_options">
                                <option value="">[Select Type]</option>
                            </select>


                        </div>*@


                        <div flex>
                            <input type="text" required name="Order No." ng-model="vari.name" class="form-control" />
                        </div>

                        <div flex>

                            <md-datepicker ng-required="true" name="Date Provided" ng-model="vari.date" md-placeholder="Enter date"
                                           md-max-date="today" class="form-control"></md-datepicker>
                        </div>

                    </div>
                </div>


            </div>


        </form>


    </div>

</div>