
@{Layout = null; }

<div class="panel panel-info">

    <div class="panel-heading">
        <h4>Physical Progress</h4>
    </div>

    <div layout="row" layout-margin flex="100">
        <div class="col-md-4">
            <label for="Region:_">  With Tariff?</label>
        </div>
        <div class="col-md-8">
            <md-radio-group name="With Tariff" ng-model="data.with_tariff">
                <md-radio-button data-ng-value="true" class="md-primary" ng-disabled="true">Yes</md-radio-button>
                <md-radio-button data-ng-value="false" ng-disabled="true"> No </md-radio-button>
            </md-radio-group>
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div class="col-md-4">
            <label for="Region:_">Physical Status</label>
        </div>
        <div class="col-md-8">
            @*disabled temporarily uncomment if they are allowed to modify thru deskapp*@
            @*<select name="physical_status_id" ng-model="data.physical_status_id" id="physical_status_id" class="form-control"
                    ng-required="true"
                    ng-options="option.Id as option.Name for option in physical_status_id_options">
                <option value="">[Select Physical Status]</option>
            </select>
            <div ng-messages="myForm.physical_status_id.$error">
                <div ng-message="required" class="error">*Physical Status is required.</div>
            </div>*@
            <select name="physical_status_id" ng-model="data.physical_status_id" id="physical_status_id" class="form-control"
                    ng-disabled="true"
                    ng-options="option.Id as option.Name for option in physical_status_id_options">
                <option value="">[Select Physical Status]</option>
            </select>
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div class="col-md-4">
            <label for="Region:_">Physical Accomplishment</label>
        </div>
        <div class="col-md-8">
            @*disabled temporarily uncomment if they are allowed to modify thru deskapp*@
            @*<input type="number" min="0" max="maxProgress" ng-model="data.Phy_Perc_To_Date" ng-required="data.physical_status_id != 3" name="Phy_Perc_To_Date" class="form-control" ng-disabled="data.physical_status_id !=2" />
            <div ng-messages="myForm.Phy_Perc_To_Date.$error">
                <div ng-message="required" class="error">*Physical Information is required.</div>
                <div ng-message="max" class="error">*Incorrect value!</div>
            </div>*@
            <input type="number" min="0" max="maxProgress" ng-model="data.Phy_Perc_To_Date" name="Phy_Perc_To_Date" class="form-control" ng-disabled="true" />
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div class="col-md-4">
            <label for="Region:_">Dates</label>
        </div>
        <div class="col-md-4">
            <label>Target</label>      
        </div>
        <div class="col-md-4">
            <label>Actual</label>      
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div class="col-md-4">
            <label for="Region:_">Date Started / Financial (First RFR date download)</label>
        </div>
        <div class="col-md-4">
            @*<md-datepicker name="Date_Started" ng-disabled="data.physical_status_id ==3" ng-required="data.physical_status_id == 1 || data.Phy_Perc_To_Date >0 " ng-model="dt_Date_Started" md-placeholder="Enter date" ng-change="data.Date_Started = dt_Date_Started.toISOString()" md-max-date="today"></md-datepicker>
            <div ng-messages="myForm.Date_Started.$error">
                <div ng-message="required" class="error">*Date Started is required for Completed Projects</div>
            </div>*@
        </div>
        <div class="col-md-4">
            @*<md-datepicker name="Date_Started" ng-disabled="data.physical_status_id ==3" ng-required="data.physical_status_id == 1 || data.Phy_Perc_To_Date >0 " ng-model="dt_Date_Started" md-placeholder="Enter date" ng-change="data.Date_Started = dt_Date_Started.toISOString()" md-max-date="today"></md-datepicker>*@
            <md-datepicker name="Date_Started" ng-disabled="true" ng-model="dt_Date_Started"></md-datepicker>
            <div ng-messages="myForm.Date_Started.$error">
                <div ng-message="required" class="error">*Date Started is required for Completed Projects</div>
            </div>
        </div>
    </div>

    <div layout="row" layout-margin flex="100">
        <div class="col-md-4">
            <label for="Region:_">Date Started / Physical </label>
        </div>
        <div class="col-md-4">
            @*<md-datepicker name="Physical Date Start Target" ng-disabled="data.physical_status_id ==3" ng-required="data.physical_status_id == 1 || data.Phy_Perc_To_Date >0 " ng-model="dt_date_start_physical_planned" md-placeholder="Enter date" ng-change="data.date_start_physical_planned = dt_date_start_physical_planned.toISOString()" md-max-date="today"></md-datepicker>*@  
            <md-datepicker name="Physical Date Start Target" ng-disabled="true" ng-model="dt_date_start_physical_planned"></md-datepicker>
        </div>
        <div class="col-md-4">
            @*<md-datepicker md-max-date="today" name="Physical Date Start Actual" ng-disabled="data.physical_status_id ==3" ng-required="data.physical_status_id == 1 || data.Phy_Perc_To_Date >0 " ng-model="dt_date_start_physical_actual" md-placeholder="Enter date" ng-change="data.date_start_physical_actual = dt_date_start_physical_actual.toISOString()"></md-datepicker>*@
            <md-datepicker name="Physical Date Start Actual" ng-disabled="true" ng-model="dt_date_start_physical_actual"></md-datepicker>
            <div ng-messages="myForm.date_physical_start.$error">
                <div ng-message="required" class="error">*Date Started is required for Completed Projects</div>
            </div>
        </div>
    </div>  
    
    <div layout="row" layout-margin flex="100">
        <div class="col-md-4">
            <label for="Region:_">  Date of Completion</label>
        </div>
        <div class="col-md-4">
            <md-datepicker name="Date of Completion Target" ng-disabled="true" ng-model="dt_PlannedDate_Completion"></md-datepicker>
            @*<md-datepicker ng-required="true" name="Date of Completion Target" ng-model="dt_PlannedDate_Completion" md-placeholder="Enter date" ng-change="data.PlannedDate_Completion = dt_PlannedDate_Completion.toISOString()"></md-datepicker>*@           
        </div>
        <div class="col-md-4">
            <md-datepicker name="Date of Completion Actual" ng-disabled="true" ng-model="dt_Date_of_Completion"></md-datepicker>
            @*<md-datepicker md-max-date="today" ng-required="data.physical_status_id ==1" ng-disabled="data.physical_status_id !=1" name="Date of Completion Actual" ng-model="dt_Date_of_Completion" md-placeholder="Enter date" ng-change="data.Date_of_Completion = dt_Date_of_Completion.toISOString()"></md-datepicker>*@           
        </div>
    </div>

</div>

<div class="panel panel-info">

    <div class="panel-heading">
        <h4>Physical Target and Actual Accomplishment</h4>
    </div>

    <div layout="row" layout-margin flex="100">
        <div flex>Active? <small>Check if YES</small></div>
        <div flex>Category</div>
        <div flex>Unit of Measure</div>
        <div flex>Target</div>
        <div flex>Actual (if completed)</div>
    </div>

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_construction_target == true">
        <div flex>
            <md-checkbox ng-model="data.phy_has_construction_target" aria-label="Checkbox 1" ng-disabled="true">
            </md-checkbox>
        </div>
        <div flex>
            Construction
        </div>
        <div flex>
            {{lib_project_type.phy_construction_unit}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_construction_target"*@
            <input class="form-control" name="Construction Target" type="number" ng-model="data.phy_construction_target" ng-change="data.s_phy_construction_target = data.phy_construction_target" ng-disabled="true" />
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_construction_target"*@
            <input class="form-control" name="Construction Actual" type="number" ng-model="data.phy_construction_actual" ng-change="data.s_phy_construction_actual = data.phy_construction_actual" ng-disabled="true" />
        </div>
    </div>

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_improvement_target ==true">
        <div flex>
            <md-checkbox ng-model="data.phy_has_improvement_target" aria-label="Checkbox 1" ng-disabled="true">
            </md-checkbox>
        </div>
        <div flex>
            Improvement/Upgrading
        </div>
        <div flex>
            {{lib_project_type.phy_improvement_unit}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_improvement_target"*@ 
            <input class="form-control" name="Improvement Target" type="number" ng-model="data.phy_improvement_target" ng-change="data.s_phy_improvement_target = data.phy_improvement_target" ng-disabled="true" />
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_improvement_target"*@
            <input class="form-control" name="Improvement Actual" type="number" ng-model="data.phy_improvement_actual" ng-change="data.s_phy_improvement_actual = data.phy_improvement_actual" ng-disabled="true" />
        </div>
    </div>

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_rehabilitation_target">
        <div flex>
            <md-checkbox ng-model="data.phy_has_rehabilitation_target" aria-label="Checkbox 1" ng-disabled="true">
            </md-checkbox>
        </div>
        <div flex>
            Rehabilitation /Repair / Reconstruction
        </div>
        <div flex>
            {{lib_project_type.phy_rehabilitation_unit}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_rehabilitation_target"*@
            <input class="form-control" name="Rehab Target" type="number" ng-model="data.phy_rehabilitation_target" ng-change="data.s_phy_rehabilitation_target = data.phy_rehabilitation_target" ng-disabled="true" />
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_rehabilitation_target"*@
            <input class="form-control" name="Rehab Actual" type="number" ng-model="data.phy_rehabilitation_actual" ng-change="data.s_phy_rehabilitation_actual = data.phy_rehabilitation_actual" ng-disabled="true" />
        </div>
    </div>

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_purchase_target">
        <div flex>
            <md-checkbox ng-model="data.phy_has_purchase_target" aria-label="Checkbox 1">
            </md-checkbox>
        </div>
        <div flex>
            Purchase / Acquisition / Provision (training)
        </div>
        <div flex>
            {{lib_project_type.phy_purchase_unit}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_purchase_target"*@
            <input class="form-control" type="number" ng-model="data.phy_purchase_target" ng-change="data.s_phy_purchase_target = data.phy_purchase_target" ng-disabled="true"/>
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_purchase_target"*@
            <input class="form-control" type="number" ng-model="data.phy_purchase_actual" ng-change="data.s_phy_purchase_actual = data.phy_purchase_actual" ng-disabled="true"/>
        </div>
    </div>
    
    @*Secondary*@

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_construction_target_secondary == true">
        <div flex>
            <md-checkbox ng-model="data.phy_has_construction_target_secondary" aria-label="Checkbox 1" ng-disabled="true">
            </md-checkbox>
        </div>
        <div flex>
            Construction
        </div>
        <div flex>
            {{lib_project_type.phy_construction_unit_secondary}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_construction_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_construction_target_secondary" ng-change="data.s_phy_construction_target_secondary = data.phy_construction_target_secondary"  />
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_construction_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_construction_actual_secondary" ng-change="data.s_phy_construction_actual_secondary = data.phy_construction_actual_secondary"  />
        </div>
    </div>

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_improvement_target_secondary ==true">
        <div flex>
            <md-checkbox ng-model="data.phy_has_improvement_target_secondary" aria-label="Checkbox 1" ng-disabled="true">
            </md-checkbox>
        </div>
        <div flex>
            Improvement/Upgrading
        </div>
        <div flex>
            {{lib_project_type.phy_improvement_unit_secondary}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_improvement_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_improvement_target_secondary" ng-change="data.s_phy_improvement_target_secondary = data.phy_improvement_target_secondary"  />
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_improvement_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_improvement_actual_secondary" ng-change="data.s_phy_improvement_actual_secondary = data.phy_improvement_actual_secondary" />
        </div>
    </div>

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_rehabilitation_target_secondary">
        <div flex>
            <md-checkbox ng-model="data.phy_has_rehabilitation_target_secondary" aria-label="Checkbox 1" ng-disabled="true">
            </md-checkbox>
        </div>
        <div flex>
            Rehabilitation /Repair / Reconstruction
        </div>
        <div flex>
            {{lib_project_type.phy_rehabilitation_unit_secondary}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_rehabilitation_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_rehabilitation_target_secondary" ng-change="data.s_phy_rehabilitation_target_secondary = data.phy_rehabilitation_target_secondary"  />
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_rehabilitation_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_rehabilitation_actual_secondary" ng-change="data.s_phy_rehabilitation_actual_secondary = data.phy_rehabilitation_actual_secondary"  />
        </div>
    </div>

    <div layout="row" layout-margin flex="100" ng-show="lib_project_type.phy_has_purchase_target_secondary">
        <div flex>
            <md-checkbox ng-model="data.phy_has_purchase_target_secondary" aria-label="Checkbox 1" ng-disabled="true">
            </md-checkbox>
        </div>
        <div flex>
            Purchase / Acquisition / Provision (training)
        </div>
        <div flex>
            {{lib_project_type.phy_purchase_unit_secondary}}
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_purchase_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_purchase_target_secondary" ng-change="data.s_phy_purchase_target_secondary = data.phy_purchase_target_secondary"  />
        </div>
        <div flex>
            @*ng-disabled="!data.phy_has_purchase_target_secondary"*@
            <input class="form-control" type="number" ng-model="data.phy_purchase_actual_secondary" ng-change="data.s_phy_purchase_target_secondary = data.phy_purchase_target_secondary"  />
        </div>
    </div>

</div>