<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Safeguards Information</h4>
    </div>
    <div class="panel panel-body">
        <md-content>
            
            <h4 style="color:dodgerblue">Necessary Documents / Permits Accomplishments</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-4">
                        With ESSC?
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.has_sc_essc" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        With ESMP?
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.has_sc_esmp" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        With ECC?
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.has_sc_ecc" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        With CNC?
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.has_sc_cnc" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                @*<div class="row">
                <div class="col-md-4">
                    With CP?
                </div>
                <div class="col-md-8">
                    <md-checkbox ng-model="data.has_sc_cp" aria-label="Checkbox 1">
                    </md-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    With CNO?
                </div>
                <div class="col-md-8">
                    <md-checkbox ng-model="data.has_sc_cno" aria-label="Checkbox 1">
                    </md-checkbox>
                </div>
            </div>*@
            </div>
            
            <h4 style="color:dodgerblue">Indigenous Peoples</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-4">
                        With IP presence in the Barangay?
                    </div>
                    <div class="col-md-8">
                        <md-radio-group ng-required="true" name="With IP Presence in the Barangay" ng-model="data.has_ip_presence">
                            <md-radio-button data-ng-value="true" class="md-primary" ng-disabled="true">Yes</md-radio-button>
                            <md-radio-button data-ng-value="false" ng-disabled="true"> No </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>

            <h4 style="color:dodgerblue">Ancestral Domain Status</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-4">
                        Approved CADT
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.with_cadt" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        On Process
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.on_process_cadt" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        CADTeable
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.cadteable" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <h4 style="color:dodgerblue">Validation Status</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-4">
                        Submitted request for validation to NCIP
                    </div>
                    <div class="col-md-1">
                        <md-checkbox ng-model="data.ncip_submitted" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                    <div class="col-md-4">
                        <md-datepicker name="Date Provided" ng-disabled="true" ng-model="dt_ncip_submitted_date"></md-datepicker>
                        @*<md-datepicker name="Date Provided" ng-disabled="!data.ncip_submitted" ng-required="data.ncip_submitted" ng-model="dt_ncip_submitted_date" ng-change="data.ncip_submitted_date = dt_ncip_submitted_date.toISOString()" md-placeholder="Enter date" md-max-date="today"></md-datepicker>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Validation Conducted
                    </div>
                    <div class="col-md-1">
                        <md-checkbox ng-model="data.ncip_validated" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                    <div class="col-md-4">
                        <md-datepicker name="Date Provided" ng-disabled="true" ng-model="dt_ncip_validated_date"></md-datepicker>
                        @*<md-datepicker md-min-date="dt_ncip_submitted_date" name="Date Provided" ng-disabled="!data.ncip_validated" ng-required="data.ncip_validated" ng-model="dt_ncip_validated_date" ng-change="data.ncip_validated_date = dt_ncip_validated_date.toISOString()" md-placeholder="Enter date" md-max-date="today"></md-datepicker>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        With Certification Pre-condition
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.with_cert_precondition" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        With Certification of Non Overlap
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.with_cert_non_overlap" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Others
                    </div>
                    <div class="col-md-1">
                        <md-checkbox ng-model="data.validation_status_others" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                    <div class="col-md-1">
                        Please specify
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="data.validation_status_others_input" class="form-control" ng-disabled="true" name="validation_status_others_input" />
                        @*<input type="text" ng-model="data.validation_status_others_input" class="form-control" ng-disabled="!data.validation_status_others" ng-required="data.validation_status_others" name="validation_status_others_input" />*@
                    </div>
                </div>
            </div>

            <h4 style="color:dodgerblue">Land Acquisition - Land Ownership and Tenurial Instrument</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <strong>1. Private Land</strong>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <b>Titled</b>
                    </div>
                    <div class="col-md-1">
                        <md-checkbox ng-model="data.land_ownership_private_titled" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                    <div class="col-md-3">
                        <b>Non-Titled</b>
                    </div>
                    <div class="col-md-1">
                        <md-checkbox ng-model="data.land_ownership_private_untitled" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        &emsp;&emsp;Deed of Donation
                    </div>
                    <div class="col-md-1">
                        @*<md-checkbox ng-model="data.land_aq_deed_of_donation" aria-label="Checkbox 1" ng-disabled="!data.land_ownership_private_titled">*@
                        <md-checkbox ng-model="data.land_aq_deed_of_donation" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                    <div class="col-md-3">
                        &emsp;&emsp;Quit Claim
                    </div>
                    <div class="col-md-1">
                        @*<md-checkbox ng-model="data.land_aq_private_quit_claim" aria-label="Checkbox 1" ng-disabled="!data.land_ownership_private_untitled">*@
                        <md-checkbox ng-model="data.land_aq_private_quit_claim" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        &emsp;&emsp;Usufruct Agreement
                    </div>
                    <div class="col-md-8">
                        @*<md-checkbox ng-model="data.land_aq_unsfruct" aria-label="Checkbox 1" ng-disabled="!data.land_ownership_private_titled">*@
                        <md-checkbox ng-model="data.land_aq_unsfruct" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        &emsp;&emsp;Right of Way Agreement
                    </div>
                    <div class="col-md-8">
                        @*<md-checkbox ng-model="data.land_aq_private_right_of_way_agreement" aria-label="Checkbox 1" ng-disabled="!data.land_ownership_private_titled">*@
                        <md-checkbox ng-model="data.land_aq_private_right_of_way_agreement" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        &emsp;&emsp;Permit to construct/enter
                    </div>
                    <div class="col-md-8">
                        @*<md-checkbox ng-model="data.land_aq_private_permit_to_construct" aria-label="Checkbox 1" ng-disabled="!data.land_ownership_private_titled">*@
                        <md-checkbox ng-model="data.land_aq_private_permit_to_construct" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>2. Public Land</strong>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        LGU Resolution
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.land_aq_blgu_resolution" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        DepEd Certification
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.land_aq_deped_certification" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        Permit/Clearance
                    </div>
                    <div class="col-md-1">
                        <md-checkbox ng-model="data.land_aq_other" aria-label="Checkbox 1" ng-disabled="true">
                        </md-checkbox>
                    </div>
                    <div class="col-md-1">
                        Issued by:
                    </div>
                    <div class="col-md-4">
                        @*<input type="text" ng-model="data.land_aq_permit_issued_by" class="form-control" ng-disabled="!data.land_aq_permit" ng-required="data.land_aq_permit" name="land_aq_permit_issued_by" />*@
                        <input type="text" ng-model="data.other_land_acquisition" class="form-control" ng-disabled="true" />
                    </div>
                </div>
            </div>


        </md-content>

    </div>
</div>


@*<div>*@
    @*<div class="col-md-6">*@

    @*<div class="row">
            <div class="col-md-4">
                Deed of Donation
            </div>
            <div class="col-md-8">

                <md-checkbox ng-model="data.land_aq_deed_of_donation" aria-label="Checkbox 1">
                </md-checkbox>
            </div>

        </div>*@


    @*<div class="row">
            <div class="col-md-4">
                Unsfruct Agreement
            </div>
            <div class="col-md-8">

                <md-checkbox ng-model="data.land_aq_unsfruct" aria-label="Checkbox 1">
                </md-checkbox>
            </div>

        </div>*@

    @*<div class="row">
            <div class="col-md-4">
                B/LGU Resolution
            </div>
            <div class="col-md-8">

                <md-checkbox ng-model="data.land_aq_blgu_resolution" aria-label="Checkbox 1">
                </md-checkbox>
            </div>

        </div>*@

    @*<div class="row">
            <div class="col-md-4">
                DepEd Certification
            </div>
            <div class="col-md-8">

                <md-checkbox ng-model="data.land_aq_deped_certification" aria-label="Checkbox 1">
                </md-checkbox>
            </div>

        </div>*@

    @*<div class="row">
                        <div class="col-md-4">
                            Other
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_aq_other" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row" ng-show="data.land_aq_other">
                        <div class="col-md-4">Other Land Acquisition: </div>
                        <div class="col-md-8">

                            <input type="text" placeholder="Other Land Acquisition" ng-model="data.other_land_acquisition" class="form-control" ng-disabled="!data.land_aq_other" ng-required="data.land_aq_other" name="other_land_acquisition" />
                            <div ng-messages="myForm.other_land_acquisition.$error">
                                <div ng-message="required" class="error">Other Land Acquisition Info required.</div>

                            </div>

                        </div>
                    </div>



                </div>

            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel panel-heading">
                <label>Land Ownership?</label>
            </div>


            <div class="panel panel-body">



                <div class="col-md-6">




                    <div class="row">
                        <div class="col-md-4">
                            With Existing DOD
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_dod" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Public Lands
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_public_lands" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Government-Owned Lands
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_gov" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                  <div class="row">
                        <div class="col-md-4">
                            Private and Untitled Land
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_private_untitled" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                  <div class="row">
                        <div class="col-md-4">
                            Private and Titled Land
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_private_titled" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>



                </div>

            </div>
        </div>*@



    @*<div class="row">
            <div class="col-md-4">
                Submitted Request for Verification to NCIP?
            </div>
            <div class="col-md-4">


                <md-checkbox ng-model="data.ncip_submitted" aria-label="Checkbox 1">
                </md-checkbox>

            </div>
            <div class="col-md-4">

                <md-datepicker name="Date Provided" ng-model="dt_ncip_submitted_date" ng-change="data.ncip_submitted_date = dt_ncip_submitted_date.toISOString()" md-placeholder="Enter date"
                               md-max-date="today" ></md-datepicker>

            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                NCIP conducted Field Validation?
            </div>
            <div class="col-md-4">


                <md-checkbox ng-model="data.ncip_validated" aria-label="Checkbox 1">
                </md-checkbox>

            </div>
            <div class="col-md-4">


                <md-datepicker md-min-date="dt_ncip_submitted_date" name="Date Provided" ng-model="dt_ncip_validated_date" ng-change="data.ncip_validated_date = dt_ncip_validated_date.toISOString()" md-placeholder="Enter date"
                               md-max-date="today" class="form-control"></md-datepicker>



            </div>
        </div>*@






    @*<div class="panel panel-success">
            <div class="panel panel-heading">

                <h3>Safeguard Concerns</h3>

                <label>Acquisition of proposed site/location?</label>
            </div>


            <div class="panel panel-body">



                <div class="col-md-6">






                    <div class="row">
                        <div class="col-md-4">
                            Deed of Donation
                        </div>
                        <div class="col-md-8">

                            <md-checkbox ng-model="data.land_aq_deed_of_donation" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            Unsfruct Agreement
                        </div>
                        <div class="col-md-8">

                            <md-checkbox ng-model="data.land_aq_unsfruct" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            B/LGU Resolution
                        </div>
                        <div class="col-md-8">

                            <md-checkbox ng-model="data.land_aq_blgu_resolution" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            DepEd Certification
                        </div>
                        <div class="col-md-8">

                            <md-checkbox ng-model="data.land_aq_deped_certification" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Other
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_aq_other" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row" ng-show="data.land_aq_other">
                        <div class="col-md-4">Other Land Acquisition: </div>
                        <div class="col-md-8">

                            <input type="text" placeholder="Other Land Acquisition" ng-model="data.other_land_acquisition" class="form-control" ng-disabled="!data.land_aq_other" ng-required="data.land_aq_other" name="other_land_acquisition" />
                            <div ng-messages="myForm.other_land_acquisition.$error">
                                <div ng-message="required" class="error">Other Land Acquisition Info required.</div>

                            </div>

                        </div>
                    </div>



                </div>

            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel panel-heading">
                <label>Land Ownership?</label>
            </div>


            <div class="panel panel-body">



                <div class="col-md-6">




                    <div class="row">
                        <div class="col-md-4">
                            With Existing DOD
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_dod" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Public Lands
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_public_lands" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Government-Owned Lands
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_gov" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Private and Untitled Land
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_private_untitled" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            Private and Titled Land
                        </div>
                        <div class="col-md-8">


                            <md-checkbox ng-model="data.land_ownership_private_titled" aria-label="Checkbox 1">
                            </md-checkbox>
                        </div>

                    </div>



                </div>

            </div>
        </div>*@



    @*<div class="panel panel-success">
            <div class="panel panel-heading">
                <label>Necesary Permits Accomplished</label>
            </div>


            <div class="panel panel-body">



                <div class="row">
                    <div class="col-md-4">
                        With ESMP?
                    </div>
                    <div class="col-md-8">

                        <md-checkbox ng-model="data.has_sc_esmp" aria-label="Checkbox 1">
                        </md-checkbox>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        With ECC?
                    </div>
                    <div class="col-md-8">


                        <md-checkbox ng-model="data.has_sc_ecc" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        With CNC?
                    </div>
                    <div class="col-md-8">


                        <md-checkbox ng-model="data.has_sc_cnc" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        With CP?
                    </div>
                    <div class="col-md-8">

                        <md-checkbox ng-model="data.has_sc_cp" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        With CNO?
                    </div>
                    <div class="col-md-8">
                        <md-checkbox ng-model="data.has_sc_cno" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>

                </div>


            </div>
        </div>*@





    @*<div class="panel panel-success">
            <div class="panel panel-heading">
                <label>Certificate of Ancestral Domain Title</label>
            </div>


            <div class="panel panel-body">


                <div class="row">
                    <div class="col-md-4">
                        CADT Status
                    </div>
                    <div class="col-md-8">

                        <md-checkbox ng-model="data.with_cadt" aria-label="Checkbox 1">
                        </md-checkbox>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                      On Process
                    </div>
                    <div class="col-md-8">


                        <md-checkbox ng-model="data.on_process_cadt" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        CADTeable
                    </div>
                    <div class="col-md-8">


                        <md-checkbox ng-model="data.cadteable" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        Submitted Request for Verification to NCIP?
                    </div>
                    <div class="col-md-4">


                        <md-checkbox ng-model="data.ncip_submitted" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>
                    <div class="col-md-4">

                        <md-datepicker   name="Date Provided" ng-model="dt_ncip_submitted_date" ng-change="data.ncip_submitted_date = dt_ncip_submitted_date.toISOString()" md-placeholder="Enter date"
                                       md-max-date="today" class="form-control"></md-datepicker>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        NCIP conducted Field Validation?
                    </div>
                    <div class="col-md-4">


                        <md-checkbox ng-model="data.ncip_validated" aria-label="Checkbox 1">
                        </md-checkbox>

                    </div>
                    <div class="col-md-4">


                        <md-datepicker md-min-date="dt_ncip_submitted_date"   name="Date Provided" ng-model="dt_ncip_validated_date" ng-change="data.ncip_validated_date = dt_ncip_validated_date.toISOString()" md-placeholder="Enter date"
                                       md-max-date="today" class="form-control"></md-datepicker>



                    </div>
                </div>


            </div>
        </div>*@





    @*</div>


        </div>*@
@*</div>*@


               