<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>Sub Project Concept Form</h4>
    </div>

    <div class="panel panel-body">       
        
        <md-content>
            <h4 style="color:dodgerblue">Project Beneficiaries (Target)</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>

            <div layout="row" layout-padding flex="100">
                <div flex></div>
                <div flex>Households</div>
                <div flex>Families</div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-padding flex="100">
                <div flex>Total Number of Beneficiaries </div>
                <div flex>
                    <input type="number" min="0" name="No of HH Beneficiaries" class="form-control" ng-model="data.NoOfHH" ng-app-max="{{ data.no_target_families }}" ng-disabled="true" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
                <div flex>
                    <input type="number" min="0" class="form-control" name="No of Families" ng-model="data.no_target_families" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-padding flex="100">
                <div flex>Total Pantawid Beneficiaries</div>
                <div flex>
                    <input type="number" class="form-control" name="No of Pantawid Households" ng-model="data.no_target_pantawid_households" ng-app-max="{{ data.no_target_pantawid_families }}" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
                <div flex>
                    <input type="number" class="form-control" name="No of Pantawid Families" ng-model="data.no_target_pantawid_families" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-padding flex="100">
                <div flex>Total SLP Beneficiaries</div>
                <div flex>
                    <input type="number" class="form-control" name="No of SLP Households" ng-model="data.no_target_slp_households" ng-app-max="{{ data.no_target_slp_families }}" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
                <div flex>
                    <input type="number" class="form-control" name="No of SLP Families" ng-model="data.no_target_slp_families" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-padding flex="100">
                <div flex>Total IP Beneficiaries</div>
                <div flex>
                    <input type="number" class="form-control" name="No of IP Households" ng-model="data.no_target_ip_households" ng-app-max="{{ data.no_target_ip_families }}" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
                <div flex>
                    <input type="number" class="form-control" name="No of IP Families" ng-model="data.no_target_ip_families" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-padding flex="100">
                <div flex></div>
                <div flex>Male</div>
                <div flex>Female</div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-padding flex="100">
                <div flex>Total   Beneficiaries </div>
                <div flex>
                    <input type="number" min="0" name="No of Male Beneficiaries" class="form-control" ng-model="data.no_target_male" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
                <div flex>
                    <input type="number" min="0" class="form-control" name="No Female Beneficiaries" ng-model="data.no_target_female" ng-required="data.physical_status_id !=3" ng-pattern="/^[0-9]{1,7}$/" />
                </div>
            </div>

            <br /><br />
            <h4 style="color:dodgerblue">Financial Economic Aspect</h4>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <br />
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-7">
                        Local Counterpart Contribution (LCC)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        Community
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Cost Items per Component
                    </div>
                    <div class="col-md-1">
                        Total Cost
                    </div>
                    <div class="col-md-1">
                        CDD Grant
                    </div>
                    <div class="col-md-1">
                        Men
                    </div>
                    <div class="col-md-1">
                        Women
                    </div>
                    <div class="col-md-1">
                        BLGU
                    </div>
                    <div class="col-md-1">
                        MLGU
                    </div>
                    <div class="col-md-1">
                        PLGU
                    </div>
                    <div class="col-md-1">
                        Others
                    </div>
                    <div class="col-md-1">
                        Total LCC
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        Total Estimated Cost - POW (Infrastructure)
                    </div>
                    <div class="col-md-1">
                        @*Total Cost*@
                        {{pow_total()}}
                        @*{{data.spcr.pow_cdd_cost + data.spcr.pow_male_cost + data.spcr.pow_female_cost + data.spcr.pow_blgu_cost + data.spcr.pow_mlgu_cost + data.spcr.pow_plgu_cost +  data.spcr.pow_others_cost}}*@
                    </div>
                    <div class="col-md-1">
                        @*CDD Grant*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.pow_cdd_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Men*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.pow_male_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Women*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.pow_female_cost" />
                    </div>
                    <div class="col-md-1">
                        @*BLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.pow_blgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*MLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.pow_mlgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*PLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.pow_plgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Others*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.pow_others_cost" />
                    </div>
                    <div class="col-md-1">
                        {{pow_total_lcc()}}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        Training
                    </div>
                    <div class="col-md-1">
                        {{training_total()}}
                        @*Total Cost*@
                        @*{{data.spcr.training_cdd_cost + data.spcr.training_male_cost + data.spcr.training_female_cost + data.spcr.training_blgu_cost + data.spcr.training_mlgu_cost + data.spcr.training_plgu_cost +  data.spcr.training_others_cost}}*@
                    </div>
                    <div class="col-md-1">
                        @*CDD Grant*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.training_cdd_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Men*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.training_male_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Women*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.training_female_cost" />
                    </div>
                    <div class="col-md-1">
                        @*BLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.training_blgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*MLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.training_mlgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*PLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.training_plgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Others*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.training_others_cost" />
                    </div>
                    <div class="col-md-1">
                        {{training_total_lcc()}}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        Women Specific
                    </div>
                    <div class="col-md-1">
                        {{women_total()}}
                        @*Total Cost*@
                        @*{{data.spcr.women_cdd_cost + data.spcr.women_male_cost + data.spcr.women_female_cost + data.spcr.women_blgu_cost + data.spcr.women_mlgu_cost + data.spcr.women_plgu_cost +  data.spcr.women_others_cost}}*@
                    </div>
                    <div class="col-md-1">
                        @*CDD Grant*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.women_cdd_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Men*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.women_male_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Women*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.women_female_cost" />
                    </div>
                    <div class="col-md-1">
                        @*BLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.women_blgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*MLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.women_mlgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*PLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.women_plgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Others*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.women_others_cost" />
                    </div>
                    <div class="col-md-1">
                        {{women_total_lcc()}}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        Management
                    </div>
                    <div class="col-md-1">
                        @*Total Cost*@
                        {{management_total()}}
                        @*{{data.spcr.management_cdd_cost + data.spcr.management_male_cost + data.spcr.management_female_cost + data.spcr.management_blgu_cost + data.spcr.management_mlgu_cost + data.spcr.management_plgu_cost +  data.spcr.management_others_cost}}*@
                    </div>
                    <div class="col-md-1">
                        @*CDD Grant*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.management_cdd_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Men*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.management_male_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Women*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.management_female_cost" />
                    </div>
                    <div class="col-md-1">
                        @*BLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.management_blgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*MLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.management_mlgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*PLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.management_plgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Others*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.management_others_cost" />
                    </div>
                    <div class="col-md-1">
                        {{management_total_lcc()}}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        Others
                    </div>
                    <div class="col-md-1">
                        @*Total Cost*@
                        {{others_total()}}
                        @*{{data.spcr.others_cdd_cost + data.spcr.others_male_cost + data.spcr.others_female_cost + data.spcr.others_blgu_cost + data.spcr.others_mlgu_cost + data.spcr.others_plgu_cost +  data.spcr.others_others_cost}}*@
                    </div>
                    <div class="col-md-1">
                        @*CDD Grant*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.others_cdd_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Men*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.others_male_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Women*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.others_female_cost" />
                    </div>
                    <div class="col-md-1">
                        @*BLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.others_blgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*MLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.others_mlgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*PLGU*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.others_plgu_cost" />
                    </div>
                    <div class="col-md-1">
                        @*Others*@
                        <input type="number" min="0" class="form-control" ng-model="data.spcr.others_others_cost" />
                    </div>
                    <div class="col-md-1">
                        {{others_total_lcc()}}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        Total
                    </div>
                    <div class="col-md-1">
                        {{grand_total()}}<br />
                        <b>(100%)</b>
                    </div>
                    <div class="col-md-1">
                        {{cdd_total()}}<br />
                        <b>({{cdd_perc()}}%)</b>
                    </div>
                    <div class="col-md-1">
                        {{men_total()}}<br />
                        <b>({{men_perc()}}%)</b>
                    </div>
                    <div class="col-md-1">
                        {{female_total()}}<br />
                        <b>({{female_perc()}}%)</b>
                    </div>
                    <div class="col-md-1">
                        {{blgu_total()}}<br />
                        <b>({{blgu_perc()}}%)</b>
                    </div>
                    <div class="col-md-1">
                        {{mlgu_total()}}<br />
                        <b>({{mlgu_perc()}}%)</b>
                    </div>
                    <div class="col-md-1">
                        {{plgu_total()}}<br />
                        <b>({{plgu_perc()}}%)</b>
                    </div>
                    <div class="col-md-1">
                        {{others_others_total()}}<br />
                        <b>({{others_others_total_perc()}}%)</b>
                    </div>
                    <div class="col-md-1">
                        {{grand_total_lcc()}}<br />
                        <b>({{grand_total_lcc_perc()}}%)</b>
                    </div>
                </div>
            </div>
            <br />
        </md-content>
    </div>
    
</div>




