@Html.Partial("~/Views/Report/MunicipalReport/_municipal_report_filter.cshtml")


@* --------------------- Municipal and Barangay Training ==> Training Participants Across Cycles --------------------- *@

<div class="panel panel-info" ng-show="selected_subreport.id == 4" id="subreport_4">
    <div class="panel panel-body">

        <div style="float:right">
            Report Generated: {{dateGenerated}}
        </div>

        <h3>KC Municipal Report - Municipal and Barangay Trainings</h3>
        <h4>{{selected_subreport.name}}</h4>

        <br /><br />

        <div class="row">
            <div class="col-md-3">
                <b>Region: </b>{{selected_region.Name == null ? "" : selected_region.Name}}
            </div>
            <div class="col-md-3">
                <b>Province: </b>{{selected_province.Name == null ? "Across Provinces" : selected_province.Name}}
            </div>
            <div class="col-md-3">
                <b>Municipality: </b>{{selected_city.Name == null ? "Across Municipalities" : selected_city.Name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b>Project: </b>{{selected_fund.Name == null ? "Across Projects" : selected_fund.Name}}
            </div>
            <div class="col-md-3">
                <b>KC Mode: </b>{{selected_enrollment.Name  == null ? "Across KC Modes" : selected_enrollment.Name}}
            </div>
        </div>

        <br /><br />

        <div class="row">
            <div class="col-md-12"><strong>A. Male and Female Community Volunteers Participants (Unique Count per Category)</strong></div>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <tr class="bg-primary">
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        Category
                    </td>
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        # of Trainings
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Male
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Female
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Total
                    </td>
                </tr>
                <tr class="bg-primary">
                    <td>
                        CV
                    </td>
                    <td>
                        Non-CV
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                        %
                    </td>
                    <td>
                        CV
                    </td>
                    <td>
                        Non-CV
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                        %
                    </td>
                    <td>
                        CV
                    </td>
                    <td>
                        Non-CV
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                        %
                    </td>
                </tr>
                <tr ng-repeat="item in subreport4_training_participants">
                    <td>
                        {{item.lgu_level_id == '1' ? item.training_category + " (Barangay/Community Level)" : item.training_category + " (Municipal Level)"}}
                    </td>
                    <td>
                        {{item.num_of_trainings}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants + item.male_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants_perc == 'NaN' || item.male_volunteer_participants_perc == 'Infinity' ? "" : item.male_volunteer_participants_perc}}
                    </td>
                    <td>
                        {{item.female_volunteer_participants}}
                    </td>
                    <td>
                        {{item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.female_volunteer_participants + item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.female_volunteer_participants_perc == 'NaN' || item.female_volunteer_participants_perc == 'Infinity'? "" : item.female_volunteer_participants_perc}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants + item.female_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_non_volunteer_participants + item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants + item.female_volunteer_participants +item.male_non_volunteer_participants + item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.total_volunteer_participants_perc == 'NaN' || item.total_volunteer_participants_perc == 'Infinity'? "" : item.total_volunteer_participants_perc}}
                    </td>
                </tr>

                <tr class="bg-gray" ng-hide="!subreport4_training_participants.length">
                    <td><b>Total</b></td>
                    <td>{{num_of_trainings_total == 'NaN' ? "" : num_of_trainings_total}}</td>
                    <td>{{male_volunteer_participants_subtotal == 'NaN' ? "" : male_volunteer_participants_subtotal}}</td>
                    <td>{{male_non_volunteer_participants_subtotal == 'NaN' ? "" : male_non_volunteer_participants_subtotal}}</td>
                    <td>{{male_participants_subtotal == 'NaN' ? "" : male_participants_subtotal}}</td>
                    <td></td>
                    <td>{{female_volunteer_participants_subtotal == 'NaN' ? "" : female_volunteer_participants_subtotal}}</td>
                    <td>{{female_non_volunteer_participants_subtotal == 'NaN' ? "" : female_non_volunteer_participants_subtotal}}</td>
                    <td>{{female_participants_subtotal == 'NaN' ? "" : female_participants_subtotal}}</td>
                    <td></td>
                    <td>{{volunteer_participants_subtotal == 'NaN' ? "" : volunteer_participants_subtotal}}</td>
                    <td>{{non_volunteer_participants_subtotal == 'NaN' ? "" : non_volunteer_participants_subtotal}}</td>
                    <td>{{total_participants_subtotal == 'NaN' ? "" : total_participants_subtotal}}</td>
                    <td></td>
                </tr>
                <tr ng-show="!subreport4_training_participants.length">
                    <td colspan="14"><i>No results to show.</i> </td>
                </tr>
            </table>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12"><strong>B. Male and Female IP, 4Ps, SLP and LGU Participants (Unique Count per Category)</strong></div>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <tr class="bg-primary">
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        Category
                    </td>
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        # of Trainings
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Male
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Female
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Total
                    </td>
                </tr>
                <tr class="bg-primary">
                    <td>
                        IP
                    </td>
                    <td>
                        4Ps
                    </td>
                    <td>
                        SLP
                    </td>
                    <td>
                        LGU
                    </td>
                    <td>
                        IP
                    </td>
                    <td>
                        4Ps
                    </td>
                    <td>
                        SLP
                    </td>
                    <td>
                        LGU
                    </td>
                    <td>
                        IP
                    </td>
                    <td>
                        4Ps
                    </td>
                    <td>
                        SLP
                    </td>
                    <td>
                        LGU
                    </td>
                </tr>
                <tr ng-repeat="item in subreport4_training_participants">
                    <td>
                        {{item.lgu_level_id == '1' ? item.training_category + " (Barangay/Community Level)" : item.training_category + " (Municipal Level)"}}
                    </td>
                    <td>
                        {{item.num_of_trainings}}
                    </td>
                    <td>
                        {{item.no_ip_male}}
                    </td>
                    <td>
                        {{item.no_pantawid_male}}
                    </td>
                    <td>
                        {{item.no_slp_male}}
                    </td>
                    <td>
                        {{item.no_lgu_male}}
                    </td>
                    <td>
                        {{item.no_ip_female}}
                    </td>
                    <td>
                        {{item.no_pantawid_female}}
                    </td>
                    <td>
                        {{item.no_slp_female}}
                    </td>
                    <td>
                        {{item.no_lgu_female}}
                    </td>
                    <td>
                        {{item.no_ip_male + item.no_ip_female}}
                    </td>
                    <td>
                        {{item.no_pantawid_male + item.no_pantawid_female}}
                    </td>
                    <td>
                        {{item.no_slp_male + item.no_slp_female}}
                    </td>
                    <td>
                        {{item.no_lgu_male + item.no_lgu_female}}
                    </td>
                </tr>

                <tr class="bg-gray" ng-hide="!subreport4_training_participants.length">
                    <td><b>Total</b></td>
                    <td>{{num_of_trainings_total == 'NaN' ? "" : num_of_trainings_total}}</td>
                    <td>{{no_ip_male_subtotal == 'NaN' ? "" : no_ip_male_subtotal}}</td>
                    <td>{{no_pantawid_male_subtotal == 'NaN' ? "" : no_pantawid_male_subtotal}}</td>
                    <td>{{no_slp_male_subtotal == 'NaN' ? "" : no_slp_male_subtotal}}</td>
                    <td>{{no_lgu_male_subtotal == 'NaN' ? "" : no_lgu_male_subtotal}}</td>
                    <td>{{no_ip_female_subtotal == 'NaN' ? "" : no_ip_female_subtotal}}</td>
                    <td>{{no_pantawid_female_subtotal == 'NaN' ? "" : no_pantawid_female_subtotal}}</td>
                    <td>{{no_slp_female_subtotal == 'NaN' ? "" : no_slp_female_subtotal}}</td>
                    <td>{{no_lgu_female_subtotal == 'NaN' ? "" : no_lgu_female_subtotal}}</td>
                    <td>{{ip_totalmf_subtotal == 'NaN' ? "" : ip_totalmf_subtotal}}</td>
                    <td>{{pantawid_totalmf_subtotal == 'NaN' ? "" : pantawid_totalmf_subtotal}}</td>
                    <td>{{slp_totalmf_subtotal == 'NaN' ? "" : slp_totalmf_subtotal}}</td>
                    <td>{{lgu_totalmf_subtotal == 'NaN' ? "" : lgu_totalmf_subtotal}}</td>
                </tr>
                <tr ng-show="!subreport4_training_participants.length">
                    <td colspan="14"><i>No results to show.</i> </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="panel panel-body" style="margin:10px">
        @Html.Partial("~/Views/Report/Common/_report_footer_template.cshtml")
    </div>

</div>



@* --------------------- Municipal and Barangay Training ==> Trainings Provided to Barangays --------------------- *@

<div class="panel panel-info" ng-show="selected_subreport.id == 5" id="subreport_5">
    <div class="panel panel-body">

        <div style="float:right">
            Report Generated: {{dateGenerated}}
        </div>

        <h3>KC Municipal Report - Municipal and Barangay Trainings</h3>
        <h4>{{selected_subreport.name}}</h4>

        <br /><br />

        <div class="row">
            <div class="col-md-3">
                <b>Region: </b>{{selected_region.Name}}
            </div>
            <div class="col-md-3">
                <b>Province: </b>{{selected_province.Name}}
            </div>
            <div class="col-md-3">
                <b>Municipality: </b>{{selected_city.Name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b>Project: </b>{{selected_fund.Name == null ? "Across Projects" : selected_fund.Name}}
            </div>
            <div class="col-md-3">
                <b>Cycle: </b>{{selected_cycle.Name  == null ? "Across Cycle" : selected_cycle.Name}}
            </div>
            <div class="col-md-3">
                <b>KC Mode: </b>{{selected_enrollment.Name  == null ? "Across KC Modes" : selected_enrollment.Name}}
            </div>
        </div>
        <br /><br />


        <div class="row">
            <div class="col-md-12"><strong>A. Male and Female Community Volunteers Participants (Unique Count per Category)</strong></div>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <tr class="bg-primary">
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        Barangay
                    </td>
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        Category
                    </td>
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        # of Trainings
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Male
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Female
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Total
                    </td>
                </tr>
                <tr class="bg-primary">
                    <td>
                        CV
                    </td>
                    <td>
                        Non-CV
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                        %
                    </td>
                    <td>
                        CV
                    </td>
                    <td>
                        Non-CV
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                        %
                    </td>
                    <td>
                        CV
                    </td>
                    <td>
                        Non-CV
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                        %
                    </td>
                </tr>

                <tr ng-repeat="item in trainings_provided_to_brgy | orderBy: 'brgy_name'">
                    <td>
                        {{item.brgy_name}}
                    </td>
                    <td>
                        {{item.training_category}}
                    </td>
                    <td>
                        {{item.num_of_trainings}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants + item.male_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants_perc == 'NaN' || item.male_volunteer_participants_perc == 'Infinity' ? "" : item.male_volunteer_participants_perc}}
                    </td>
                    <td>
                        {{item.female_volunteer_participants}}
                    </td>
                    <td>
                        {{item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.female_volunteer_participants + item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.female_volunteer_participants_perc == 'NaN' || item.female_volunteer_participants_perc == 'Infinity'? "" : item.female_volunteer_participants_perc}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants + item.female_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_non_volunteer_participants + item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.male_volunteer_participants + item.female_volunteer_participants +item.male_non_volunteer_participants + item.female_non_volunteer_participants}}
                    </td>
                    <td>
                        {{item.total_volunteer_participants_perc == 'NaN' || item.total_volunteer_participants_perc == 'Infinity'? "" : item.total_volunteer_participants_perc}}
                    </td>
                </tr>

                <tr class="bg-gray" ng-hide="!trainings_provided_to_brgy.length">
                    <td colspan="2"><b>Total</b></td>
                    <td>{{num_of_trainings_total == 'NaN' ? "" : num_of_trainings_total}}</td>
                    <td>{{male_volunteer_participants_subtotal == 'NaN' ? "" : male_volunteer_participants_subtotal}}</td>
                    <td>{{male_non_volunteer_participants_subtotal == 'NaN' ? "" : male_non_volunteer_participants_subtotal}}</td>
                    <td>{{male_participants_subtotal == 'NaN' ? "" : male_participants_subtotal}}</td>
                    <td></td>
                    <td>{{female_volunteer_participants_subtotal == 'NaN' ? "" : female_volunteer_participants_subtotal}}</td>
                    <td>{{female_non_volunteer_participants_subtotal == 'NaN' ? "" : female_non_volunteer_participants_subtotal}}</td>
                    <td>{{female_participants_subtotal == 'NaN' ? "" : female_participants_subtotal}}</td>
                    <td></td>
                    <td>{{volunteer_participants_subtotal == 'NaN' ? "" : volunteer_participants_subtotal}}</td>
                    <td>{{non_volunteer_participants_subtotal == 'NaN' ? "" : non_volunteer_participants_subtotal}}</td>
                    <td>{{total_participants_subtotal == 'NaN' ? "" : total_participants_subtotal}}</td>
                    <td></td>
                </tr>
                <tr ng-show="!trainings_provided_to_brgy.length">
                    <td colspan="15"><i>No results to show.</i> </td>
                </tr>

            </table>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12"><strong>B. Male and Female IP, 4Ps, SLP and LGU Participants</strong></div>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <tr class="bg-primary">
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        Barangay
                    </td>
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        Category
                    </td>
                    <td rowspan="2" align="center" style="vertical-align:middle">
                        # of Trainings
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Male
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Female
                    </td>
                    <td colspan="4" align="center" style="vertical-align:middle">
                        Total
                    </td>
                </tr>

                <tr class="bg-primary">
                    <td>
                        IP
                    </td>
                    <td>
                        4Ps
                    </td>
                    <td>
                        SLP
                    </td>
                    <td>
                        LGU
                    </td>
                    <td>
                        IP
                    </td>
                    <td>
                        4Ps
                    </td>
                    <td>
                        SLP
                    </td>
                    <td>
                        LGU
                    </td>
                    <td>
                        IP
                    </td>
                    <td>
                        4Ps
                    </td>
                    <td>
                        SLP
                    </td>
                    <td>
                        LGU
                    </td>
                </tr>

                <tr ng-repeat="item in trainings_provided_to_brgy | orderBy: 'brgy_name'">
                    <td>
                        {{item.brgy_name}}
                    </td>
                    <td>
                        {{item.training_category}}
                    </td>
                    <td>
                        {{item.num_of_trainings}}
                    </td>
                    <td>
                        {{item.no_ip_male}}
                    </td>
                    <td>
                        {{item.no_pantawid_male}}
                    </td>
                    <td>
                        {{item.no_slp_male}}
                    </td>
                    <td>
                        {{item.no_lgu_male}}
                    </td>
                    <td>
                        {{item.no_ip_female}}
                    </td>
                    <td>
                        {{item.no_pantawid_female}}
                    </td>
                    <td>
                        {{item.no_slp_female}}
                    </td>
                    <td>
                        {{item.no_lgu_female}}
                    </td>
                    <td>
                        {{item.no_ip_male + item.no_ip_female}}
                    </td>
                    <td>
                        {{item.no_pantawid_male + item.no_pantawid_female}}
                    </td>
                    <td>
                        {{item.no_slp_male + item.no_slp_female}}
                    </td>
                    <td>
                        {{item.no_lgu_male + item.no_lgu_female}}
                    </td>
                </tr>

                <tr class="bg-gray" ng-hide="!trainings_provided_to_brgy.length">
                    <td colspan="2"><b>Total</b></td>
                    <td>{{num_of_trainings_total == 'NaN' ? "" : num_of_trainings_total}}</td>
                    <td>{{no_ip_male_subtotal == 'NaN' ? "" : no_ip_male_subtotal}}</td>
                    <td>{{no_pantawid_male_subtotal == 'NaN' ? "" : no_pantawid_male_subtotal}}</td>
                    <td>{{no_slp_male_subtotal == 'NaN' ? "" : no_slp_male_subtotal}}</td>
                    <td>{{no_lgu_male_subtotal == 'NaN' ? "" : no_lgu_male_subtotal}}</td>
                    <td>{{no_ip_female_subtotal == 'NaN' ? "" : no_ip_female_subtotal}}</td>
                    <td>{{no_pantawid_female_subtotal == 'NaN' ? "" : no_pantawid_female_subtotal}}</td>
                    <td>{{no_slp_female_subtotal == 'NaN' ? "" : no_slp_female_subtotal}}</td>
                    <td>{{no_lgu_female_subtotal == 'NaN' ? "" : no_lgu_female_subtotal}}</td>
                    <td>{{ip_totalmf_subtotal == 'NaN' ? "" : ip_totalmf_subtotal}}</td>
                    <td>{{pantawid_totalmf_subtotal == 'NaN' ? "" : pantawid_totalmf_subtotal}}</td>
                    <td>{{slp_totalmf_subtotal == 'NaN' ? "" : slp_totalmf_subtotal}}</td>
                    <td>{{lgu_totalmf_subtotal == 'NaN' ? "" : lgu_totalmf_subtotal}}</td>
                </tr>
                <tr ng-show="!trainings_provided_to_brgy.length">
                    <td colspan="15"><i>No results to show.</i> </td>
                </tr>

            </table>
        </div>

    </div>

    <div class="panel panel-body" style="margin:10px">
        @Html.Partial("~/Views/Report/Common/_report_footer_template.cshtml")
    </div>

</div>

