
<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>Financial Source</h4>
        <p ng-show="data.profile_=='brgy'">          What is the total annual budget of the barangay? How much was the IRA in the previous year? What are other sources of funds of the barangay?</p>
        <p ng-show="data.profile_=='muni'">          What is the total annual budget of the municipality? How much was the IRA in the previous year? What are other sources of funds of the municipality?</p>
    </div>

    <div class="panel-body">
        <form name="financial_sourceForm">

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">

                </div>
                <div flex="50" flex-sm="100">
                    <p style="font-size:medium; font-weight:700">Fund Source</p>
                </div>
                <div flex="50" flex-sm="100">
                    <p style="font-size:medium; font-weight:700">Amount</p>
                </div>
            </div>

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">

                </div>
                <div flex="50" flex-sm="100">
                    IRA
                </div>
                <div flex="50" flex-sm="100">
                    <input min="0" name="IRA" class="form-control" required ng-model="data.ira_amount" type="number" />
                </div>
            </div>

            <div flex="100" layout="row" layout-margin layout-sm="column" ng-repeat="item in data.financial_sources">
                <div flex="50" flex-sm="100">
                    <a class="btn btn-info" style="margin-right:5px" ng-click="edit_is_selected=true; editFinancial(item)" ng-hide="edit_is_selected"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="removeFinancial($index)" ng-hide="edit_is_selected"><i class="fa fa-trash"></i></a>

                    <a class="btn btn-success" style="margin-right:5px" ng-click="edit_is_selected=false; saveEditedFinancial(item)" ng-show="edit_is_selected"><i class="fa fa-check"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="cancelEditFinancial(item); edit_is_selected=false" ng-show="edit_is_selected"><i class="fa fa-close"></i></a>
                </div>
                <div flex="50" flex-sm="100">
                    <span ng-hide="edit_is_selected">{{item.name}}</span>
                    <input ng-model="item.name" class="form-control" required ng-show="edit_is_selected" />
                </div>
                <div flex="50" flex-sm="100">
                    <span ng-hide="edit_is_selected">{{item.amount}}</span>
                    <input ng-model="item.amount" type="number" class="form-control" required min="0" ng-show="edit_is_selected"/>
                </div>
            </div>
            
            @*THIS IS FOR NEW ENTRY:*@
            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">
                    <a class="btn btn-success" ng-disabled="!financial_sourceForm.$valid" ng-click="addFinancial()"><i class="fa fa-plus"></i></a>
                </div>
                <div flex="50" flex-sm="100">
                    <input ng-model="item.name" class="form-control" required />
                </div>

                <div flex="50" flex-sm="100">
                    <input ng-model="item.amount" type="number" class="form-control" required min="0" />
                </div>
            </div>

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">
                </div>
                <div flex="50" flex-sm="100">
                </div>
                <div flex="50" flex-sm="100">
                    <span style="font-size:medium"><b>{{computeFinancialSourcesTotal('amount') | currency:"₱"}}</b></span>
                </div>
            </div>

            <i>*Indicate IRA before adding other sources</i>

        </form>
    </div>
</div>



<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>Financial Allocation</h4>
        <p ng-show="data.profile_=='brgy'">          How were Barangay Funds allocated in the previous year?</p>
        <p ng-show="data.profile_=='muni'">          How were Municipal Funds allocated in the previous year?</p>
    </div>

    <form name="financial_allocationForm" flex="100">





        <div flex="100" layout="row" layout-margin layout-sm="column">

            <div flex="50" flex-sm="100">
                <label>Environment</label>

            </div>
            <div flex="50" flex-sm="100">
                <input type="number" name="alloc_env" ng-model="data.alloc_env" required class="form-control" min="0">

            </div>





        </div>
        <md-divider></md-divider>

        @*Additional: 04-25-17 Workitem# 351 (alloc_econ already available on db)*@
        <div flex="100" layout="row" layout-margin layout-sm="column">

            <div flex="50" flex-sm="100">
                <label>Economic Sector</label>
            </div>
            <div flex="50" flex-sm="100">
                <input type="number" name="alloc_env" ng-model="data.alloc_econ" required class="form-control" min="0">
            </div>
        </div>
        <md-divider></md-divider>


        <div flex="100" layout="row" layout-margin layout-sm="column">

            <div flex="50" flex-sm="100">
                <label>Infra</label>

            </div>
            <div flex="50" flex-sm="100">

                <input type="number" name="alloc_env" ng-model="data.alloc_infra" required class="form-control" min="0">

            </div>





        </div>

        <md-divider></md-divider>
        <div flex="100" layout="row" layout-margin layout-sm="column">

            <div flex="50" flex-sm="100">
                <label>Social Development</label>

            </div>
            <div flex="50" flex-sm="100">
                <input type="number" name="alloc_env" ng-model="data.alloc_basic" required class="form-control" min="0">

            </div>





        </div>
        <md-divider></md-divider>
        <div flex="100" layout="row" layout-margin layout-sm="column">

            <div flex="50" flex-sm="100">
                <label>Institutional Sector</label>

            </div>
            <div flex="50" flex-sm="100">

                <input type="number" name="alloc_env" ng-model="data.alloc_inst" required class="form-control" min="0">

            </div>





        </div>
        <md-divider></md-divider>
        <div flex="100" layout="row" layout-margin layout-sm="column">

            <div flex="50" flex-sm="100">
                <label>GAD</label>

            </div>
            <div flex="50" flex-sm="100">

                <input type="number" name="alloc_env" ng-model="data.alloc_gender" required class="form-control" min="0">

            </div>





        </div>
        <md-divider></md-divider>
        <div flex="100" layout="row" layout-margin layout-sm="column">

            <div flex="50" flex-sm="100">
                <label>DRRM</label>

            </div>
            <div flex="50" flex-sm="100">

                <input type="number" name="alloc_env" ng-model="data.alloc_drrm" required class="form-control" min="0">

            </div>





        </div>

        <md-divider></md-divider>

        <div flex="100" layout="row" layout-margin layout-sm="column">


            <div flex="50" flex-sm="100">
                <label>Other Allocations</label>

            </div>

            <div flex="50" flex-sm="100">
                <input type="number" name="alloc_env" ng-model="data.alloc_others" required class="form-control" min="0">

            </div>



        </div>

        <div flex="100" layout="row" layout-margin layout-sm="column">


            <div flex="50" flex-sm="100">
                <label>Total</label>

            </div>

            <div flex="50" flex-sm="100">
                <label>{{data.alloc_env + data.alloc_econ + data.alloc_infra +data.alloc_basic + data.alloc_inst + data.alloc_gender + data.alloc_drrm + data.alloc_others | currency:"₱"}}</label>
            </div>



        </div>
    </form>


</div>



<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>GAD Utilization</h4>
        <p ng-show="data.profile_=='brgy'">          How was GAD Fund utilized by the barangay?</p>
        <p ng-show="data.profile_=='muni'">          How was GAD Fund utilized by the municipality?</p>
    </div>

    <div class="panel-body">
        <form name="gadForm">

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">

                </div>
                <div flex="50" flex-sm="100">
                    <p style="font-size:medium; font-weight:700">Activity</p>
                </div>
                <div flex="50" flex-sm="100">
                    <p style="font-size:medium; font-weight:700">Amount</p>
                </div>
            </div>
            
            <div flex="100" layout="row" layout-margin layout-sm="column" ng-repeat="gad in data.gad_activities">
                <div flex="50" flex-sm="100">
                    <a class="btn btn-info" style="margin-right:5px" ng-click="gad_edit_is_selected=true; editGad(gad)" ng-hide="gad_edit_is_selected"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="removeGad($index)" ng-hide="gad_edit_is_selected"><i class="fa fa-trash"></i></a>

                    <a class="btn btn-success" style="margin-right:5px" ng-click="gad_edit_is_selected=false; saveEditedGad(gad)" ng-show="gad_edit_is_selected"><i class="fa fa-check"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="cancelEditGad(gad); gad_edit_is_selected=false" ng-show="gad_edit_is_selected"><i class="fa fa-close"></i></a>
                </div>
                <div flex="50" flex-sm="100">
                    <span ng-hide="gad_edit_is_selected">{{gad.name}}</span>
                    <input ng-model="gad.name" class="form-control" required ng-show="gad_edit_is_selected" />
                </div>
                <div flex="50" flex-sm="100">
                    <span ng-hide="gad_edit_is_selected">{{gad.amount}}</span>
                    <input ng-model="gad.amount" type="number" class="form-control" required min="0" ng-show="gad_edit_is_selected" />
                </div>
            </div>

            @*THIS IS FOR NEW ENTRY:*@
            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">
                    <a class="btn btn-success" ng-disabled="!gadForm.$valid" ng-click="addGad()"><i class="fa fa-plus"></i></a>
                </div>
                <div flex="50" flex-sm="100">
                    <input ng-model="gad.name" class="form-control" required />
                </div>

                <div flex="50" flex-sm="100">
                    <input ng-model="gad.amount" type="number" class="form-control" required min="0" />
                </div>
            </div>

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">
                </div>
                <div flex="50" flex-sm="100">
                </div>
                <div flex="50" flex-sm="100">
                    <span style="font-size:medium"><b>{{computeGadTotal('amount') | currency:"₱"}}</b></span>
                </div>
            </div>
            
        </form>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>DRRM Utilization</h4>
        <p ng-show="data.profile_=='brgy'">          How was DRRM Fund utilized by the barangay?</p>
        <p ng-show="data.profile_=='muni'">          How was DRRM Fund utilized by the municipality?</p>
    </div>

    <div class="panel-body">
        <form name="drrmForm">

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">

                </div>
                <div flex="50" flex-sm="100">
                    <p style="font-size:medium; font-weight:700">Activity</p>
                </div>
                <div flex="50" flex-sm="100">
                    <p style="font-size:medium; font-weight:700">Amount</p>
                </div>
            </div>

            <div flex="100" layout="row" layout-margin layout-sm="column" ng-repeat="drrm in data.drrm_activities">
                <div flex="50" flex-sm="100">
                    <a class="btn btn-info" style="margin-right:5px" ng-click="drrm_edit_is_selected=true; editDRRM(drrm)" ng-hide="drrm_edit_is_selected"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="removeDRRM($index)" ng-hide="drrm_edit_is_selected"><i class="fa fa-trash"></i></a>

                    <a class="btn btn-success" style="margin-right:5px" ng-click="drrm_edit_is_selected=false; saveEditedDRRM(drrm)" ng-show="drrm_edit_is_selected"><i class="fa fa-check"></i></a>
                    <a class="btn btn-danger" style="margin-right:5px" ng-click="cancelEditDRRM(drrm); drrm_edit_is_selected=false" ng-show="drrm_edit_is_selected"><i class="fa fa-close"></i></a>
                </div>
                <div flex="50" flex-sm="100">
                    <span ng-hide="drrm_edit_is_selected">{{drrm.name}}</span>
                    <input ng-model="drrm.name" class="form-control" required ng-show="drrm_edit_is_selected" />
                </div>
                <div flex="50" flex-sm="100">
                    <span ng-hide="drrm_edit_is_selected">{{drrm.amount}}</span>
                    <input ng-model="drrm.amount" type="number" class="form-control" required min="0" ng-show="drrm_edit_is_selected" />
                </div>
            </div>

            @*THIS IS FOR NEW ENTRY:*@
            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">
                    <a class="btn btn-success" ng-disabled="!drrmForm.$valid" ng-click="addDRRM()"><i class="fa fa-plus"></i></a>
                </div>
                <div flex="50" flex-sm="100">
                    <input ng-model="drrm.name" class="form-control" required />
                </div>

                <div flex="50" flex-sm="100">
                    <input ng-model="drrm.amount" type="number" class="form-control" required min="0" />
                </div>
            </div>

            <div flex="100" layout="row" layout-margin layout-sm="column">
                <div flex="50" flex-sm="100">
                </div>
                <div flex="50" flex-sm="100">
                </div>
                <div flex="50" flex-sm="100">
                    <span style="font-size:medium"><b>{{computeDRRMTotal('amount') | currency:"₱"}}</b></span>
                </div>
            </div>

        </form>
    </div>
</div>
	
