@{Layout = null; }


<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>
            Land Tenure Status
        </h4>
    </div>


    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">Tenurial Status</div>
            <div flex="25">No. HHs</div>
            <div flex="25">No. Male Headed HHs</div>
            <div flex="25">No. Female Headed HHs</div>
        </div>
    </md-list-item>



    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">Owner</div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="hhs_owner" ng-model="data.hhs_owner" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headmale_owner" ng-model="data.headmale_owner" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headffemale_owner" ng-model="data.headffemale_owner" class="form-control"></div>
        </div>
    </md-list-item>


    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">Tenant</div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="hhs_owner" ng-model="data.hhs_tenant" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headmale_owner" ng-model="data.headmale_tenant" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headffemale_owner" ng-model="data.headfemale_tenant" class="form-control"></div>
        </div>
    </md-list-item>


    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">Renting</div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="hhs_owner" ng-model="data.hhs_renting" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headmale_owner" ng-model="data.headmale_renting" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headffemale_owner" ng-model="data.headfemale_renting" class="form-control"></div>
        </div>
    </md-list-item>



    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">Squattng</div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="hhs_owner" ng-model="data.hhs_squatting" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headmale_owner" ng-model="data.headmale_squatting" class="form-control"></div>
            <div flex="25"><input type="number" ng-pattern="/^[0-9]{1,7}$/" name="headffemale_owner" ng-model="data.headfemale_squatting" class="form-control"></div>
        </div>
    </md-list-item>





    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">What is the average annual household income?</div>
            <div flex="25"><input min="0" type="number" ng-pattern="/^[0-9]{1,7}$/" name="hhs_owner" ng-model="data.householdincome_average" class="form-control"></div>

        </div>
    </md-list-item>

    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">What is the average annual income for male-headed HHs?</div>
            <div flex="25"><input min="0" type="number" ng-pattern="/^[0-9]{1,7}$/"  name="hhs_owner" ng-model="data.maleheaded_hhs" class="form-control"></div>

        </div>
    </md-list-item>
    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">What is the average annual income for female-headed HHs??</div>
            <div flex="25"><input min="0" type="number" ng-pattern="/^[0-9]{1,7}$/"  name="hhs_owner" ng-model="data.femaleheaded_hhs" class="form-control"></div>

        </div>
    </md-list-item>
    <md-list-item layout-margin>
        <div flex="100" layout="row" layout-margin>
            <div flex="25">What is the average annual income for IP-headed HHs?</div>
            <div flex="25"><input min="0" type="number" ng-pattern="/^[0-9]{1,7}$/"  name="hhs_owner" ng-model="data.ipheaded_hhs" class="form-control"></div>

        </div>
    </md-list-item>

</div>



