 
<div class="panel panel-success">
    <div class="panel panel-heading">
        <h3>Mode of Transportation</h3>
        
        <p>@*What is the total annual budget of the municipality? How much was the IRA in the previous year? What are other sources of funds of the municipality?*@</p>
    </div>
    <div flex="100" layout="row" layout-margin layout-sm="column">
        <div flex="50" flex-sm="100">

        </div>
        <div flex="50" flex-sm="100">

            Name
        </div>
        <div flex="50" flex-sm="100">

            Route
        </div>
        <div flex="50" flex-sm="100">
            Minimum Fare
        </div>
        <div flex="50" flex-sm="100">
            Maximum Fare
        </div>
    </div>

    <div flex="100" layout="row" layout-margin layout-sm="column" ng-repeat="item in data.transportations">
        <div flex="50" flex-sm="100">
            <a class="btn btn-danger" ng-click="removeTranspo($index)"><i class="fa fa-trash"></i></a>
        </div>
        <div flex="50" flex-sm="100">

            {{item.name}}
        </div>
        <div flex="50" flex-sm="100">

            {{item.destination}}
        </div>
        <div flex="50" flex-sm="100">
            {{item.min}}
        </div>
        <div flex="50" flex-sm="100">
            {{item.max}}
        </div>

    </div>

    <form name="transpoForm">
        <div flex="100" layout="row" layout-margin layout-sm="column">
            <div flex="50" flex-sm="100">
                <a class="btn btn-success" ng-disabled="!transpoForm.$valid" ng-click="addTranspo()"><i class="fa fa-plus"></i></a>
            </div>
            <div flex="50" flex-sm="100">

                <select name="city_cide" ng-model="transpo.name" id="city_code" class="form-control"
                        ng-required="true"
                       
                        ng-options="option.Name as option.Name for option in transpo_mode_options">


                    <option value="">[Select Transportation Mode]</option>
                </select>
            </div>
            <div flex="50" flex-sm="100">
                <input  ng-model="transpo.destination" type="text" class="form-control" required   />
            </div>
            <div flex="50" flex-sm="100">
                <input ng-app-max="{{transpo.max}}" ng-model="transpo.min" type="number" class="form-control" required min="0" />
            </div>
            <div flex="50" flex-sm="100">
                <input  ng-model="transpo.max" type="number" class="form-control" required min="0" />
            </div>
        </div>
    </form>



</div>

