@{Layout = null; }



<div class="panel panel-info">

    <div class="panel panel-heading">
        <h4>Socio Economic Information</h4>
        <p>Identify top three income-generating activities in the Municipality, average income per activity and number of HHs involved</p>

    </div>



    <div flex="100" class="layout-row" layout-margin>




        <div flex="5">Rank</div>
        <div flex>Activity</div>
        <div flex>No. of HHs</div>
        <div flex>Ave. Income</div>
        <div flex="10">Seasonality</div>
        <div flex="10"></div>
    </div>

    <div flex="100" class="layout-row" layout-margin>




        <div flex="5">1</div>
        <div flex><input type="text" ng-model="data.socio_econ_activity_1" class="form-control" /></div>
        <div flex><input type="number" min="0" ng-model="data.socio_econ_hhs_1" class="form-control" /></div>
        <div flex><input type="number" min="0" ng-model="data.socio_econ_amount_1" class="form-control" /></div>
        <div flex="10">
            <select name="Seasonality (From)" ng-model="data.socio_econ_seasonality_from_1" id="seasonality_from_1" class="form-control"
                    ng-options="option for option in seasonality_options">
                <option value="">[From]</option>
            </select>            
        </div>
        <div flex="10">
            <select name="Seasonality (To)" ng-model="data.socio_econ_seasonality_to_1" id="seasonality_to_1" class="form-control"
                    ng-options="option for option in seasonality_options">
                <option value="">[To]</option>
            </select>
        </div>
    </div>



    <div flex="100" class="layout-row" layout-margin>




        <div flex="5">2</div>
        <div flex><input type="text" ng-model="data.socio_econ_activity_2" class="form-control" /></div>
        <div flex><input type="number" min="0" ng-model="data.socio_econ_hhs_2" class="form-control" /></div>
        <div flex><input type="text" ng-model="data.socio_econ_amount_2" class="form-control" /></div>
        <div flex="10">
            <select name="Seasonality (From)" ng-model="data.socio_econ_seasonality_from_2" id="seasonality_from_1" class="form-control"
                    ng-options="option for option in seasonality_options">
                <option value="">[From]</option>
            </select>
        </div>
        <div flex="10">
            <select name="Seasonality (To)" ng-model="data.socio_econ_seasonality_to_2" id="seasonality_to_1" class="form-control"
                    ng-options="option for option in seasonality_options">
                <option value="">[To]</option>
            </select>
        </div>
    </div>
    <div flex="100" class="layout-row" layout-margin>




        <div flex="5">3</div>
        <div flex><input type="text" ng-model="data.socio_econ_activity_3" class="form-control" /></div>
        <div flex><input type="number" min="0" ng-model="data.socio_econ_hhs_3" class="form-control" /></div>
        <div flex><input type="text" ng-model="data.socio_econ_amount_3" class="form-control" /></div>
        <div flex="10">
            <select name="Seasonality (From)" ng-model="data.socio_econ_seasonality_from_3" id="seasonality_from_1" class="form-control"
                    ng-options="option for option in seasonality_options">
                <option value="">[From]</option>
            </select>
        </div>
        <div flex="10">
            <select name="Seasonality (To)" ng-model="data.socio_econ_seasonality_to_3" id="seasonality_to_1" class="form-control"
                    ng-options="option for option in seasonality_options">
                <option value="">[To]</option>
            </select>
        </div>
    </div>
</div>
